swagger: "2.0"

info:
  version: "1.0.0"
  title: "Data Access API"
  description: "Data Access API for platform data access and egress"
  
host: "platform-int.adobe.io"
basePath: "/data/foundation/export"

tags:
  - name: "dataAccess"
    description: "API's for data access on Platform"

paths:
  /files/{dataSetFileId}:
    head:
      security:
        - Bearer: []
      operationId: "get-dataset-file-operation"
      tags:
        - dataAccess
      summary: "Gets headers in response signifying what is allowed on this file"
      description: "Gets headers in response signifying what is allowed on this file"
      parameters:
       - name: "x-gw-ims-org-id"
         type: "string"
         in: "header"
         required: true
         description: "Ims Org Identifier"
       - name: "path"
         type: "string"
         description: "Name of file under partition identified by File Identifier"
         in: "query"
         required: true
       - name: "dataSetFileId"
         in: "path"
         required: true
         description: "File Identifier"
         type: "string"
       - name: "x-api-key"
         type: "string"
         in: "header"
         required: true
         description: "API key"
      responses:
        200:
          description: "OK"
          headers:
            Content-type:
              description: "application/json"
              type: "string"
            Accept-Ranges:
              description: "Unit of Range E.g, bytes"
              type: "string"
            Content-Length:
              description: "Size of payload (bytes) in the response"
              type: "integer"
        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    get:
      security:
        - Bearer: []
      operationId: "get-dataset-file-data"
      tags:
        - dataAccess
      summary: "Download a file"
      description: "Returns complete or chunked data for a particular file."
      parameters:
       - name: "x-gw-ims-org-id"
         type: "string"
         in: "header"
         required: true
         description: "Ims Org Identifier"
       - name: "path"
         type: "string"
         description: "Name of file under partition identified by File Identifier. The file would be downloaded if path is provided. Otherwise, it lists all the files under the direcotry."
         in: "query"
         required: false
       - name: "dataSetFileId"
         in: "path"
         required: true
         description: "File Identifier"
         type: "string"
       - name: "x-api-key"
         type: "string"
         in: "header"
         required: true
         description: "API key"
       - name: "Range"
         in: "header"
         type: "string"
         required: false
         description: "Range of bytes requested. E.g, Range: bytes=0-100000"
       - name: "start"
         in: "query"
         required: false
         type: "string"
         description: "Paging parameter to specify start of new page. E.g, start=fileName.csv"
       - name: "limit"
         in: "query"
         required: false
         type: "integer"
         description: "Paging parameter to specify number of results per page. E.g, limit=10"
      produces:
        - application/json
        - application/octet-stream
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/files"
        206:
          description: "Partial Content"
          headers:
            Content-Range:
              description: "Range of bytes sent by the server. Can be different from what user requested. E.g, Content-Range: bytes 0-100/124000"
              type: "string"
            Content-Length:
              description: "Size of payload (bytes) in the response"
              type: "integer"

        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"

  /health-detailed:
    get:
      operationId: "get-health-detailed"
      tags:
        - dataAccess
      summary: "Perform a health check for dependent services"
      description: "Returns status of each dependent service signifying its health"
      parameters:
       - name: "x-gw-ims-org-id"
         type: "string"
         in: "header"
         required: true
         description: "Ims Org Identifier"
       - name: "x-api-key"
         type: "string"
         in: "header"
         required: true
         description: "API key"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/health-detailed"
        500:
          description: "Internal Server Error"

  /batches/{batchId}/files:
    get:
      security:
        - Bearer: []
      operationId: "get-dataset-files-by-batchId"
      tags:
        - dataAccess
      summary: "Get dataset files."
      description: "List all Dataset files under a batch."
      parameters:
       - name: "x-gw-ims-org-id"
         type: "string"
         in: "header"
         required: true
         description: "Ims Org Identifier"
       - name: "batchId"
         in: "path"
         required: true
         description: "Batch Identifier"
         type: "string"
       - name: "x-api-key"
         type: "string"
         in: "header"
         required: true
         description: "API key"
       - name: "start"
         in: "query"
         required: false
         type: "string"
         description: "Paging parameter to specify start of new page. E.g, start=1"
       - name: "limit"
         in: "query"
         required: false
         type: "string"
         description: "Paging parameter to specify number of results per page. E.g, limit=10"
      produces:
        - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/dataSetFiles"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"



definitions:
  files:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/files.data.item"
      _page:
        $ref: "#/definitions/files.page"
      _links:
        $ref: "#/definitions/files.links"

  files.data.item:
    properties:
      name:
        type: "string"
      length:
        type: "string"
      _links:
        $ref: "#/definitions/files.data.item.links"

  files.data.item.links:
    properties:
      self:
        $ref: "#/definitions/files.data.item.links.self"

  files.data.item.links.self:
    properties:
      href:
        type: "string"

  files.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  files.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  files.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"

  files.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/files.links.next"
      page:
        $ref: "#/definitions/files.links.page"

  health-detailed:
    type: "object"
    properties:
      status:
        type: "boolean"
      dependencies:
        type: "array"
        items:
          $ref: "#/definitions/health-detailed.dependencies.item"

  health-detailed.dependencies.item:
    type: "object"
    properties:
      service:
        type: "string"
      status:
        type: "boolean"

  dataSetFiles:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/dataSetFiles.data.item"
      _page:
        $ref: "#/definitions/dataSetFiles.page"
      _links:
        $ref: "#/definitions/dataSetFiles.links"

  dataSetFiles.data.item:
    properties:
      dataSetFileId:
        type: "string"
      dataSetViewId:
        type: "string"
      version:
        type: "string"
      created:
        type: "string"
      updated:
        type: "string"
      records:
        type: "string"
      size:
        type: "string"
      isValid:
        type: "boolean"
      _links:
        $ref: "#/definitions/dataSetFiles.data.item.links"

  dataSetFiles.data.item.links:
    properties:
      self:
        $ref: "#/definitions/dataSetFiles.data.item.links.self"

  dataSetFiles.data.item.links.self:
    properties:
      href:
        type: "string"

  dataSetFiles.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  dataSetFiles.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/dataSetFiles.links.next"
      page:
        $ref: "#/definitions/dataSetFiles.links.page"

  dataSetFiles.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  dataSetFiles.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"
