swagger: '2.0'
info:
  version: '1.0'
  title: Catalog Service API
  description: >-
    Catalog is the system of record for data location and lineage within Adobe Experience Platform. Catalog is not the actual files or directories containing data, rather it holds the metadata and description of those files and directories.
    

    Simply put, Catalog acts as a metadata store or "catalog" where you can find information about your data within Experience Platform.


    You can use Catalog to answer questions such as, where is my data located? at what stage of processing is this data? what systems or processes have acted on my data? what errors occurred during processing? and, if successful, how much data was processed?


    Related documentation:
      * [Catalog Service documentation](https://docs.adobe.com/content/help/en/experience-platform/catalog/home.html)

    Visualize API calls with Postman (a free, third-party software):
      * [Catalog Service API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Catalog%20Service%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/foundation/catalog
      * Example of a complete path: https://<span>platform.adobe.io/data/foundation/catalog/batches

    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://docs.adobe.com/content/help/en/experience-platform/tutorials/authentication.html).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://docs.adobe.com/content/help/en/experience-platform/sandbox/home.html) for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

basePath: /data/foundation/catalog
host: platform.adobe.io
tags:
  - name: Accounts
    description: Accounts represent a collection of authentication credentials used to create data connections of a specific type. Each connection has a set of unique parameters that are persisted by Catalog and secured in an Azure Key Vault using Security Services.
  - name: Batches
    description: Batches allow Catalog users to understand which operations and applications have been performed on objects tracked by the system. A batch outlines the final results of an operation (such as records processed, or size on disk) but may also include links to datasets, files, and more that were affected by the process.
  - name: Batched requests
    description: Batched requests allow you to supply an array of objects in the request payload, representing what would normally be individual requests. Requests are executed in order and values returned from a previous call are made available in subsequent calls through template language.
  - name: Connectors
    description: Connectors define how and when data is ingested into Platform. They control how data is to be gathered from technology sources (like S3, RedShift, and SFTP) and partner sources (like DFA, SAP, MSFT, and ExactTarget). Connectors also define how and when data from Adobe solutions is ingested into Platform.
  - name: Connections
    description: Connections are customer-specific instances of connectors. As an example, when a user selects the Azure Blob connector and supplies the necessary details as defined by that connector, the result is a connection.
  - name: Datasets
    description: Datasets are the building blocks for data transformation and tracking in Catalog Service. Generally, datasets represent a table or file made available by a connection.
  - name: Dataset files
    description: Dataset files represent blocks of data that have been saved on Platform. As records of literal files, these are where you can find the file size and which batch the file came from. This construct will also provide the number of records contained in the file.
  - name: Dataset views
  - name: Large documents
    description: Large documents are ingested files that exceed 512MB in size. These files are divided into chunks and ingested separately.
  - name: Tags
    description: Tags are used to attach information to an object and then be used later to retrieve the object. The choice of what tags are used and how they are applied depends on your organizational processes.
  - name: Transforms
    description: Transforms are used to house the instructions that translate data into a new form. As a customer maps their newly uploaded data to an Experience Data Model (XDM) schema, a transform is created to document links to the repository where the code resides, as well as a link to the vehicle (or engine) used to perform that work.
  
produces:
  - application/json
paths:
  /accounts:
    get:
      tags:
        - Accounts
      operationId: get_accounts
      summary: Retrieve a list of accounts.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: connector
          description: The ID for the Connector this Account params was created from.
          required: false
          type: string
          in: query
        - $ref: '#/parameters/accept-encoding'
        - $ref: '#/parameters/description'
        - $ref: '#/parameters/version'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: account response.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/accountResponse'
          examples:
            application/json:
              {
                  "597650bf4b358a650c6127bb": {
                      "connector": "salesforce",
                      "version": "1.0.0",
                      "created": 1500926143359,
                      "updated": 1500926143359,
                      "createdClient": "MCDPCatalogServiceStage",
                      "createdUser": "MCDPCatalogServiceStage@AdobeID",
                      "updatedUser": "MCDPCatalogServiceStage@AdobeID",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "params": {
                          "username": "foo",
                          "password": {
                              "value": "XXXXXXX",
                              "isSecret": true
                         } ,
                          "securityToken": {
                              "value": "XXXXXXX",
                              "isSecret": true
                          }
                      }
                  }
               }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Accounts
      summary: Create a new account.
      operationId: post_account
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/accept-encoding'
        - name: account
          description: Account to be posted.
          required: true
          in: body
          schema:
            $ref: '#/definitions/accountRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/accounts/accountId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/accounts/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Accounts
      operationId: get_account_by_id
      summary: Look up an account by ID.
      produces:
        - application/json
      responses:
        '200':
          description: account response.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/accountResponse'
          examples:
              application/json:
                          {
                              "597650bf4b358a650c6127bb": {
                                  "connector": "salesforce",
                                  "version": "1.0.0",
                                  "created": 1500926143359,
                                  "updated": 1500926143359,
                                  "createdClient": "MCDPCatalogServiceStage",
                                  "createdUser": "MCDPCatalogServiceStage@AdobeID",
                                  "updatedUser": "MCDPCatalogServiceStage@AdobeID",
                                  "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                                  "params": {
                                      "username": "foo",
                                      "password": {
                                          "value": "XXXXXXX",
                                          "isSecret": true
                                     } ,
                                      "securityToken": {
                                          "value": "XXXXXXX",
                                          "isSecret": true
                                      }
                                  }
                              }
                           }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Accounts
      summary: Create a new account with a specified ID.
      operationId: post_account_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account
          description: Account to be posted.
          required: true
          in: body
          schema:
            $ref: '#/definitions/accountRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/accounts/accountId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    put:
      tags:
        - Accounts
      summary: Update an existing account by ID.
      operationId: update_account_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: account
          description: Account field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/accountRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/accounts/accountId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    patch:
      tags:
        - Accounts
      summary: Update one or more attributes of an account specified by ID.
      operationId: patch_account_by_id
      consumes:
        - application/json
        - application/json-patch+json
      parameters:
        - name: account
          description: Account field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/accountPatchRequest'
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/json-header'
        - $ref: '#/parameters/if-none-match'
      responses:
        '200':
          description: 'Array[ @/accounts/accountId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      tags:
        - Accounts
      summary: Delete an account by ID.
      operationId: delete_account_by_id
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 'Array[ @/accounts/accountId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  /batches:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Batches
      operationId: get_batch
      summary: Retrieve a list of batches.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/createdAfter'
        - $ref: '#/parameters/createdBefore'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - $ref: '#/parameters/version'
        - $ref: '#/parameters/tags'
        - name: status
          description: Filter by the current (mutable) status of this Batch.
          required: false
          type: string
          in: query
        - name: recordCount
          description: >-
            Filter by the total number of data records (rows/documents) processed in this
            Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: failedRecordCount
          description: Filter by the number of records that could not be processed in this Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: size
          description: Number of bytes processed in this Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: started
          description: >-
            Filter by the Unix timestamp (in milliseconds) when the Batch processing
            action was started.
          required: false
          type: integer
          format: int64
          in: query
        - name: completed
          description: >-
            Filter by the Unix timestamp (in milliseconds) when the Batch processing
            action was completed. Completed - Started should yield the total
            processing time.
          required: false
          type: integer
          format: int64
          in: query
        - name: startAfter
          description: >-
            Query only batches with availability dates that start after the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: startBefore
          description: >-
            Query only batches with availability dates that start before the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: endAfter
          description: >-
            Query only batches with availability dates that end after the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: endBefore
          description: >-
            Query only batches with availability dates that end before the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: batch
          description: 'Used to filter on the related object: &batch=batchId.'
          required: false
          type: string
          in: query
        - name: externalId
          description: 'Used to filter on the related object: &externalId=externalId.'
          required: false
          type: string
          in: query
        - name: connection
          description: 'Used to filter on the related object: &connection=connectionId.'
          required: false
          type: string
          in: query
        - name: connector
          description: 'Used to filter on the related object: &connector=connectorId.'
          required: false
          type: string
          in: query
        - name: dataSet
          description: 'Used to filter on the related object: &dataSet=dataSetId.'
          required: false
          type: string
          in: query
        - name: dataSetFile
          description: 'Used to filter on the related object: &dataSetFile=dataSetFileId.'
          required: false
          type: string
          in: query
        - name: dataSetView
          description: 'Used to filter on the related object: &dataSetView=dataSetViewId.'
          required: false
          type: string
          in: query
        - name: transform
          description: 'Used to filter on the related object: &transform=transformId.'
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: batch response
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/batchResponse'
          examples:
            application/json:
              {
                  "5911f88ae2f4bf657c5a8cb5": {
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "created": 1494349962314,
                      "createdClient": "MCDPCatalogServiceStage",
                      "createdUser": "MCDPCatalogServiceStage@AdobeID",
                      "updatedUser": "MCDPCatalogServiceStage@AdobeID",
                      "updated": 1494349963467,
                      "externalId": "/adobe/bulkingest/5af9ee67e4045c1b4945c209",
                      "status": "success",
                      "errors": [
                          {
                              "code": "err-1494349963436"
                          }
                      ],
                      "version": "1.0.3",
                      "availableDates": {
                          "startDate": 1337,
                          "endDate": 4000
                      },
                      "relatedObjects": [
                          {
                              "type": "batch",
                              "id": "foo_batch"
                          },
                          {
                              "type": "connection",
                              "id": "foo_connection"
                          },
                          {
                              "type": "connector",
                              "id": "foo_connector"
                          },
                          {
                              "type": "dataSet",
                              "id": "foo_dataSet"
                          },
                          {
                              "type": "dataSetView",
                              "id": "foo_dataSetView"
                          },
                          {
                              "type": "dataSetFile",
                              "id": "foo_dataSetFile"
                          },
                          {
                              "type": "expressionBlock",
                              "id": "foo_expressionBlock"
                          },
                          {
                              "type": "service",
                              "id": "foo_service"
                          },
                          {
                              "type": "serviceDefinition",
                              "id": "foo_serviceDefinition"
                          }
                      ],
                      "metrics": {
                          "foo": 1337
                      },
                      "tags": {
                          "foo_bar": [
                              "stuff"
                          ],
                          "bar_foo": [
                              "woo",
                              "baz"
                          ],
                          "foo/bar/foo-bar": [
                              "weehaw",
                              "wee:haw"
                          ]
                      },
                      "inputFormat": {
                        "format": "parquet",
                        "delimiter": ".",
                        "quote": "`",
                        "escape": "\\",
                        "nullMarker": "",
                        "header": "true",
                        "charset": "UTF-8"
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Batches
      summary: Create a new batch.
      operationId: post_batch
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: batch
          description: Batch to be posted.
          required: true
          in: body
          schema:
            $ref: '#/definitions/batchRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/batches/batchId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/batches/uniques/{field}':
    parameters:
      - name: field
        description: Field to get unique values for
        required: true
        type: string
        in: path
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Batches
      operationId: get_unique_batch_values
      summary: Retrieve the unique values stored in a field specified by ID.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/createdAfter'
        - $ref: '#/parameters/createdBefore'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - $ref: '#/parameters/version'
        - name: status
          description: Filter by the current (mutable) status of this Batch.
          required: false
          type: string
          in: query
        - name: recordCount
          description: >-
            Filter by the total number of data records (rows/documents) processed in this
            Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: failedRecordCount
          description: Filter by the number of records that could not be processed in this Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: size
          description: Number of bytes processed in this Batch.
          required: false
          type: integer
          format: int64
          in: query
        - name: started
          description: >-
            Filter by the Unix timestamp (in milliseconds) when the Batch processing
            action was started.
          required: false
          type: integer
          format: int64
          in: query
        - name: completed
          description: >-
            Filter by the Unix timestamp (in milliseconds) when the Batch processing
            action was completed. Completed - Started should yield the total
            processing time.
          required: false
          type: integer
          format: int64
          in: query
        - name: startAfter
          description: >-
            Query only batches with availability dates that start after the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: startBefore
          description: >-
            Query only batches with availability dates that start before the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: endAfter
          description: >-
            Query only batches with availability dates that end after the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: endBefore
          description: >-
            Query only batches with availability dates that end before the
            specified timestamp.
          required: false
          type: integer
          format: int64
          in: query
        - name: batch
          description: 'Used to filter on the related object: &batch=batchId.'
          required: false
          type: string
          in: query
        - name: externalId
          description: 'Used to filter on the related object: &externalId=externalId.'
          required: false
          type: string
          in: query
        - name: connection
          description: 'Used to filter on the related object: &connection=connectionId.'
          required: false
          type: string
          in: query
        - name: connector
          description: 'Used to filter on the related object: &connector=connectorId.'
          required: false
          type: string
          in: query
        - name: dataSet
          description: 'Used to filter on the related object: &dataSet=dataSetId.'
          required: false
          type: string
          in: query
        - name: dataSetFile
          description: 'Used to filter on the related object: &dataSetFile=dataSetFileId.'
          required: false
          type: string
          in: query
        - name: dataSetView
          description: 'Used to filter on the related object: &dataSetView=dataSetViewId.'
          required: false
          type: string
          in: query
        - name: transform
          description: 'Used to filter on the related object: &transform=transformId.'
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: batch response
          schema:
            type: array
            items:
              type: string
          examples:
            application/json:
              ["5911f88ae2f4bf657c5a8cb5", "5911f88ae2f4bf657c5a8cb4", "5911f88ae2f4bf657c5a8cb3"]
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/batches/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Batches
      operationId: get_batch_by_id
      summary: Look up a batch by ID.
      produces:
        - application/json
      parameters:
        - name: aggregate
          description: >-
            If true, then return the aggregated status, metrics, and errors in
            the root level status, metrics, and errors (default is false).
          required: false
          type: boolean
          in: query
      responses:
        '200':
          description: Batch object for given batchId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/batchResponse'
          examples:
            application/json:
              {
                  "5911f88ae2f4bf657c5a8cb5": {
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "created": 1494349962314,
                      "createdClient": "MCDPCatalogServiceStage",
                      "createdUser": "MCDPCatalogServiceStage@AdobeID",
                      "updatedUser": "MCDPCatalogServiceStage@AdobeID",
                      "updated": 1494349963467,
                      "externalId": "/adobe/bulkingest/5af9ee67e4045c1b4945c209",
                      "status": "success",
                      "errors": [
                          {
                              "code": "err-1494349963436"
                          }
                      ],
                      "version": "1.0.3",
                      "availableDates": {
                          "startDate": 1337,
                          "endDate": 4000
                      },
                      "relatedObjects": [
                          {
                              "type": "batch",
                              "id": "foo_batch"
                          },
                          {
                              "type": "connection",
                              "id": "foo_connection"
                          },
                          {
                              "type": "connector",
                              "id": "foo_connector"
                          },
                          {
                              "type": "dataSet",
                              "id": "foo_dataSet"
                          },
                          {
                              "type": "dataSetView",
                              "id": "foo_dataSetView"
                          },
                          {
                              "type": "dataSetFile",
                              "id": "foo_dataSetFile"
                          },
                          {
                              "type": "expressionBlock",
                              "id": "foo_expressionBlock"
                          },
                          {
                              "type": "service",
                              "id": "foo_service"
                          },
                          {
                              "type": "serviceDefinition",
                              "id": "foo_serviceDefinition"
                          }
                      ],
                      "metrics": {
                          "foo": 1337
                      },
                      "tags": {
                          "foo_bar": [
                              "stuff"
                          ],
                          "bar_foo": [
                              "woo",
                              "baz"
                          ],
                          "foo/bar/foo-bar": [
                              "weehaw",
                              "wee:haw"
                          ]
                      },
                      "inputFormat": {
                        "format": "parquet",
                        "delimiter": ".",
                        "quote": "`",
                        "escape": "\\",
                        "nullMarker": "",
                        "header": "true",
                        "charset": "UTF-8"
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Batches
      summary: Create a new batch with a specified ID.
      operationId: post_batch_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: batch
          description: Batch to be created.
          required: true
          in: body
          schema:
            $ref: '#/definitions/batchRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/batches/batchId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    put:
      tags:
        - Batches
      summary: Update a batch by ID.
      operationId: update_batch_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: batch
          description: Data set field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/batchRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/batches/batchId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    patch:
      tags:
        - Batches
      summary: Update one or more attributes of a batch specified by ID.
      operationId: patch_batch_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: batch
          description: Data set field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/batchPatchRequest'
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/json-header'
        - $ref: '#/parameters/if-none-match'
      responses:
        '200':
          description: 'Array[ @/batches/batchId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      deprecated: true
      tags:
        - Batches
      summary: Delete a batch by ID.
      operationId: delete_batch_by_id
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 'Array[ @/batches/batchId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/largedocuments/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Large documents
      operationId: get_largeDocument_by_id
      summary: Look up a large document by ID.
      produces:
        - application/json
      responses:
        '200':
          description: Large Document response. The response includes the large document.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/largeDocumentsResponse'
          examples:
            application/json:
              {
                  "56a1c00e9f8e2c53284add34": {
                      "created": 1453441038288,
                      "ttl": 1453441038288,
                      "objectType": "dataSet",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "jsonString": {
                            name: 'datasets functional tests',
                            description: "Functional test for data sets",
                            connectorId: 's3-push',
                            tags: {
                              'foo': ['bar', 'foos', 'ball'],
                              'adobe/touchpoint/appliedTransformations': ['CLUSTERED:FOO']
                            },
                            requestStartDate: '1992-10-10 10:10:10',
                            basePath: fakeBasePath,
                            codeUrl: 'foo://bar/baz/fuzz.git'
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Large Document not found.
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  /connections:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connections
      summary: Retrieve a list of connections.
      operationId: get_connections
      produces:
        - application/json
      parameters:
        - name: connector
          description: Filter by the ID for the Connector this Connection was created from.
          required: false
          type: string
          in: query
        - name: parentConnectionId
          description: >-
            Used in cases where global/shared data is managed by this
            connection. The parent connection performs the ETL/Mapping jobs, and
            this child connection represents a customer's membership and
            visibility into the parent. This query param will filter all connectors
            by the parentConnectorId value.
          required: false
          type: string
          in: query
        - name: name
          description: Filter by the user-facing name of this Connection.
          required: false
          type: string
          in: query
        - name: accountId
          description: >-
            Filter by the foreign key to the account where the credentials and related fields
            of the connector and connection combination is stored.
          required: false
          type: string
          in: query
        - name: description
          description: Filter by the user-provided description of the Connection.
          required: false
          type: string
          in: query
        - name: enabled
          description: >-
            Indicates the status of the Connection. Should be interpreted as
            disabled or suspended when set to false.
          required: false
          type: boolean
          in: query
        - $ref: '#/parameters/version'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - name: ingestStart
          description: Filter by the suggested date/time to start ingesting.
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: Connections response. The response also includes a reference to linked datasets.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/connectionResponse'
          examples:
            application/json:
              {
                  "56a1c00e9f8e2c53284add34": {
                      "connector": "dfa",
                      "name": "connection_1",
                      "enabled": true,
                      "version": "1.0.0",
                      "created": 1453441038288,
                      "updated": 1453441038288,
                      "createdClient": "MCDPCatalogServiceStage",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSets": "@/connections/56a1c00e9f8e2c53284add34/dataSets",
                      "statsCache": {
                          "earliestAvailableData": null,
                          "latestAvailableData": null,
                          "lastSuccess": null,
                          "recentFailure": null
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Connections
      summary: Create a new connection.
      operationId: post_connection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: connection
          in: body
          description: Connection to be posted.
          required: true
          schema:
            $ref: '#/definitions/connectionRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/connections/connectionId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/connections/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connections
      operationId: get_connection_by_id
      summary: Look up a connection by ID.
      produces:
        - application/json
      responses:
        '200':
          description: Connections response. The response also includes a reference to linked datasets.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/connectionResponse'
          examples:
            application/json:
              {
                  "56a1c00e9f8e2c53284add34": {
                      "connector": "dfa",
                      "name": "connection_1",
                      "enabled": true,
                      "version": "1.0.0",
                      "created": 1453441038288,
                      "updated": 1453441038288,
                      "createdClient": "MCDPCatalogServiceStage",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSets": "@/connections/56a1c00e9f8e2c53284add34/dataSets",
                      "statsCache": {
                          "earliestAvailableData": null,
                          "latestAvailableData": null,
                          "lastSuccess": null,
                          "recentFailure": null
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Connections
      summary: Save a new connection with a specified ID.
      operationId: post_connection_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: connection
          in: body
          description: Connection to be posted.
          required: true
          schema:
            $ref: '#/definitions/connectionRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/connections/connectionId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    put:
      tags:
        - Connections
      summary: Update a connection by ID.
      operationId: update_connection_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: connection
          description: Connection field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/connectionRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/connections/connectionId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    patch:
      tags:
        - Connections
      summary: Update one or more attributes of a connection specified by ID.
      operationId: patch_connection_by_id
      consumes:
        - application/json
        - application/json-patch+json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: connection
          description: Connection field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/connectionPatchRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/connections/connectionId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      tags:
        - Connections
      summary: Delete a connection by ID.
      operationId: delete_connection_by_id
      produces:
        - application/json
      responses:
        '200':
          description: 'Array[ @/connections/connectionId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/connections/{id}/dataSets':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connections
      operationId: get_data_sets_by_connection_id
      summary: Retrieve a list of datasets for a connection by ID.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
        - $ref: '#/parameters/tags'
      responses:
        '200':
          description: Datasets associated with input connectionId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetResponse'
          examples:
            application/json:
              {
                  "5ab540d0864cf0267448ead4": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "connectorId": "s3-push",
                      "connectionId": "5ab5249e864cf0267448ead1",
                      "name": "connections functional tests - 1521827915638",
                      "created": 1521828048923,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "namespace": "ACP",
                      "state": "DRAFT",
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      },
                      "viewId": "5ab54170864cf0267448ead5",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "observableSchema": {}
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  /connectors:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connectors
      summary: Retrieve a list of connectors.
      operationId: get_connectors
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/version'
        - name: type
          description: Filter by the ingest type for this Connector.
          required: false
          type: string
          in: query
        - name: name
          description: Filter by the name of this Connector.
          required: false
          type: string
          in: query
        - name: category
          description: >-
            Connectors currently have 2 categories: 1) standard: we are
            connecting to a known source with known data (ie. other companies
            data stores) or 2) custom: a generic connector to FTP or S3 etc.
            This query param can be used to filter all connectors by their
            category.
          required: false
          type: string
          in: query
        - name: description
          description: >-
            Filter by the introductory text describing this connector, it's primary
            functionality, relevant data sets, etc.
          required: false
          type: string
          in: query
        - name: maxConnections
          description: >-
            Filter by the maximum number of connections a customer (IMS Org) can create of
            this type.
          required: false
          type: integer
          in: query
        - name: uiCreationAllowed
          description: >-
            When set to false, this connector should not be shown by the UI
            Connector Library. Essentially, the UI is not to create connectors
            of this type, but should show status related to this connector
            elsewhere.
          required: false
          type: boolean
          in: query
        - name: connectorOwnedDataSets
          description: >-
            Indicates whether or not the Connector 'owns' the datasets created 
            by this connector.  If so then there are certain things like GDPR that 
            are not controlled by Platform but instead are controlled by the 
            originating solution/vendor.  If not present or false then platform 'owns' 
            the dataset.
          required: false
          type: boolean
          in: query
        - name: internal
          description: >-
            Indicates if the connector is internal to Adobe, false indicates that 
            the connector is from a third-party
          required: false
          type: boolean
          in: query
        - name: ingestStart
          description: Filter by the suggested date/time to start ingesting.
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: List of all connectors for given ims_org_id.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/connectorResponse'
          examples:
            application/json:
              {
                  "dynamics-online": {
                      "name": "Microsoft Dynamics 365",
                      "category": "standard",
                      "version": "0.1",
                      "type": "batch",
                      "description": "",
                      "documents": [],
                      "ingestStart": "",
                      "frequency": {
                          "userEditable": "minute",
                          "minute": "30",
                          "hour": "2",
                          "month": "*",
                          "day": "*",
                          "dayOfWeek": "*",
                          "timezone": "",
                          "live": false
                      },
                      "uiCreationAllowed": true,
                      "paramsSchema": {
                          "properties": {
                              "organizationName": {
                                  "description": "The organization name of the Dynamics instance.",
                                  "type": "string"
                              },
                              "username": {
                                  "description": "The user's identification name associated with the credential.",
                                  "type": "string"
                              },
                              "password": {
                                  "description": "The Dynamics password.",
                                  "type": "string"
                              },
                              "organizationUri": {
                                  "description": "The Dynamics organization URI",
                                  "type": "string"
                              },
                              "akvSecretPassword": {
                                  "description": "The Azure Key Vault secret identifier of the password for the user name associated with the credential.",
                                  "type": "string"
                              }
                          },
                          "required": [
                              "username",
                              "password",
                              "organizationUri"
                          ]
                      },
                      "stats": "@/connectors/dynamics-online/stats"
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/connectors/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connectors
      summary: Look up a connector by ID.
      operationId: get_connector_by_id
      produces:
        - application/json
      responses:
        '200':
          description: Connector object for input connectorId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/connectorResponse'
          examples:
            application/json:
              {
                  "dynamics-online": {
                      "name": "Microsoft Dynamics 365",
                      "category": "standard",
                      "version": "0.1",
                      "type": "batch",
                      "description": "",
                      "documents": [],
                      "ingestStart": "",
                      "frequency": {
                          "userEditable": "minute",
                          "minute": "30",
                          "hour": "2",
                          "month": "*",
                          "day": "*",
                          "dayOfWeek": "*",
                          "timezone": "",
                          "live": false
                      },
                      "uiCreationAllowed": true,
                      "paramsSchema": {
                          "properties": {
                              "organizationName": {
                                  "description": "The organization name of the Dynamics instance.",
                                  "type": "string"
                              },
                              "username": {
                                  "description": "The user's identification name associated with the credential.",
                                  "type": "string"
                              },
                              "password": {
                                  "description": "The Dynamics password.",
                                  "type": "string"
                              },
                              "organizationUri": {
                                  "description": "The Dynamics organization URI",
                                  "type": "string"
                              },
                              "akvSecretPassword": {
                                  "description": "The Azure Key Vault secret identifier of the password for the user name associated with the credential.",
                                  "type": "string"
                              }
                          },
                          "required": [
                              "username",
                              "password",
                              "organizationUri"
                          ]
                      },
                      "stats": "@/connectors/dynamics-online/stats"
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/connectors/{id}/stats':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Connectors
      summary: Retrieve the statistics for a connector specified by ID.
      operationId: get_stats_by_connector_id
      produces:
        - application/json
      responses:
        '200':
          description: Returns connection count for given connector id.
          schema:
            type: object
            properties:
              connectorId:
                type: integer
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  /dataSets:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Retrieve a list of datasets.
      operationId: get_data_sets
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/version'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - name: connectorId
          description: >-
            Filter by the foreign key to the Connector this DataSet originates from. Template
            DataSets are tied to Connectors and not Connections.
          required: false
          type: string
          in: query
        - name: connectionId
          description: Filter by the foreign key to the Connection this DataSet originates from.
          required: false
          type: string
          in: query
        - name: name
          description: 'Filter by the a descriptive, human-readable name for this DataSet.'
          required: false
          type: string
          in: query
        - name: description
          description: Filter by the longer text description of the DataSet.
          required: false
          type: string
          in: query
        - name: enableErrorDiagnostics
          description: >-
            This field provides the ability to opt in to generating diagnostic files for the errors while ingesting data.
          required: false 
          type: boolean
          in: query
        - name: type
          description: >-
            DataSet types reflect where the data is in the MCDP lifecycle. Raw
            datasets are created by ingest, Master datasets are created by the
            Harvester, and Model datasets are configured by users. App datasets
            can then be created by MCDP services. This query param allows
            filtering of datasets by their type.
          required: false
          type: string
          in: query
        - name: state
          description: The state related to a dataset.
          required: false
          type: string
          in: query
        - name: namespace
          description: One of the registered platform acronyms that identify the platform.
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
        - $ref: '#/parameters/tags'
      responses:
        '200':
          description: All datasets for given imsOrg.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetResponse'
          examples:
            application/json:
              {
                  "5ab540d0864cf0267448ead4": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "connectorId": "s3-push",
                      "connectionId": "5ab5249e864cf0267448ead1",
                      "name": "connections functional tests - 1521827915638",
                      "created": 1521828048923,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "namespace": "ACP",
                      "state": "DRAFT",
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      },
                      "viewId": "5ab54170864cf0267448ead5",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "observableSchema": {}
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Datasets
      summary: Create a new dataset.
      operationId: post_data_set
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: requestDataSource
          description: >-
            Set to true if you want Catalog to create a dataSource on your
            behalf; otherwise, pass a dataSourceId in the body.
          type: string
          in: query
        - name: dataSet
          description: Data set to be posted
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/dataSets/dataSetId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Look up a dataset by ID.
      operationId: get_data_set_by_id
      produces:
        - application/json
      parameters:
        - name: properties
          description: >-
            A comma separated whitelist of top-level object properties to be returned in the response. Used
            to cut down the number of properties and amount of data returned in the response bodies.
          in: query
          type: string
          required: false
      responses:
        '200':
          description: DataSet object for input DataSetId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetResponse'
          examples:
            application/json:
              {
                  "5ab540d0864cf0267448ead4": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "connectorId": "s3-push",
                      "connectionId": "5ab5249e864cf0267448ead1",
                      "name": "connections functional tests - 1521827915638",
                      "enableErrorDiagnostics": true,
                      "created": 1521828048923,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "namespace": "ACP",
                      "state":"DRAFT",
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      },
                      "viewId": "5ab54170864cf0267448ead5",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "observableSchema": {}
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    put:
      tags:
        - Datasets
      summary: Update a dataset by ID.
      operationId: update_data_set_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: requestDataSource
          description: >-
            Set to true if you want Catalog to create a dataSource on your
            behalf; otherwise, pass a dataSourceId in the body.
          type: string
          in: query
        - name: dataSet
          description: Data set field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/dataSets/dataSetId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    patch:
      tags:
        - Datasets
      summary: Update one or more attributes of a dataset specified by ID.
      operationId: patch_data_set_by_id
      consumes:
        - application/json
        - application/json-patch+json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: dataSet
          description: Data set field(s) to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: 'Array[ @/dataSets/dataSetId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      tags:
        - Datasets
      summary: Delete a dataset by ID.
      operationId: delete_data_set_by_id
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: 'Array[ @/dataSets/dataSetId ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/credentials':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/x-user-token'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Retrieve the credentials of a dataset specified by ID.
      operationId: get_credentials_by_data_set_id
      produces:
        - application/json
      parameters:
        - name: batchId
          description: >-
            If wishing to write, the batchId used during writing. Required for
            building a stage path.
          required: false
          in: query
          type: string
      responses:
        '200':
          description: Credential object given dataSet.
          schema:
            $ref: '#/definitions/dataSetCredentials'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/views':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Retrieve a list of views for a dataset specified by ID.
      operationId: get_data_set_views_by_data_set_id
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: List of dataSetView objects associated with given dataSetId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetViewResponse'
          examples:
            application/json:
              {
                  "5ab54170864cf0267448ead5": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetId": "5ab540d0864cf0267448ead4",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "created": 1521828208046,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "observableSchema": {},
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "isLookup": false,
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Datasets
      summary: Create a new view for a dataset specified by ID.
      operationId: post_data_set_view_by_data_set_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: dataSetView
          description: Datasetview to be posted
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetViewRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/dataSets/dataSetId/views/viewId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/views/{viewid}':
    parameters:
      - $ref: '#/parameters/id'
      - name: viewid
        description: datasetview id
        required: true
        in: path
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Look up a single view for a dataset, both specified by ID.
      operationId: get_data_set_view_by_data_set_id_by_id
      produces:
        - application/json
      responses:
        '200':
          description: DataSetView associated with input dataSetId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetViewResponse'
          examples:
            application/json:
              {
                  "5ab54170864cf0267448ead5": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetId": "5ab540d0864cf0267448ead4",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "created": 1521828208046,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "observableSchema": {},
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "isLookup": false,
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/views/{viewId}/files':
    parameters:
      - $ref: '#/parameters/id'
      - name: viewId
        description: dataSetViewId
        required: true
        in: path
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: List the files of a single view for a dataset. The view and dataset are specified by ID.
      operationId: get_data_set_files_by_data_set_id_and_data_set_view_id
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: List of dataset files for given dataSetViewId and dataSetId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetFileResponse'
          examples:
            application/json:
              {
                  "5abd49645591445e1ba04f87": {
                      "version": "1.0.0",
                      "created": 1522354532905,
                      "updated": 1522354532905,
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetViewId": "5ab54170864cf0267448ead5",
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "availableDates": {
                          "startDate": 4444,
                          "endDate": 5555
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Datasets
      summary: Create a new file for a single view of a dataset. The view and dataset are both specified by ID.
      operationId: post_data_set_file_by_data_set_id_and_data_set_view_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: viewId
          description: dataSetView ID
          required: true
          in: path
          type: string
        - name: dataSetFile
          description: Data set file to be posted.
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetFileRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/dataSets/{datasetId}/views/{viewId}/files/{fileId} ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/views/{viewId}/files/{fileId}':
    parameters:
      - $ref: '#/parameters/id'
      - name: viewId
        description: dataSetView ID
        required: true
        in: path
        type: string
      - name: fileId
        description: file ID
        required: true
        in: path
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Look up a file for a particular view of a dataset. The file, view, and dataset are specified by ID.
      operationId: get_data_set_file_by_data_set_id_and_data_set_view_id_by_id
      produces:
        - application/json
      responses:
        '200':
          description: dataset file for given fileId, dataSetViewId and dataSetId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetFileResponse'
          examples:
            application/json:
              {
                  "5abd49645591445e1ba04f87": {
                      "version": "1.0.0",
                      "created": 1522354532905,
                      "updated": 1522354532905,
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetViewId": "5ab54170864cf0267448ead5",
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "availableDates": {
                          "startDate": 4444,
                          "endDate": 5555
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      tags:
        - Datasets
      summary: Remove a file from a particular view of a dataset.
      operationId: delete_data_set_file_by_data_set_id_and_data_set_view_id_by_id
      produces:
        - application/json
      responses:
        '200':
          description: 'Array[ @/{datasetId?/views/{viewId}/files/{fileId} ]'
          schema:
            type: array
            items:
              type: string
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSets/{id}/ingestBatchSummary':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Datasets
      summary: Retrieve summarized stats for a dataset's batches. Default time window is within last seven days.
      operationId: get_data_set_batches_summary
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/createdBefore'
        - $ref: '#/parameters/createdAfter'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
        - $ref: '#/parameters/tags'
      responses:
        '200':
          description: Batch summary object for given dataSetId.
          schema:
            $ref: '#/definitions/batchResponse'
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  /dataSetViews:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Dataset views
      summary: Retrieve a list of dataset views.
      operationId: get_data_set_views
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/version'
        - $ref: '#/parameters/created'
        - $ref: '#/parameters/updated'
        - $ref: '#/parameters/createdClient'
        - $ref: '#/parameters/createdUser'
        - $ref: '#/parameters/updatedUser'
        - name: dataSetId
          description: Filter by the foreign key to the owning DataSet.
          required: false
          type: string
          in: query
        - name: name
          description: Filter by the name of this DataSetView.
          required: false
          type: string
          in: query
        - name: isDefault
          description: >-
            Marks this view as the default for it's DataSet. DataSets should
            only be associated to a single default view. This query param
            allows filtering of dataSetViews by their isDefault field value.
          required: false
          type: boolean
          in: query
        - name: basePath
          description: >-
            Filter by the fully qualified base path for all dataset files associated with this
            view. For views cached in a database (HBase or Cassandra), supply a
            templatized DSN.
          required: false
          type: string
          in: query
        - name: saveStrategy
          description: Filter by the save strategy for this dataset.
          required: false
          type: string
          in: query
        - name: schema
          description: This is the uri for the XDM model.
          required: false
          type: string
          in: query
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/properties'
      responses:
        '200':
          description: List of all dataSetViews associated with given ims_org_id.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetViewResponse'
          examples:
            application/json:
              {
                  "5ab54170864cf0267448ead5": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetId": "5ab540d0864cf0267448ead4",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "created": 1521828208046,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "observableSchema": {},
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "isLookup": false,
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    post:
      tags:
        - Dataset views
      summary: Create a new dataset view.
      operationId: post_data_set_view
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: dataSetView
          description: DataSetView to be posted.
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetViewRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/dataSetViews/dataSetViewId ]'
          schema:
            type: array
            items:
              type: string
          headers:
            Location:
              type: string
              description: The URI of the newly created resource.
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '500':
          description: Internal server error
        default:
          description: Unexpected error
  '/dataSetViews/{id}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept-encoding'
    get:
      tags:
        - Dataset views
      summary: Look up a dataset view by ID.
      operationId: get_data_set_view_by_id
      produces:
        - application/json
      parameters:
        - name: properties
          description: >-
            A comma separated whitelist of top-level object properties to be returned in the response. Used
            to cut down the number of properties and amount of data returned in the response bodies.
          in: query
          type: string
          required: false
      responses:
        '200':
          description: DataSetView for given dataSetViewId.
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/dataSetViewResponse'
          examples:
            application/json:
              {
                  "5ab54170864cf0267448ead5": {
                      "version": "1.0.0",
                      "imsOrg": "4F3BB22C5631222A7F000101@AdobeOrg",
                      "dataSetId": "5ab540d0864cf0267448ead4",
                      "fields": [],
                      "basePath": "s3://bar/ball/baz",
                      "fileDescription": {
                          "persisted": false
                      },
                      "created": 1521828208046,
                      "updated": 1521828208046,
                      "createdClient": "acp_foundation_catalog",
                      "createdUser": "acp_foundation_catalog@AdobeID",
                      "updatedUser": "acp_foundation_catalog@AdobeID",
                      "observableSchema": {},
                      "files": "@/dataSets/5ab540d0864cf0267448ead4/views/5ab54170864cf0267448ead5/files",
                      "isLookup": false,
                      "tags": {
                          "foo": [
                              "bar",
                              "foos",
                              "ball"
                          ],
                          "adobe/touchpoint/appliedTransformations": [
                              "CLUSTERED:FOO"
                          ]
                      }
                  }
              }
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal server error
        default:
          description: Unexpected error
    put:
      tags:
        - Dataset views
      summary: Update a dataset view by ID.
      operationId: update_data_set_view_by_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/if-match'
        - $ref: '#/parameters/if-none-match'
        - name: dataSetView
          description: Dataset views to be updated.
          required: true
          in: body
          schema:
            $ref: '#/definitions/dataSetViewRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '201':
          description: 'Array[ @/dataSetViews/dataSetViewId ]'
          schema:
            type: array
[...]
