swagger: "2.0"
info:
  version: "1.0.0"
  title: "Data Access API"
  description: >-

    Data Access facilitates the access and egress of data within Adobe Experience Platform. This includes, but not limited to, the following operations:
      * Access and download dataset files under a batch
      * Retrieve header information regarding files
      * Parallel / resumable downloads using HTTP range headers
      * Pagination support for directory listings
      * List dataset files under a succeeded/failed batch
      * Preview CSV and Parquet files


    Related documentation:
      * [Data Access documentation](https://docs.adobe.com/content/help/en/experience-platform/data-access/home.html)

    Visualize API calls with Postman (a free, third-party software):
      * [Data Access API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Data%20Access%20Service%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/foundation/export
      * Example of a complete path: https://<span>platform.adobe.io/data/foundation/export/batches/{batchId}/files
    
    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://docs.adobe.com/content/help/en/experience-platform/tutorials/authentication.html).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://docs.adobe.com/content/help/en/experience-platform/sandbox/home.html) for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

host: "platform.adobe.io"
basePath: "/data/foundation/export"

tags:
- name: "Data Access"
  description: "Configure data access and egress for Experience Platform."
- name: "Files"
  description: "Retrieve headers containing metadata for a file specified by ID."
- name: "Preview"
  description: "Retrieve the first 100 rows of CSV or Parquet files."

paths:
  '/batches/{batchId}/files':
    parameters:
      - name: "batchId"
        in: "path"
        required: true
        description: "Batch ID"
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
    get:
      operationId: "get-dataset-files-by-batchId"
      tags:
      - Data Access
      summary: "Get dataset files under a batch."
      description: "List all dataset files under a batch."
      parameters:
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=1"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/dataSetFiles"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"
  /batches/{batchId}/failed:
    parameters:
      - name: "batchId"
        in: "path"
        required: true
        description: "Batch ID"
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
    get:
      operationId: "get-failed-batch-by-batchId"
      tags:
      - Data Access
      summary: "Get dataset files under a failed batch."
      description: "List all files under failed batch"
      parameters:
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=1"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. The contents of the file would be downloaded if this parameter is provided. E.g, profiles.csv"
        in: "query"
        required: false
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/files"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"
  /files/{dataSetFileId}:
    parameters:
      - name: "dataSetFileId"
        in: "path"
        required: true
        description: "File Identifier"
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
    head:
      operationId: "get-dataset-file-operation"
      tags:
      - Files
      summary: "Get headers regarding a file."
      description: "Retrieves headers in response with a file's metadata. The response header will indicate information regarding the specified file."
      parameters:
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. E.g, profiles.csv"
        in: "query"
        required: true
      responses:
        200:
          description: "OK"
          headers:
            Content-type:
              description: "Content type of returned file  (E.g, application/csv)"
              type: "string"
            Accept-Ranges:
              description: "Unit of Range (E.g, bytes)"
              type: "string"
            Content-Length:
              description: "Size of the file (bytes)"
              type: "integer"
        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    get:
      operationId: "get-dataset-file-data"
      tags:
      - Files
      summary: "Access / download a file."
      description: |
        Returns either a complete file, or a directory of chunked data that make up the file. The response contains a data array that may contain a single entry, or a list of files belonging to that directory.
      parameters:
      - name: "Range"
        in: "header"
        type: "string"
        required: false
        description: "Range of bytes requested. E.g, Range: bytes=0-100000"
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=fileName.csv"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. The contents of the file would be downloaded if this parameter is provided. E.g, profiles.csv"
        in: "query"
        required: false
      produces:
      - application/json
      - application/octet-stream
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/files"
        206:
          description: "Partial Content"
          headers:
            Content-Range:
              description: "Range of bytes sent by the server. Can be different from what user requested. E.g, Content-Range: bytes 0-100/124000"
              type: "string"
            Content-Length:
              description: "Size of payload (bytes) in the response"
              type: "integer"

        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
  /datasets/{id}/preview:
    parameters:
      - name: "id"
        in: "path"
        required: true
        description: "DataSet ID"
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
    get:
      operationId: "get-preview-by-dataSetId"
      tags:
      - Preview
      summary: "Preview files."
      description: "Preview the first 100 rows of CSV or Parquet files"
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/preview"
        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"

parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, see the [Authentication Tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, see the [Authentication Tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, see the [Authentication Tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-sandbox-name:
    name: x-sandbox-name
    description: 'The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://www.adobe.io/apis/experienceplatform/home/permissions-and-sandboxes/permissions-and-sandboxes.html#!api-specification/markdown/narrative/technical_overview/sandboxes/sandboxes-overview.md) for more information.'
    required: true
    type: string
    in: header

definitions:
  preview:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/row"

  row:
    type: "object"
    properties:
      column1:
        type: "string"
      column2:
        type: "string"
      column3:
        type: "string"

  files:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/files.data.item"
      _page:
        $ref: "#/definitions/files.page"
      _links:
        $ref: "#/definitions/files.links"

  files.data.item:
    properties:
      name:
        type: "string"
      length:
        type: "string"
      _links:
        $ref: "#/definitions/files.data.item.links"

  files.data.item.links:
    properties:
      self:
        $ref: "#/definitions/files.data.item.links.self"

  files.data.item.links.self:
    properties:
      href:
        type: "string"

  files.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  files.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  files.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"

  files.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/files.links.next"
      page:
        $ref: "#/definitions/files.links.page"

  dataSetFiles:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/dataSetFiles.data.item"
      _page:
        $ref: "#/definitions/dataSetFiles.page"
      _links:
        $ref: "#/definitions/dataSetFiles.links"

  dataSetFiles.data.item:
    properties:
      dataSetFileId:
        type: "string"
      dataSetViewId:
        type: "string"
      version:
        type: "string"
      created:
        type: "string"
      updated:
        type: "string"
      records:
        type: "string"
      size:
        type: "string"
      isValid:
        type: "boolean"
      _links:
        $ref: "#/definitions/dataSetFiles.data.item.links"

  dataSetFiles.data.item.links:
    properties:
      self:
        $ref: "#/definitions/dataSetFiles.data.item.links.self"

  dataSetFiles.data.item.links.self:
    properties:
      href:
        type: "string"

  dataSetFiles.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  dataSetFiles.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/dataSetFiles.links.next"
      page:
        $ref: "#/definitions/dataSetFiles.links.page"

  dataSetFiles.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  dataSetFiles.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"