swagger: "2.0"

info:
  version: "1.0.0"
  title: "Data Access API"
  description: >-

    The Data Access API provides users with the capability for data access and egress on Adobe Experience Platform.

    This includes, but not limited to, the following operations:

      * Access and download Dataset files under a batch
      * Retrieve HEADER information regarding files
      * Parallel / Resumable downloads using HTTP Range headers
      * Pagination Support for Directory listings

    An in depth technical overview of the Data Access API can be found here:
      * https://www.adobe.io/apis/cloudplatform/dataservices/services/allservices.html#!api-specification/markdown/narrative/technical_overview/data_access_architectural_overview/data_access_architectural_overview.md

    Tutorial for getting started with the Data Access API:
      * https://www.adobe.io/apis/cloudplatform/dataservices/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/data_access_tutorial/data_access_tutorial.md

    Notes:
          * PLATFORM Gateway URL: https://platform.adobe.io/
          * Base path for this API: /data/foundation/export
          * All requests with a payload in the request body (i.e., POST, PUT, and PATCH calls) must include the header 'Content-Type: application/json'.

  termsOfService: 'https://www.adobe.com/legal/terms.html'

host: "platform.adobe.io"
basePath: "/data/foundation/export"

tags:
- name: "dataAccess"
  description: "APIs for data access and egress on Adobe Experience Platform"

paths:
  /batches/{batchId}/files:
    get:
      security:
      - Bearer: []
      operationId: "get-dataset-files-by-batchId"
      tags:
      - dataAccess
      summary: "Get dataset files under a batch."
      description: "List all dataset files under a batch."
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      - name: "batchId"
        in: "path"
        required: true
        description: "Batch ID"
        type: "string"
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=1"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/dataSetFiles"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"

  /batches/{batchId}/failed:
    get:
      security:
      - Bearer: []
      operationId: "get-failed-batch-by-batchId"
      tags:
      - dataAccess
      summary: "Get dataset files under a failed batch"
      description: "List all files under failed batch"
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      - name: "batchId"
        in: "path"
        required: true
        description: "Batch ID"
        type: "string"
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=1"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. The contents of the file would be downloaded if this parameter is provided. E.g, profiles.csv"
        in: "query"
        required: false
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/files"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Server Error"

  /files/{dataSetFileId}:
    head:
      security:
      - Bearer: []
      operationId: "get-dataset-file-operation"
      tags:
      - dataAccess
      summary: "Get headers regarding a file"
      description: "Retrieves headers in response with a file's metadata. The response header will indicate information regarding the specified file."
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      - name: "dataSetFileId"
        in: "path"
        required: true
        description: "File Identifier"
        type: "string"
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. E.g, profiles.csv"
        in: "query"
        required: true
      responses:
        200:
          description: "OK"
          headers:
            Content-type:
              description: "Content type of returned file  (E.g, application/csv)"
              type: "string"
            Accept-Ranges:
              description: "Unit of Range (E.g, bytes)"
              type: "string"
            Content-Length:
              description: "Size of the file (bytes)"
              type: "integer"
        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
    get:
      security:
      - Bearer: []
      operationId: "get-dataset-file-data"
      tags:
      - dataAccess
      summary: "Access / Download a file"
      description: |
        Returns either a complete file, or a directory of chunked data that make up the file. The response contains a data array that may contain a single entry, or a list of files belonging to that directory.
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      - name: "dataSetFileId"
        in: "path"
        required: true
        description: "File Identifier"
        type: "string"
      - name: "Range"
        in: "header"
        type: "string"
        required: false
        description: "Range of bytes requested. E.g, Range: bytes=0-100000"
      - name: "start"
        in: "query"
        required: false
        type: "string"
        description: "Paging parameter to specify start of new page. E.g, start=fileName.csv"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        description: "Paging parameter to specify number of results per page. E.g, limit=10"
      - name: "path"
        type: "string"
        description: "Full file name of file under partition identified by File Identifier. The contents of the file would be downloaded if this parameter is provided. E.g, profiles.csv"
        in: "query"
        required: false
      produces:
      - application/json
      - application/octet-stream
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/files"
        206:
          description: "Partial Content"
          headers:
            Content-Range:
              description: "Range of bytes sent by the server. Can be different from what user requested. E.g, Content-Range: bytes 0-100/124000"
              type: "string"
            Content-Length:
              description: "Size of payload (bytes) in the response"
              type: "integer"

        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"
  /datasets/{id}/preview:
    get:
      security:
      - Bearer: []
      operationId: "get-preview-by-dataSetId"
      tags:
      - dataAccess
      summary: "Preview files"
      description: "Preview the first 100 rows of CSV or Parquet files"
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      - name: "id"
        in: "path"
        required: true
        description: "DataSet ID"
        type: "string"
      produces:
      - application/json
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/preview"
        401:
          description: "Unauthorized"
        404:
          description: "Not Found"
        500:
          description: "Internal Server Error"

  /health-detailed:
    get:
      operationId: "get-health-detailed"
      tags:
      - dataAccess
      summary: "Perform health check on dependent services"
      description: "Returns health status for all dependent services"
      parameters:
      - name: "x-gw-ims-org-id"
        type: "string"
        in: "header"
        required: true
        description: "Organization ID"
      - name: "x-api-key"
        type: "string"
        in: "header"
        required: true
        description: "API Access key"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/health-detailed"
        500:
          description: "Internal Server Error"

definitions:
  preview:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/row"

  row:
    type: "object"
    properties:
      column1:
        type: "string"
      column2:
        type: "string"
      column3:
        type: "string"

  files:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/files.data.item"
      _page:
        $ref: "#/definitions/files.page"
      _links:
        $ref: "#/definitions/files.links"

  files.data.item:
    properties:
      name:
        type: "string"
      length:
        type: "string"
      _links:
        $ref: "#/definitions/files.data.item.links"

  files.data.item.links:
    properties:
      self:
        $ref: "#/definitions/files.data.item.links.self"

  files.data.item.links.self:
    properties:
      href:
        type: "string"

  files.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  files.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  files.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"

  files.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/files.links.next"
      page:
        $ref: "#/definitions/files.links.page"

  health-detailed:
    type: "object"
    properties:
      status:
        type: "boolean"
      dependencies:
        type: "array"
        items:
          $ref: "#/definitions/health-detailed.dependencies.item"

  health-detailed.dependencies.item:
    type: "object"
    properties:
      service:
        type: "string"
      status:
        type: "boolean"

  dataSetFiles:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/dataSetFiles.data.item"
      _page:
        $ref: "#/definitions/dataSetFiles.page"
      _links:
        $ref: "#/definitions/dataSetFiles.links"

  dataSetFiles.data.item:
    properties:
      dataSetFileId:
        type: "string"
      dataSetViewId:
        type: "string"
      version:
        type: "string"
      created:
        type: "string"
      updated:
        type: "string"
      records:
        type: "string"
      size:
        type: "string"
      isValid:
        type: "boolean"
      _links:
        $ref: "#/definitions/dataSetFiles.data.item.links"

  dataSetFiles.data.item.links:
    properties:
      self:
        $ref: "#/definitions/dataSetFiles.data.item.links.self"

  dataSetFiles.data.item.links.self:
    properties:
      href:
        type: "string"

  dataSetFiles.page:
    properties:
      limit:
        type: "integer"
      count:
        type: "integer"

  dataSetFiles.links:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/dataSetFiles.links.next"
      page:
        $ref: "#/definitions/dataSetFiles.links.page"

  dataSetFiles.links.next:
    type: "object"
    properties:
      href:
        type: "string"

  dataSetFiles.links.page:
    type: "object"
    properties:
      href:
        type: "string"
      templated:
        type: "boolean"