swagger: "2.0"
info:
  version: "1.0.0"
  title: "Offer Decision Service API"
  description: >-
    Adobe Experience Platform Decisioning Service provides the ability to programmatically and intelligently select the ‘Next Best Experience’ from a set of available options for a given individual, deliver them to any channel or application, and perform reporting and analysis on those experiences. The Offer Decision Service API includes an endpoint to filter out offers which are not approved, do not match the offer filter, or don’t have a representation for the placement referenced by the activity. It also allows you to run diagnostics and return a timestamp indicating when the offer catalog and/or activities were last updated, and a list of errors that occurred when doing so.


    Related documentation:
      * [Decisioning Service overview](https://www.adobe.io/apis/experienceplatform/home/services/decisioning-service.html#!api-specification/markdown/narrative/technical_overview/decisioning-overview/decisioning-service-overview.md)
      * [Work with Decisioning Service runtime using APIs tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/decisioning_tutorial/decisioning_runtime_api_tutorial.md)

    Visualize API calls with Postman (a free, third-party software):
      * [Offer Decision Service API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Offer%20Decision%20Service%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/core/ode
      * Example of a complete path: https://<span>platform.adobe.io/data/core/ode/{containerId}/decisions

    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.
  
basePath: /data/core/ode
host: platform.adobe.io
tags:
  - name: Decisions
    description: Determine the best offer(s) for a given set of activities based on eligibility rules that match profile and context data provided.
  - name: Diagnostics
    description: Return a timestamp indicating when the offer catalog and/or activities were last updated, and a list of errors that occurred when doing so.
  - name: Offers
    description: Based on filter rules and placement match, return approved offers that belong to a specific `activityId`.
produces:
  - application/json
consumes:
  - application/json

paths:
  /{containerId}/decisions:
    post:
      operationId: post-decision
      tags:
        - Decisions
      summary: Request an offer decision for each set of activity IDs and profiles.
      description: Determine the best offer(s) for a given set of activities based on eligibility rules that match profile and context data provided.
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      
      parameters:
        - name: "containerId"
          in: "path"
          description: The unique ID for the container that was generated by the <a href="https://www.adobe.io/apis/experienceplatform/home/api-reference.html#!acpdr/swagger-specs/decisioning-repository.yaml">XDM Core Object Repository API</a>. This value is obtained by locating the container using the Home ("/") endpoint.
          required: true
          type: "string"
        - name: "Authorization"
          in: "header"
          description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
          required: true
          type: "string"
        - name: "x-gw-ims-org-id"
          description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
          in: "header"
          required: true
          type: "string"
        - name: "x-api-key"
          description: "API key of calling client."
          in: "header"
          required: true
          type: "string"
        - name: "x-request-id"
          in: "header"
          description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
          required: true
          type: "string"
        - in: body
          name: request
          description: The request body to get the decision.
          required: true
          schema:
            $ref: '#/definitions/decision-request'
            example:
              xdm:offerActivities:
                - xdm:offerActivity: xcore:offer-activity:ffed0123
                - xdm:offerActivity: xcore:offer-activity:fffc0456
              xdm:identityMap:
                - SWCUSTID:
                  - xdm:id: SW123-34221
              xdm:dryRun: true
              xdm:validateContextData: true
              xdm:contextData:
                - '@type': https://ns.adobe.com/xdm/context/placecontext
                - xdm:data:
                  - xdm:localTime: 2001-07-04T12:08:56+01:00
                  - xdm:data:
                    xdm:localTime: 2001-07-04T12:08:56+01:00
                    xdm:geo:
                      '@id': https://data.adobe.io/entities/geo/austin
                      xdm:countryCode: USA
                      xdm:stateProvince: USA-13
                      xdm:city: Austin
                      xdm:postalCode: 141-0032
                      schema:latitude: 35.6185
                      schema:longitude: 139.73237
                - '@type': https://ns.adobe.com/xdm/context/device
                - xdm:data:
                  xdm:typeID: TypeIdentifier-111
                  xdm:typeIDService: https://ns.adobe.com/xdm/external/deviceatlas
                  xdm:type: mobile
                  xdm:manufacturer: Apple
                  xdm:model: iPhone 6
                  xdm:modelNumber: A1586
                  xdm:screenHeight: 667
                  xdm:screenWidth: 375
                  xdm:colorDepth: 16777216
      responses:
        '200':
          description: Success - Decision was made for a given set of activities.
          examples:
            xdm:propositionID: aep:xds:c5e91ba5-2381-46d2-8e9b-7aa22b816189
            xdm:propositions:
              - xdm:offerActivity: xcore:offer-activity:ffed0123
                xdm:offers: 
                  xcore:personalized-offer:ccc0111
              - xdm:offerActivity: xcore:offer-activity:fffc0456
                xdm:fallbackOffer: 
                  xcore:fallback-offer:eef0021

          headers:
            X-Request-Id:
              description: The request ID
              type: string
            Content-Type:
              description: application/json
              type: string
          schema:
            $ref: '#/definitions/decision-response'
        '400':
          description: Bad request
          headers: 
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '401':
          description: Unauthorized, invalid authentication credentials.
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '403':
          description: Forbidden, insufficient permissions
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '404':
          description: Resource not found
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '406':
          description: Not acceptable
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '415':
          description: Unsupported media type
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '422':
            description: Unprocessable Entity
            headers:
              X-Request-Id:
                description: The request ID for the custom X-Request-Id header value
                type: string
              Content-Type:
                description: application/problem+json
                type: string
            schema:
              $ref: '#/definitions/error-detail'
        '500':
          description: Internal server error. 
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '503':
          description: Service unavailable due to server overload
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'

  /{containerId}/diagnostics:
    get:
      operationId: get-diagnostics
      tags:
        - Diagnostics
      summary: Get information about errors that occurred while processing user data.
      description: "This endpoint returns a timestamp indicating when the offer catalog and/or activities were last updated, and a list of errors that occurred when doing so. An empty list indicates that there were no errors."
      produces:
        - application/vnd.adobe.xdm+json
        - application/problem+json
      parameters:
        - name: "containerId"
          in: "path"
          description: The unique ID for the container that was generated by the <a href="https://www.adobe.io/apis/experienceplatform/home/api-reference.html#!acpdr/swagger-specs/decisioning-repository.yaml">XDM Core Object Repository API</a>. This value is obtained by locating the container using the Home ("/") endpoint.
          required: true
          type: "string"
        - name: "Authorization"
          in: "header"
          description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
          required: true
          type: "string"
        - name: "x-gw-ims-org-id"
          description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
          in: "header"
          required: true
          type: "string"
        - name: "x-api-key"
          description: "API key of calling client."
          in: "header"
          required: true
          type: "string"
        - name: "x-request-id"
          in: "header"
          description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
          required: true
          type: "string"
      responses:
        '200':
          description: Success
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/json
              type: string
          schema:
            $ref: '#/definitions/diagnostics-response'
        '400':
          description: Bad request
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '401':
          description: Unauthorized, invalid authentication credentials
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '406':
          description: Not acceptable
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '500':
          description: Internal server error
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'

  /{containerId}/offers:
    get:
      operationId: get-offers
      tags:
        - Offers
      summary: View offers that belong to a specified `activityId` based on matching filter rules and placements.
      description: This endpoint returns approved offers that belong to a specific `activityId` based on filter rules and placement match.
      produces:
        - application/json
        - application/problem+json
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the <a href="https://www.adobe.io/apis/experienceplatform/home/api-reference.html#!acpdr/swagger-specs/decisioning-repository.yaml">XDM Core Object Repository API</a>. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: activityId
        in: query
        description: The `@id` property of an `OfferActivity` that determines the filter to be applied to the offer inventory.
        required: true
        type: string
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      responses:
        '200':
          description: Success - Return a list of offer objects and a single fallback offer object for a requested activity.
          schema:
            $ref: '#/definitions/activity-offers'
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/json
              type: string
        '400':
          description: Bad request
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '401':
          description: Unauthorized, invalid authentication credentials
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '404':
          description: Resource not found
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '406':
          description: Not acceptable
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '422':
          description: The resource was unprocessable
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'
        '500':
          description: Internal server error
          headers:
            X-Request-Id:
              description: The request ID for the custom X-Request-Id header value
              type: string
            Content-Type:
              description: application/problem+json
              type: string
          schema:
            $ref: '#/definitions/error-detail'

definitions:
  activity-reference:
    type: object
    required: 
      - xdm:offerActivity
    properties:
      xdm:offerActivity:
        type: string
        format: uri

  activity-offer-proposition:
    type: object   
    required: 
      - xdm:offerActivity
    properties:
      xdm:offerActivity:
        type: string
        format: uri
      xdm:offers:
        description: Offer details for the best match based on eligibility rules.
        type: array
        items:
          type: string
          format: uri
      xdm:fallbackOffer:
        description: Fallback offer details only if no matching offers are found. This is required if no matching offers are found.
        type: string
        format: uri
      
  activity-offers:
      type: object
      required:
        - xdm:offers
      properties:
        xdm:offers:
          type: array
          items:
            $ref: '#/definitions/offers-model'
      description: This is the schema for the response body of the offers API.

  allow-duplicate-propositions:
    type: object
    properties:
      xdm:acrossActivities:
        type: boolean
        default: false

  context-data:
    type: object
    additionalProperties: true
    properties:
      '@type':
        type: string
        format: uri
      xdm:data: 
        type: object

  
  decision-request:
    type: object
    required: 
      - xdm:offerActivities
    properties:
      xdm:offerActivities:
        type: array
        items:
          $ref: '#/definitions/activity-reference'
        minItems: 1
        maxItems: 30
      xdm:endUserIDs:
        $ref: '#/definitions/xdm-end-user-ids'
      xdm:identityMap:
        $ref: '#/definitions/xdm-identity-map'
      xdm:allowDuplicatePropositions:
        $ref: '#/definitions/allow-duplicate-propositions'
      xdm:dryRun:
        type: boolean
        default: false
      xdm:validateContextData:
        type: boolean
        default: false
      xdm:contextData:
        type: array
        items:
          $ref: '#/definitions/context-data'
      oneOf:
        type: array
        items:
          type: string
        example:
          - $ref: '#/definitions/xdm-end-user-ids'
          - $ref: '#/definitions/xdm-identity-map'

  decision-response:
    type: object
    required:
      - xdm:propositionID
      - xdm:propositions
    properties:
      xdm:propositionID:
        type: string
      xdm:propositions:
        type: array
        items:
          $ref: '#/definitions/activity-offer-proposition'
      xdm:factors:
        type: object
        properties:
          xdm:profileResponse:
            type: string
          xdm:experienceEventsResponse:
            type: string
        additionalProperties:
          type: string
        example:
          xdm:profileResponse: HTTP 404
          xdm:experienceEventsResponse: HTTP 429
  
  diagnostics-response:
    type: object
    required:
      - xdm:operations
    properties:
      xdm:operations:
        $ref: '#/definitions/diagnostics-operation'

  diagnostics-operation:
    type: object
    properties:
      xdm:offerCatalogUpdate:
        $ref: '#/definitions/diagnostics-entry'
      xdm:activitiesUpdate:
        $ref: '#/definitions/diagnostics-entry'

  diagnostics-entry:
    type: object
    required:
      - xdm:date
      - xdm:errors
    properties:
      xdm:date:
        type: string
        format: date-time
      xdm:errors:
        type: array
        items:
          $ref: '#/definitions/diagnostics-error'

  diagnostics-error:
    type: object
    properties:
      xdm:description:
        type: string
      xdm:details:
        type: object
      xdm:causes:
        type: array
        items:
          $ref: '#/definitions/diagnostics-error'


  instance-detail:
    type: object
    properties:
      id:
        type: string
        format: uri
      _links:
        type: object
        readOnly: true
        properties:
          self:
            $ref: '#/definitions/halLink'
      repo:etag:
        type: string

  halLink:
    type: object
    properties:
      href:
        type: string

  offers-model:
    type: object
    required:
      - xdm:offerActivity
      - xdm:fallbackOffer
    properties:
      xdm:offerActivity:
          $ref: '#/definitions/instance-detail'
      xdm:offers:
        type: array
        items:
          $ref: '#/definitions/instance-detail'
        minItems: 0
      xdm:fallbackOffer:
        $ref: '#/definitions/instance-detail'
    description:  This is the schema for a list of offers that belong to a requested activity. Multiple offers could be returned for the activity. Each activity should have a single fallback offer even if no other matching offers are found.

  xdm-end-user-ids:
    type: object
    description: This is supposed to refer to the schema, https://ns.adobe.com/xdm/context/enduserids

  xdm-identity-map:
    type: object
    description: Defines a map containing a set of end user identities, keyed on the namespace integration code of the identity. The values of the map are an array, meaning that more than one identity of each namespace may be carried.
      This is supposed to refer to the schema, https://ns.adobe.com/xdm/context/identityMap

  error-detail:
    type: object
    properties:
      detail:
        type: string
      status:
        type: integer
        description: The HTTP status code generated by the server for this occurrence of the problem.
      title:
        type: string
        description: A short, human-readable summary of the problem type.
      type:
        type: string
        description: A URI reference (RFC3986) that identifies the problem type.
    description: |-
      An error object containing a problem detail, as defined by
      <a href="https://tools.ietf.org/html/rfc7807">RFC 7807 Problem Details for HTTP APIs</a>.
      The returned content-type is the <i>application/problem+json</i> media type.
      When present, this response contains machine-readable details pertaining to
      the error. Problem details include a <i>type</i>, which is a URI.
      



