swagger: "2.0"
info:
  version: "1.0.0"
  title: "XDM Core Object Repository API"
  description: >-
    Experience Data Model (XDM) Core Object Repository is an event-driven repository for XDM instances, fully integrated with Adobe Experience Platform. XDM Core Object Repository is part of Decisioning Service, which provides the ability to programmatically and intelligently select the ‘Next Best Experience’ from a set of available options for a given individual, deliver them to any channel or application, and perform reporting and analysis on those experiences. Decisioning Service is controlled by a number of interrelated business objects. The XDM Core Object Repository API allows you to access and manage those business objects within the repository. 


    Related documentation:
      * [Decisioning Service overview](https://www.adobe.io/apis/experienceplatform/home/services/decisioning-service.html#!api-specification/markdown/narrative/technical_overview/decisioning-overview/decisioning-service-overview.md)
      * [Managing Decisioning Service entities using APIs tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/decisioning_tutorial/decisioning_entities_api_tutorial.md)

    Visualize API calls with Postman (a free, third-party software):
      * [XDM Core Object Repository API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/XDM%20Core%20Object%20Repository%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/core/xcore
      * Example of a complete path: https://<span>platform.adobe.io/data/core/xcore

    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.
  
  termsOfService: 'https://www.adobe.com/legal/terms.html'
basePath: /data/core/xcore
host: platform.adobe.io
tags:
  - name: "Home"
    description: "Home document for an IMS Organization. The home document is a HAL (Hypermedia Access Language) document which can be used as the hypermedia home directory for the IMS Organization specified. It lists relevant HAL links that can be traversed and also lists all of the containers belonging to the Org."
  - name: "Instances"
    description: "Perform CRUD operations to add, edit, update, delete, and view instances via the primary `instanceId`."
  - name: "Queries"
    description: "Core Queries against XDM instances."

produces:
  - application/vnd.adobe.platform.xcore.hal+json
consumes:
  - application/vnd.adobe.platform.xcore.hal+json

paths:
  /{containerId}/queries/core/search:
    get:
      tags:
      - "Queries"
      summary: "Rich core search interface for XDM instances."
      description: "Query instances in a container."
      operationId: "searchInstances"
      produces:
      - "application/vnd.adobe.platform.xcore.hal+json; schema='https://ns.adobe.com/experience/xcore/hal/results'"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "schema"
        in: "query"
        description: 'Instances with this schema namespace will be searched. This query parameter can be repeated like so: `schema=schemaNs1[,schema=schemaNs2,…]`. For example, `schema=https://ns.adobe.com/experience/offer-management/personalized-offer`.'
        required: false
        type: "string"
      - name: "q"
        in: "query"
        description: 'Optional query string to search within selected fields. The query string can be surrounded by double quotes (`" "`) for exact string match and to escape special characters. The characters `+ - = && || > < ! ( ) { } [ ] ^ \" ~ * ? : \ /` have special meaning and should be escaped with a backslash ("`\`") when appearing in the query string.'
        required: false
        type: "string"
      - name: "qop"
        in: "query"
        description: "Applies `AND` or `OR` operator to values in `q` query string param."
        required: false
        type: "string"
      - name: "field"
        in: "query"
        description: "Optional list of fields to limit the query search. This parameter can be repeated like so: `field=field1[,field=field2,…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name`"
        required: false
        type: "string"
      - name: "property"
        in: "query"
        description: "Optional property filter. Multiple parameters can be used in a single call using `property={property-expr}[,property={property-expr2},…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name`."
        required: false
        type: "string"
      - name: "orderby"
        in: "query"
        description: "Optional list of fields by which results should be sorted. Parameters can be repeated using `[+-]field1[,[+-]field2,…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name`. `_score` is a valid meta-field for ordering by search score."
        required: false
        type: "string"
      - name: "start"
        in: "query"
        description: "Optional comma separated list of start values matching type of `orderby` fields. Each value should be url encoded separately so that any commas present in the value are not treated as a value separator."
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Optional limit on number of results returned (default = 50)."
        required: false
        type: "integer"
        x-example: 50
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: 'Required when the Authorization "Bearer" token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`.'
        required: false
        type: "string"

      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/QueryResponse"
          examples:
            containerId: "2d732063-04c5-476e-8c5e-e4ca4a261412"
            schemaNs: https://ns.adobe.com/experience/offer-management/personalized-offer
            requestTime: '2018-08-03T23:10:37.300Z'
            _embedded:
              results:
              - instanceId: "256b7a80-969e-11e8-8fd7-3d63ab3de89e"
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 4
                repo:createdDate: '2018-08-02T21:51:01.159Z'
                repo:lastModifiedDate: '2018-08-03T22:08:21.563Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e3a049799c1fa2b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#256b7a80-969e-11e8-8fd7-3d63ab3de89e
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/256b7a80-969e-11e8-8fd7-3d63ab3de89e"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-08-02T19:49:55.274Z'
                repo:lastModifiedDate: '2018-08-02T19:49:55.274Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e39e8e00e81f9bf
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 520030e0-9432-11e8-891a-d360298d606f
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-30T19:54:07.979Z'
                repo:lastModifiedDate: '2018-07-30T19:54:07.979Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e360d11cb5ace7c
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#520030e0-9432-11e8-891a-d360298d606f
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/520030e0-9432-11e8-891a-d360298d606f"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 6b861d30-8ae7-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T00:05:18.082Z'
                repo:lastModifiedDate: '2018-07-19T00:05:18.082Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e26d37ab0bc63a8
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#6b861d30-8ae7-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/6b861d30-8ae7-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 7b8ced50-8a45-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-18T04:46:06.499Z'
                repo:lastModifiedDate: '2018-07-18T04:46:06.499Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placement-body-001
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e25ca2938fc5e9f
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#7b8ced50-8a45-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/7b8ced50-8a45-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: abd65ae0-8b95-11e8-ad94-0979eb6ee5a1
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T20:52:38.412Z'
                repo:lastModifiedDate: '2018-07-19T20:52:38.412Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27f0f8f3711eaf
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#abd65ae0-8b95-11e8-ad94-0979eb6ee5a1
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/abd65ae0-8b95-11e8-ad94-0979eb6ee5a1"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: af636a80-8b9b-11e8-ad94-0979eb6ee5a1
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 47
                repo:createdDate: '2018-07-19T21:35:41.350Z'
                repo:lastModifiedDate: '2018-07-26T23:18:21.920Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: urn:placement-body-001
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27fad359f11eb0
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#af636a80-8b9b-11e8-ad94-0979eb6ee5a1
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/af636a80-8b9b-11e8-ad94-0979eb6ee5a1"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: caabc590-8b8b-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T19:41:55.176Z'
                repo:lastModifiedDate: '2018-07-19T19:41:55.176Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27e0c92a3c641b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#caabc590-8b8b-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/caabc590-8b8b-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: d8ae5720-9432-11e8-891a-d360298d606f
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 3
                repo:createdDate: '2018-07-30T19:57:53.936Z'
                repo:lastModifiedDate: '2018-07-30T20:11:33.410Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: patched offer2
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e360dee745ace7d
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#d8ae5720-9432-11e8-891a-d360298d606f
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/d8ae5720-9432-11e8-891a-d360298d606f"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              total: 9
              count: 9
            _links:
              self:
                href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances?schema=https%3A%2F%2Fns.adobe.com%2Fexperience%2Foffer-management%2Fpersonalized-offer"
                "@type": https://ns.adobe.com/experience/xcore/hal/results

        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication\
            \ credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send\
            \ a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable"
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete\
            \ a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"


  /{containerId}/instances:
    get:
      tags:
      - "Queries"
      summary: "Core query for instances by schema ID or name."
      description: "The Collections API is designed to return a list of instances of a particular schema type defined by:<ul><li>All instances in a container that match a set of schemas.</li><li>Instances matching a name regex (MUST contain `xdm:name` property); or a list of specific instance IDs.</li></ul>"
      operationId: "getInstances"
      produces:
      - "application/vnd.adobe.platform.xcore.hal+json; schema='https://ns.adobe.com/experience/xcore/hal/results'"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "schema"
        in: "query"
        description: 'Instances with this schema namespace will be searched. This query parameter can be repeated like so: `schema=schemaNs1[,schema=schemaNs2,…]`. Example of a "schema" parameter: "schema=https://ns.adobe.com/experience/offer-management/personalized-offer"'
        required: true
        type: "string"
      - name: "id"
        in: "query"
        description: 'Instances will be restricted by their `@id` property. Cannot be used in conjunction with "name" query parameter. This parameter can be repeated. Example of an "id parameter: "xcore:personalized-offer:e27fad359f11eb0".'
        required: false
        type: "string"
      - name: "name"
        in: "query"
        description: 'Instances will be restricted by their `xdm:name` property. Cannot be used in conjunction with "id" query param. This param can be repeated.'
        required: false
        type: "string"
        x-example: "sample name"
      - name: "property"
        in: "query"
        description: "Optional property filter. Multiple parameters can be used in a single call using `property={property-expr}[,property={property-expr2},…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name`."
        required: false
        type: "string"
      - name: "orderby"
        in: "query"
        description: "Optional list of fields by which results should be sorted. Parameters can be repeated using `[+-]field1[,[+-]field2,…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name`. `_score` is a valid meta-field for ordering by search score."
        required: false
        type: "string"
      - name: "start"
        in: "query"
        description: "Optional comma separated list of start values matching type of `orderby` fields. Each value should be url encoded separately so that any commas present in the value are not treated as a value separator."
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Optional limit on number of results returned (default = 50)."
        required: false
        type: "integer"
        x-example: 50
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/QueryResponse"
          examples:
            containerId: 2d732063-04c5-476e-8c5e-e4ca4a261412
            schemaNs: https://ns.adobe.com/experience/offer-management/personalized-offer
            requestTime: '2018-08-03T23:10:37.300Z'
            _embedded:
              results:
              - instanceId: 256b7a80-969e-11e8-8fd7-3d63ab3de89e
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 4
                repo:createdDate: '2018-08-02T21:51:01.159Z'
                repo:lastModifiedDate: '2018-08-03T22:08:21.563Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e3a049799c1fa2b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#256b7a80-969e-11e8-8fd7-3d63ab3de89e
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/256b7a80-969e-11e8-8fd7-3d63ab3de89e"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-08-02T19:49:55.274Z'
                repo:lastModifiedDate: '2018-08-02T19:49:55.274Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e39e8e00e81f9bf
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 520030e0-9432-11e8-891a-d360298d606f
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-30T19:54:07.979Z'
                repo:lastModifiedDate: '2018-07-30T19:54:07.979Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e360d11cb5ace7c
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#520030e0-9432-11e8-891a-d360298d606f
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/520030e0-9432-11e8-891a-d360298d606f"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 6b861d30-8ae7-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T00:05:18.082Z'
                repo:lastModifiedDate: '2018-07-19T00:05:18.082Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e26d37ab0bc63a8
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#6b861d30-8ae7-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/6b861d30-8ae7-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: 7b8ced50-8a45-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-18T04:46:06.499Z'
                repo:lastModifiedDate: '2018-07-18T04:46:06.499Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placement-body-001
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e25ca2938fc5e9f
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#7b8ced50-8a45-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/7b8ced50-8a45-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: abd65ae0-8b95-11e8-ad94-0979eb6ee5a1
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T20:52:38.412Z'
                repo:lastModifiedDate: '2018-07-19T20:52:38.412Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27f0f8f3711eaf
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#abd65ae0-8b95-11e8-ad94-0979eb6ee5a1
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/abd65ae0-8b95-11e8-ad94-0979eb6ee5a1"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: af636a80-8b9b-11e8-ad94-0979eb6ee5a1
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 47
                repo:createdDate: '2018-07-19T21:35:41.350Z'
                repo:lastModifiedDate: '2018-07-26T23:18:21.920Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: urn:placement-body-001
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27fad359f11eb0
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#af636a80-8b9b-11e8-ad94-0979eb6ee5a1
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/af636a80-8b9b-11e8-ad94-0979eb6ee5a1"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: caabc590-8b8b-11e8-9bed-fda8aada7ef2
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 1
                repo:createdDate: '2018-07-19T19:41:55.176Z'
                repo:lastModifiedDate: '2018-07-19T19:41:55.176Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: My first offer
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e27e0c92a3c641b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#caabc590-8b8b-11e8-9bed-fda8aada7ef2
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/caabc590-8b8b-11e8-9bed-fda8aada7ef2"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              - instanceId: d8ae5720-9432-11e8-891a-d360298d606f
                schemas:
                - https://ns.adobe.com/experience/offer-management/personalized-offer
                repo:etag: 3
                repo:createdDate: '2018-07-30T19:57:53.936Z'
                repo:lastModifiedDate: '2018-07-30T20:11:33.410Z'
                repo:createdBy: undefinedUserId@AdobeID
                repo:lastModifiedBy: undefinedUserId@AdobeID
                _instance:
                  xdm:name: patched offer2
                  xdm:representations:
                  - xdm:components:
                    - dc:language:
                      - en
                      repo:resolveURL: http://adobe.com/templates/text/abc
                      "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                      dc:format: text/template
                    xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                    xdm:placement: xcore:offer-placement:placementId
                  xdm:rank:
                    xdm:priority: 42
                  xdm:selectionConstraint:
                    xdm:startDate: '2018-03-13T05:59:18.914Z'
                    xdm:endDate: '2018-03-27T05:59:18.914Z'
                  xdm:status: draft
                  xdm:cappingConstraint:
                    xdm:frequency: 25.1
                    xdm:volume: 10
                  "@id": xcore:personalized-offer:e360dee745ace7d
                _links:
                  self:
                    name: https://ns.adobe.com/experience/offer-management/personalized-offer#d8ae5720-9432-11e8-891a-d360298d606f
                    href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/d8ae5720-9432-11e8-891a-d360298d606f"
                    "@type": https://ns.adobe.com/experience/offer-management/personalized-offer
              total: 9
              count: 9
            _links:
              self:
                href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances?schema=https%3A%2F%2Fns.adobe.com%2Fexperience%2Foffer-management%2Fpersonalized-offer"
                "@type": https://ns.adobe.com/experience/xcore/hal/results

        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication\
            \ credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send\
            \ a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable.\
           \ If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of \
            \ healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete\
            \ a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

    post:
      tags:
      - "Instances"
      summary: Create a new XDM instance
      description: Create a new instance of a given model schema. Use the HAL link with the relationship type `api:create` that can be obtained from the Home ("/") endpoint as the complete URL. Alternatively, you can construct the URL from the `containerId` received from the Container API.
      operationId: "addInstance"
      consumes:
      - 'application/schema-instance+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/schema-instance+json; schema="https://ns.adobe.com/experience/xcore/any"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="https://ns.adobe.com/experience/xcore/any"'
      - 'application/schema-instance+json; schema="https://ns.adobe.com/experience/offer-management/personalized-offer"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="https://ns.adobe.com/experience/offer-management/personalized-offer"'

      produces:
       - "application/vnd.adobe.platform.xcore.xdm.receipt+json; version=1"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      - in: "body"
        name: "body"
        description: "XDM instance matching json schema namespace passed in via `content-type` media identifier or HAL document with XDM instance in `_instance` section and link relationships specified in `_links` sections."
        required: true
        schema:
          $ref: "#/definitions/HalBody"

      responses:
        201:
          description: "Creation was successful."
          schema:
            $ref: "#/definitions/Receipt"
          examples:
            instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
            "@id": xcore:personalized-offer:e39e8e00e81f9bf
            repo:etag: 1
            repo:createdDate: '2018-08-02T19:49:55.274Z'
            repo:lastModifiedDate: '2018-08-02T19:49:55.274Z'
            repo:createdBy: undefinedUserId@AdobeID
            repo:lastModifiedBy: undefinedUserId@AdobeID
        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        422:
          description: "Unprocessable entity. Indication of a problem with the body of\ \ the request such as it does not validate against its schema/s"
          schema:
            $ref: "#/definitions/ValidationCreate"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send\
            \ a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable.\
                     \ If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of \
                      \ healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete\
            \ a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"


  /{containerId}/instances/{instanceId}:
    get:
      tags:
      - "Instances"
      summary: "Get a specific instance on an object."
      description: "Get an instance of an object."
      operationId: "getInstance"
      produces:
      - 'application/schema-instance+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="{namespaceId1} {namespaceId2}"'
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "instanceId"
        in: "path"
        description: "The XDM instance ID."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      - name: "If-None-Match"
        in: "header"
        description: "Used with etag value for a conditional GET request."
        required: false
        type: "string"
      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/GetInstanceResponse"
          examples:
            instanceId: 7826b230-8b95-11e8-ad94-0979eb6ee5a1
            schemas:
            - https://ns.adobe.com/experience/offer-management/fallback-offer
            repo:etag: 1
            repo:createdDate: '2018-07-19T20:51:11.698Z'
            repo:lastModifiedDate: '2018-07-19T20:51:11.698Z'
            repo:createdBy: undefinedUserId@AdobeID
            repo:lastModifiedBy: undefinedUserId@AdobeID
            _instance:
              xdm:status: draft
              xdm:name: My first offer
              xdm:representations:
              - xdm:components:
                - dc:language:
                  - en
                  repo:resolveURL: http://adobe.com/templates/text/abc
                  "@type": https://ns.adobe.com/experience/offer-management/content-component-text
                  dc:format: text/template
                xdm:channel: https://ns.adobe.com/xdm/channel-types/email
                xdm:placement: xcore:offer-placement:placementId
              "@id": xcore:fallback-offer:e27f0a444b11eae
            _links:
              self:
                name: https://ns.adobe.com/experience/offer-management/fallback-offer#7826b230-8b95-11e8-ad94-0979eb6ee5a1
                href: "/2d732063-04c5-476e-8c5e-e4ca4a261412/instances/7826b230-8b95-11e8-ad94-0979eb6ee5a1"
                "@type": https://ns.adobe.com/experience/offer-management/fallback-offer
        304:
          description: "The object has not been modified. Returned when If-None-Match request header etag matches object etag."
        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable. If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

    put:
      tags:
      - "Instances"
      summary: "Update an existing XDM instance."
      description: "Updates an existing instance using a constructed URL. Use the `Location` header or a HAL link received from a prior API call for this object as the complete URL for this endpoint. If this is not possible, you can construct the URL from the `containerId` and the `instanceId`. `Content-type` negotiation is used to pass in the schema which represents the schema type that is registered with the instance and also is used to validate the instance. For PUT and PATCH operations the schema is optionally given as it was required on the POST request to create the instance."
      operationId: "updateInstance"
      consumes:
      - 'application/schema-instance+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/schema-instance+json; schema="https://ns.adobe.com/experience/xcore/any"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="https://ns.adobe.com/experience/xcore/any"'
      - 'application/schema-instance+json; schema="https://ns.adobe.com/experience/offer-management/personalized-offer"'
      - 'application/vnd.adobe.platform.xcore.hal+json; schema="https://ns.adobe.com/experience/offer-management/personalized-offer"'
      produces:
       - "application/vnd.adobe.platform.xcore.xdm.receipt+json; version=1"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "instanceId"
        in: "path"
        description: "The XDM instance ID."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      - name: "If-Match"
        in: "header"
        description: "Etag which must match the etag on the object in order for the write operation to succeed, otherwise the request will return HTTP Status 409 (Conflict)."
        required: false
        type: "integer"
      - in: "body"
        name: "body"
        description: "XDM instance matching json schema namespace passed in via `content-type` media identifier or HAL document with XDM instance in `_instance` section and link relationships specified in `_links` sections."
        required: true
        schema:
          $ref: "#/definitions/HalBody"
      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/Receipt"
          examples:
            instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
            "@id": xcore:personalized-offer:e39e8e00e81f9bf
            repo:etag: 2
            repo:createdDate: '2018-08-02T19:49:55.274Z'
            repo:lastModifiedDate: '2018-08-05T12:12:01.213Z'
            repo:createdBy: undefinedUserId@AdobeID
            repo:lastModifiedBy: undefinedUserId@AdobeID
        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        409:
          description: "Conflict. Client wants to write a change to instance, however another client has written a change since the etag presented as evidence in the PUT request"
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        412:
          description: "Precondition Failed."
          schema:
            $ref: "#/definitions/412ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        422:
          description: "Unprocessable entity. Indication of a problem with the body of\ \ the request such as it does not validate against its schema/s"
          schema:
            $ref: "#/definitions/ValidationUpdate"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable. If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

    patch:
      tags:
      - "Instances"
      summary: "Update instance using patch protocol."
      description: "Update an existing XDM instance using JSON Patch protocol. Updates an existing instance using a patch document. Use the `Location` header or a HAL link received from a prior API call for this object as the complete URL for this API. If this is not possible, you can construct the URL from the `containerId` and the `instanceId`."
      operationId: "patchInstance"
      consumes:
      - 'application/vnd.adobe.platform.xcore.patch.hal+json; schema="{namespaceId1} {namespaceId2}"'
      - 'application/vnd.adobe.platform.xcore.patch.hal+json; schema="https://ns.adobe.com/experience/xcore/any"'
      - 'application/vnd.adobe.platform.xcore.patch.hal+json; schema="https://ns.adobe.com/experience/offer-management/personalized-offer"'
      produces:
       - "application/vnd.adobe.platform.xcore.xdm.receipt+json; version=1"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "instanceId"
        in: "path"
        description: "The XDM instance ID."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      - name: "If-Match"
        in: "header"
        description: "Used for optimistic lock on a write request. Contains etag value from previous request which is compared against latest value on the object. If values differ, the write request is rejected and returns HTTP Status 409 (Conflict)."
        required: false
        type: "integer"
      - in: "body"
        name: "body"
        description: "XDM instance matching json schema namespace passed in via `content-type` media identifier or HAL document with XDM instance in `_instance` section and link relationships specified in `_links` sections."
        required: true
        schema:
          $ref: "#/definitions/PatchBody"
      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/Receipt"
          examples:
            instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
            "@id": xcore:personalized-offer:e39e8e00e81f9bf
            repo:etag: 3
            repo:createdDate: '2018-08-02T19:49:55.274Z'
            repo:lastModifiedDate: '2018-08-08T23:10:10.004Z'
            repo:createdBy: undefinedUserId@AdobeID
            repo:lastModifiedBy: undefinedUserId@AdobeID
        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        409:
          description: "Conflict. Client wants to write a change to instance, however another client has written a change since the etag presented as evidence in the PUT request"
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        412:
          description: "Precondition Failed."
          schema:
            $ref: "#/definitions/412ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        422:
          description: "Unprocessable entity. Indication of a problem with the body of the request such as it does not validate against its schemas"
          schema:
            $ref: "#/definitions/ValidationPatch"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable. If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

    delete:
      tags:
      - "Instances"
      summary: "Delete an XDM instance."
      description: Deletes an existing instance using a constructed URL. Use the `Location` header or a HAL link received from a prior API call for this object as the complete URL for this API. If this is not possible, you can construct the URL from the `containerId` and the `instanceId`.
      operationId: "deleteInstance"
      produces:
       - "application/vnd.adobe.platform.xcore.xdm.receipt+json; version=1"
      parameters:
      - name: "containerId"
        in: "path"
        description: The unique ID for the container that was generated by the XDM Core Object Repository. This value is obtained by locating the container using the Home ("/") endpoint.
        required: true
        type: "string"
      - name: "instanceId"
        in: "path"
        description: "The XDM instance ID."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      - name: "If-Match"
        in: "header"
        description: "Etag must match the etag on the object for the request to succeed, otherwise an HTTP Status 409 (Conflict) is returned."
        required: false
        type: "integer"
      responses:
        200:
          description: "The XDM instance is successfully deleted synchronously when there is no referential integrity check is required for the instance's schema."
          schema:
            $ref: "#/definitions/Receipt"
          examples:
            instanceId: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
            "@id": xcore:personalized-offer:e39e8e00e81f9bf
            repo:etag: 4
            repo:createdDate: '2018-08-02T19:49:55.274Z'
            repo:lastModifiedDate: '2018-08-10T04:14:01.504Z'
            repo:createdBy: undefinedUserId@AdobeID
            repo:lastModifiedBy: undefinedUserId@AdobeID
        202:
          description: "Response has no body. The XDM instance deletion request is accepted, used for asynchronous deletion when referential integrity check is required for the instance's schema."
          headers:
            Location:
              type: string
              format: uri
              description: "The uri where deletion status can be retrieved"
        400:
          description: "Invalid ID supplied"
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        412:
          description: "Precondition Failed."
          schema:
            $ref: "#/definitions/412ErrorDetail"
        422:
          description: "Unprocessable entity. Indication of a problem with the body of the request such as it does not validate against its schemas"
          schema:
            $ref: "#/definitions/ValidationDelete"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send\
            \ a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable. If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

  /:
    get:
      tags:
      - "Home"
      summary: "View the home directory for an IMS organization."
      description: "View the home document for an IMS Organization. The home document is a HAL (Hypermedia Access Language) document which can be used as the hypermedia home directory for the IMS Organization specified. It lists relevant HAL links that can be traversed and also lists all of the containers belonging to the Org. The containers are ordered by the `repo:createdDate` property."
      operationId: "getHome"
      produces:
      - "*"
      - "application/vnd.adobe.platform.xcore.home.hal+json"
      parameters:
      - name: "product"
        in: "query"
        description: 'Optionally specify one or more product contexts for which to return containers. If absent, containers for all contexts that you have rights to will be returned. The `product` parameter can be repeated for multiple contexts. An example of this parameter is `product=acp`.'
        required: false
        type: "string"
      - name: "start"
        in: "query"
        description: "Optional key for start of pagination, which is a timestamp."
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Optional limit on number of results returned (default = 50)."
        required: false
        type: "integer"
      - name: "property"
        in: "query"
        description: "Optional property filter. Multiple parameters can be used in a single call using `property={property-expr}[,property={property-expr2},…]`. Path expressions are in the form of dot separated paths such as `_instance.xdm:name!=Test*`."
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        description: 'Access token in the format "Bearer {ACCESS_TOKEN}".'
        required: true
        type: "string"
      - name: "x-gw-ims-org-id"
        description: IMS organization ID. The container specified in the `containerId` parameter must be owned by the IMS Org attempting to access it.
        in: "header"
        required: true
        type: "string"
      - name: "x-api-key"
        description: "API key of calling client."
        in: "header"
        required: true
        type: "string"
      - name: "x-request-id"
        in: "header"
        description: 'A string in UUID format that is globally unique and must not be reused for different API calls. The request ID is used for debugging purposes and tracking of each API call performed. For example, "d41ee840-0a10-4393-ab55-12fa54cb6172".'
        required: true
        type: "string"
      - name: "x-user-token"
        in: "header"
        description: "Required when the Authorization 'Bearer' token is a service access token, otherwise this parameter is ignored. Identifies the user on whose behalf the service is calling. User must have been provided with at least one of the Product Profiles belonging to the IMS Org whose IMS Org ID the caller provides as the `x-gw-ims-org-id` request header and write access permissions specific to schema type in the container for the IMS Org specified in `x-gw-ims-org-id`."
        required: false
        type: "string"
      responses:
        200:
          description: "OK, Success"
          schema:
            $ref: "#/definitions/GetInstanceResponse"
          examples:
            _embedded:
              https://ns.adobe.com/experience/xcore/container:
              - instanceId: 8eedfaa0-8a14-11e8-8cc3-136df1f35778
                schemas:
                - https://ns.adobe.com/experience/xcore/container
                repo:etag: 1
                repo:createdDate: '2018-07-17T22:55:53.509Z'
                repo:lastModifiedDate: '2018-07-17T22:55:53.509Z'
                repo:createdBy: DA1E330759F7BA260A49423B@AdobeID
                repo:lastModifiedBy: DA1E330759F7BA260A49423B@AdobeID
                _instance:
                  repo:parentPath: "/business_unit_4/project_A"
                  repo:name: testContainer1
                  repo:parentId: urn:aaid:directory:c5c5b8a0-7a4d-11e8-97c8-b7735105669b
                  repo:dataCenter: va7
                  repo:parentIdPath: urn:aaid:directory:ba925aa1-e11b-4a86-80d1-132bccce08f3,urn:aaid:directory:c5c5b8a0-7a4d-11e8-97c8-b7735105669b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/xcore/container#8eedfaa0-8a14-11e8-8cc3-136df1f35778
                    href: "/f1afc9ae-7400-35c5-9bf9-415dc4b6363e/instances/8eedfaa0-8a14-11e8-8cc3-136df1f35778"
                    "@type": https://ns.adobe.com/experience/xcore/container
              - instanceId: 4aa57e70-8a1b-11e8-a3a7-e99ad4675ef1
                schemas:
                - https://ns.adobe.com/experience/xcore/container
                repo:etag: 1
                repo:createdDate: '2018-07-17T23:44:05.590Z'
                repo:lastModifiedDate: '2018-07-17T23:44:05.590Z'
                repo:createdBy: DA1E330759F7BA260A49423B@AdobeID
                repo:lastModifiedBy: DA1E330759F7BA260A49423B@AdobeID
                _instance:
                  parentIdPath: urn:aaid:directory:ba925aa1-e11b-4a86-80d1-132bccce08f3,urn:aaid:directory:c5c5b8a0-7a4d-11e8-97c8-b7735105669b
                  repo:name: testContainer
                  dataCenter: va7
                  repo:path: "/business_unit_4/project_A"
                  parentId: urn:aaid:directory:c5c5b8a0-7a4d-11e8-97c8-b7735105669b
                _links:
                  self:
                    name: https://ns.adobe.com/experience/xcore/container#4aa57e70-8a1b-11e8-a3a7-e99ad4675ef1
                    href: "/f1afc9ae-7400-35c5-9bf9-415dc4b6363e/instances/4aa57e70-8a1b-11e8-a3a7-e99ad4675ef1"
                    "@type": https://ns.adobe.com/experience/xcore/container
            _links:
              self:
                href: "/"
                "@type": https://ns.adobe.com/experience/xcore/hal/home

        400:
          description: "The request is malformed."
          schema:
            $ref: "#/definitions/400ErrorDetail"
        401:
          description: "The request has not been applied because it lacks valid authentication\
            \ credentials for the target resource."
          schema:
            $ref: "#/definitions/401ErrorDetail"
        403:
          description: "The requester is not authorized to access the resource."
          schema:
            $ref: "#/definitions/403ErrorDetail"
        404:
          description: "Not found."
          schema:
            $ref: "#/definitions/404ErrorDetail"
        415:
          description: "Method not allowed."
          schema:
            $ref: "#/definitions/ClientErrorDetail"
        500:
          description: "This is an indicator of a server-side error."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        502:
          description: "This is an indicator that the back-end service did not send\
            \ a valid response."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        503:
          description: "This is an indicator of a potential server overload, or failure of a dependency such as Elasticsearch being unavailable.\
                     \ If 503 is given because server is overloaded, server will open circuit breakers and bleed off just enough traffic to maintain a large a percentage of \
                      \ healthy traffic vs 503 responses as possible."
          schema:
            $ref: "#/definitions/ServerErrorDetail"
        504:
          description: "This is an indicator that the back-end service did not complete\
            \ a response within an allowed time period."
          schema:
            $ref: "#/definitions/ServerErrorDetail"

definitions:
  GetInstanceResponse:
    type: "object"
    properties:
      instanceId:
        type: string
      schemas:
        type: array
        items:
          type: string
      repo:etag:
        type: integer
      repo:createdDate:
        type: string
      repo:lastModifiedDate:
        type: string
      repo:createdBy:
        type: string
      repo:lastModifiedBy:
        type: string
      _instance:
        type: "object"
        readOnly: true
        description: "XDM instance data included here"
      _links:
        type: "object"
        readOnly: true
        properties:
          self:
            $ref: "#/definitions/HalLink"
          some_relationship:
            $ref: "#/definitions/HalLink"
          some_otherrelationship:
            $ref: "#/definitions/HalLink"
  QueryResponse:
    type: "object"
    properties:
      containerId:
        type: string
      schemaNs:
        type: string
      requestTime:
        type: string
      _embedded:
        type: "object"
        readOnly: true
        description: "Query results"
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                instanceId:
                  type: string
                schemas:
                  type: array
                  items:
                    type: string
                repo:etag:
                  type: integer
                repo:createdDate:
                  type: string
                repo:lastModifiedDate:
                  type: string
                repo:createdBy:
                  type: string
                repo:lastModifiedBy:
                  type: string
                _score:
                  type: number
                _instance:
                  type: "object"
                  readOnly: true
                  description: "XDM instance data included here"
                _links:
                  type: "object"
                  readOnly: true
                  properties:
                    self:
                      $ref: "#/definitions/HalLink"
                    some_relationship:
                      $ref: "#/definitions/HalLink"
                    some_otherrelationship:
                      $ref: "#/definitions/HalLink"
          total:
            type: integer
          count:
            type: integer
      _links:
        type: "object"
        readOnly: true
        properties:
          self:
            $ref: "#/definitions/HalLink"
          some_relationship:
            $ref: "#/definitions/HalLink"
          some_otherrelationship:
            $ref: "#/definitions/HalLink"

  Receipt:
    type: "object"
    properties:
      instanceId:
        type: string
        description: "instance id"
        example: 3aa4e3c0-968d-11e8-8fd7-3d63ab3de89e
      '@id':
        type: string
        description: "XDM id"
        example: xcore:personalized-offer:e39e8e00e81f9bf
      repo:etag:
        type: integer
        description: "etag indicating a specific version update"
        example: 4
      repo:createdDate:
        type: string
        description: "Date time the instance was first created"
        example: '2018-08-02T19:49:55.274Z'
      repo:lastModifiedDate:
        type: string
        description: "Date time the instance was last updated"
        example: '2018-08-02T19:49:55.274Z'
      repo:createdBy:
        type: string
        description: "User id who created instance"
        example: undefinedUserId@AdobeID
      repo:lastModifiedBy:
        type: string
        description: "User id who last modified instance"
        example: undefinedUserId@AdobeID

  HalLink:
    type: "object"
    properties:
      name:
        type: string
        description: "name of the link"
        example: "has_offers"
      href:
        type: "string"
        description: "href that points to target of the link"
        example: "/2d732063-04c5-476e-8c5e-e4ca4a261419/instances"
      '@type':
        type: "string"
        description: "schema type of the link"
        example: "https://ns.adobe.com/experience/offer-management/personalized-offer"

  HalBody:
    type: "object"
    properties:
      _instance:
        type: "object"
        description: "XDM instance data included here"
        example:
          xdm:name: My first offer
          xdm:status: draft
          xdm:rank:
            xdm:priority: 42
          xdm:cappingConstraint:
            xdm:volume: 10
            xdm:frequency: 25.1
          xdm:selectionConstraint:
            xdm:startDate: '2018-03-13T05:59:18.914Z'
            xdm:endDate: '2018-03-27T05:59:18.914Z'
          xdm:representations:
          - xdm:components:
            - "@type": https://ns.adobe.com/experience/offer-management/content-component-text
              dc:format: text/template
              dc:language:
              - en
              repo:resolveURL: http://adobe.com/templates/text/abc
            xdm:channel: https://ns.adobe.com/xdm/channel-types/email
            xdm:placement: xcore:offer-placement:placementId
      _links:
        type: "object"
        properties:
          self:
            $ref: "#/definitions/HalLink"
          some_relationship:
            $ref: "#/definitions/HalLink"
          some_otherrelationship:
            $ref: "#/definitions/HalLink"

  PatchBody:
    type: "object"
    example:
      - op: replace
        path: "/_instance/xdm:name"
        value: patched offer2
      - op: add
        path: "/_instance/xdm:description"
        value: new offer

  ValidationCreate:
    type: "object"
    properties:
      "type":
        type: string
        example: https://platform.adobe.io/validation-error
      status:
        type: integer
        example: 422
      title:
        type: string
        example: Unprocessable Entity
      detail:
        type: string
        example: "code=SERIALIZATION-504 : Referential integrity checks failed due to the following errors=[code=SERIALIZATION-504 : References=xcore:offer-placement2:fe196c43b6734a5 have been deleted and are no longer valid pointers.]"
      code:
        type: string
        example: "SERIALIZATION-504"

  ValidationUpdate:
    type: "object"
    properties:
      "type":
        type: string
        example: https://platform.adobe.io/validation-error
      status:
        type: integer
        example: 422
      title:
        type: string
        example: Unprocessable Entity
      detail:
        type: string
        example: "code=SERIALIZATION-505 : Referential integrity checks failed due to the following errors=[code=SERIALIZATION-505 : References=xcore:offer-placement2:fe196c43b6734a5 are not identifiers for instances of destination schema='https://ns.adobe.com/experience/offer-management/tag'.]"
      code:
        type: string
        example: "SERIALIZATION-505"

  ValidationPatch:
    type: "object"
    properties:
      "type":
        type: string
        example: https://platform.adobe.io/validation-error
      status:
        type: integer
        example: 422
      title:
        type: string
        example: Unprocessable Entity
      detail:
        type: string
        example: "code=SERIALIZATION-511 : Referential integrity checks failed due to the following errors=[code=SERIALIZATION-511 : References=xcore:offer-placement2:fe196c43b6734a5 are pending deletion and are no longer valid pointers.]"
      code:
        type: string
        example: "SERIALIZATION-511"

  ValidationDelete:
    type: "object"
    properties:
      "type":
        type: string
        example: https://platform.adobe.io/validation-error
      status:
        type: integer
        example: 422
      title:
        type: string
        example: Unprocessable Entity
      detail:
        type: string
        example: "code=XCORE-165 : Instance is pending deletion"
      code:
        type: string
        example: "SERIALIZATION-165"

  ClientErrorDetail:
    type: "object"
    properties:
      "type":
        type: "string"
        example: "https://platform.adobe.io/client-error"
        description: "A URI reference (RFC3986) that identifies the problem type."
      status:
        type: "integer"
        format: "int32"
        example: "4xx"
        description: "The HTTP status code generated by the server for this occurrence\
          \ of the problem."
      title:
        type: "string"
        # example: "Error Title"
        description: "A short, human-readable summary of the problem type."
      detail:
        type: "string"
        # example: "DeserializationException: Expected a '','' or ''}'' at 36 [character 3 line 4]"
        description: "Detailed description of the problem"
      code:
        type: string
        example: XCORE-100

    description: |-
      An error object containing a problem detail, as defined by
      <a href="https://tools.ietf.org/html/rfc7807">RFC 7807 Problem Details for HTTP APIs</a>.
      The returned content-type is the <i>application/problem+json</i> media type.
      When present, this response contains machine-readable details pertaining to
      the error. Problem details include a <i>type</i>, which is a URI.

  400ErrorDetail:
    type: "object"
    properties:
      "type":
        type: "string"
        example: "https://platform.adobe.io/client-error"
        description: "A URI reference (RFC3986) that identifies the problem type."
      status:
        type: "integer"
        format: "int32"
        example: "400"
        description: "The HTTP status code generated by the server for this occurrence\
          \ of the problem."
      title:
        type: "string"
        example: "Unsupported Data/Bad Request"
        description: "A short, human-readable summary of the problem type."
      detail:
        type: "string"
        example: "code=XCORE-230 : Invalid property expression field='asdasdsad$$~'"
        description: "Detailed description of the problem"
      code:
        type: string
        example: XCORE-230

    description: |-
        An error object containing a problem detail, as defined by
[...]
