consumes:
  - application/json
produces:
  - application/json
swagger: '2.0'
info:
  description: |-
    Experience Platform Identity Namespace Service API is used to query and create Namespaces and Realms used with Identity Service & Unified Profile Service APIs
  title: Experience Platform Identity Namespace Service
  contact:
    url: 'http://www.adobe.io'
  version: 0.0.1
host: 'platform-int.adobe.io'
basePath: /data/core/idnamespace
paths:
  /identities/:
    get:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: Lists all namespaces available to the client `x-gw-ims-org-id`
      operationId: ListAvailableDataSourcesByOrg
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    post:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: body
          required: true
          name: namespace_to_create
          description: Namespace details as a JSON input
          schema:
            $ref: '#/definitions/NamespaceForCreate'
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: Create namespace under `x-gw-ims-org-id` IMS Org .
      operationId: CreateNameSpace
      responses:
        201:
          description: Created. Namespace created sucessfully.
          schema:
            $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
            
  /identities/{id}:
    get:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: path
          name: id
          type: integer
          required: true
          description: The numeric value of the namespace-id (Example - 771)
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: List details of a single namespace identified by `{id}` if it is accessible to `x-gw-ims-org-id`
      operationId: ListNameSpaceByID
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    put:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: path
          name: id
          type: integer
          required: true
          description: The Namespace ID (Example - 123 )
        - in: body
          required: true
          name: namespace_to_create
          description: Namespace details as a json input
          schema:
            $ref: '#/definitions/NamespaceForCreate'
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: Update namespace owned by `x-gw-ims-org-id` and having the given `id`.
      operationId: UpdateDataSourcesByDPID
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

    delete:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: path
          name: id
          type: integer
          required: true
          description: The Namespace ID (Example - 123 )
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: Delete namespace owned by `x-gw-ims-org-id` and identified by the given `id`.
      operationId: DeleteDataSourcesByDPID
      responses:
        204:
          description: No Content. Delete Successful
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

  /orgs/{imsorg}/identities/:
    get:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: path
          name: imsorg
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: Lists shared namespaces for the given `{imsorg}` or all owned if `{imsorg}` == `x-gw-ims-org-id`
      operationId: ListDataSourcesByOrg
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

  /orgs/{imsorg}/identities/{id}:
    get:
      parameters:
        - in: header
          name: x-gw-ims-org-id
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: header
          name: x-api-key
          type: string
          required: true
          description: The API Key (IMS ClientID) that has already been whitelisted with the Identity Namespace API
        - in: path
          name: imsorg
          type: string
          required: true
          description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
        - in: path
          name: id
          type: integer
          required: true
          description: The Namespace ID (Example - 123 )
      consumes:
        - application/json
      produces:
        - application/json
      schemes:
        - http
        - https
      summary: List details of a single namespace identified by `{id}` if it is accessible to `x-gw-ims-org-id`
      operationId: ListDataSourcesByDPID
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Namespace:
    type: object
    properties:
      shared:
        type: boolean
      custom:
        type: boolean
      createTime:
        type: integer
        format: int64
      description:
        type: string
      idType:
        type: string
      code:
        type: string
      name:
        type: string
      id:
        type: integer
        format: int64
      status:
        type: string
      updateTime:
        type: integer
        format: int64
  NamespaceForCreate:
    type: object
    properties:
      shared:
        type: boolean
      description:
        type: string
      idType:
        type: string
        enum: [COOKIE, MOBILE]
      code:
        type: string
      name:
        type: string
  Error:
    type: object
    properties:
      code:
        type: string
      detail:
        type: string
      message:
        type: string
