swagger: '2.0'
info:
  description: >-
    Identity Service provides API based access to customer identity graphs which resolves a known or anonymous identity to all 
    other known and anonymous identities of an individual. Identity Service solves the fundamental challenge posed by the
    disconnected identities of your customers caused by the fragmented nature of their data as it exists across each
    of the disparate systems at play in your organization's ecosystem. This seamless unified view of your customers allows 
    for a vast improvement in the accuracy and reach of your digital marketing campaigns.


    Some common terminology used in this API document:
      Term | Definition
      --- | ---
      __Identity__ |  An identity on Experience Platform is the fully qualified identifier (the ID plus the relevant namespace OR the XID) for a given profile.
      __Identity Namespace__ |  The namespace of an identity relates it to its system of origin. The ID value plus the namespace fully qualify an identity.
      __Cluster__ | Given an identity, a "cluster" represents that identity and all identities linked to it in the identity graph. These related IDs are considered to be part of the same "cluster".
      __Mapping__ | Mapping allows you to provide a fully qualified identity and will return the linked identity from another namespace.

    For more information, see [Identity Service Overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/identity_services_architectural_overview/identity_services_architectural_overview.md).


    __Notes__:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
      to obtain these, visit the documentation covering making API calls in the [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html)

  title: Identity Service

  version: 0.0.1

  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: platform.adobe.io
basePath: /data/core
tags:
  - name: Identity
    description: >-
      Identity services provide access to a profile identity in XID form.
  - name: Identity Namespace
    description: >-
      Identity Namespace services allow you to work with Namespaces for your organization, such as to list all Namespaces available or to create a custom Namespace.
  - name: Cluster
    description: >-
      Cluster services provide access to groupings of identities as linked in the identity graph.
  - name: Mappings
    description: >-
      Mapping allows you to provide a fully qualified identity and will return the linked identity from another namespace.


paths:

  /identity/identity:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Identity
      summary: Given an id and namespace returns an identity string
      description: 'Given the namespace and id in that namespace, returns XID string.'
      operationId: getIdentityBlob
      produces:
        - application/json
      parameters:
        - name: nsid
          in: query
          description: namespace id
          required: true
          type: integer
          default: 411
        - name: namespace
          in: query
          description: namespace code
          required: false
          type: string
          default: 'adcloud'
        - name: id
          in: query
          description: Id in given namespace
          required: true
          type: string
          default: '2521328045094711779817'
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              identity:
                type: string
                example: HHDAHDKYYD
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The provided namespace=CRMID and id=ssbtest124March262019crmi1 is invalid. Please provide a valid namespace and id in your request.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/cluster/members:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Cluster
      summary: 'Given an identity, returns all linked identities in that cluster.'
      description: 'Given an XID return all XIDs, in the same or other namespaces, that are linked to it by the device graph type. The related XIDs are considered to be part of the same cluster. It is required to pass either xid or (namespace/nsid & id) pair to get cluster members.'
      operationId: getClusterMembers
      produces:
        - application/json
      parameters:
        - name: xid
          in: query
          description: Identity string as returned by /identity GET api
          type: string
          default: '2521328045094711779817'
        - name: nsid
          in: query
          description: namespace id
          required: false
          type: integer
          default: '411'
        - name: namespace
          in: query
          description: namespace code
          required: false
          type: string
          default: adcloud
        - name: id
          in: query
          description: Id in given namespace
          required: false
          type: string
          default: '2521328045094711779817'
        - name: graph-type
          in: query
          description: Graph type (output type) you want to get the cluster from
          required: false
          type: string
          default: Private Graph
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
      responses:
        '200':
          examples:
            value:
              version: '1.0'
              clusters:
                - xid: '27064814400205787570627663430729680462'
                  xidsInCluster:
                    - e8138f65-d3d3-4485-a7e1-6712e047349d
                    - '21312343536983537571245438594'
              unprocessedXids: '[cb0665db616f49758713252d8a335c1e]'
          description: OK
          schema:
            $ref: '#/definitions/ClusterMembers'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: 'application/vnd.adobe.identity+json;version=1.2;charset=utf-8;profile= https://ns.adobe.com/schemas/json/identity-cluster-response'
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The IMS Org ABC123@AdobeOrg is not provisioned for private device graph.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/clusters/members:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    post:
      tags:
        - Cluster
      summary: 'Given set of identities, returns all linked identities in cluster corresponding to each identity.'
      description: ''
      operationId: getListOfClusterMembers
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: List of ID's for which we need to find related IDs
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/ListOfIdentity'
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          examples:
            value:
              version: '1.0'
              clusters:
                - xid: '27064814400205787570627663430729680462'
                  xidsInCluster:
                    - e8138f65-d3d3-4485-a7e1-6712e047349d
                    - '21312343536983537571245438594'
                - xid: WTCpVgAAAFq14FMF
                  xidsInCluster: []
              unprocessedXids: '[cb0665db616f49758713252d8a335c1e]'
          description: OK
          schema:
            $ref: '#/definitions/ClusterMembers'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: 'application/vnd.adobe.identity+json;version=1.2;charset=utf-8;profile= https://ns.adobe.com/schemas/json/identity-cluster-response'
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The IMS Org ABC123@AdobeOrg is not provisioned for private device graph.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/cluster/history:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Cluster
      summary: 'Given an XID, return all cluster association statistics for that XID'
      description: 'Given an XID, return all cluster associations with that XID. It is required to pass either xid or (namespace/nsid & id) pair to get cluster history.'
      operationId: getClusterHistory
      produces:
        - application/json
      parameters:
        - name: xid
          in: query
          description: Identity string as returned by /identity GET api
          type: string
          default: '2521328045094711779817'
        - name: nsid
          in: query
          description: namespace id
          required: false
          type: integer
          default: '411'
        - name: namespace
          in: query
          description: namespace code
          required: false
          type: string
          default: adcloud
        - name: id
          in: query
          description: Id in given namespace
          required: false
          type: string
          default: '2521328045094711779817'
        - name: graph-type
          in: query
          description: Graph type (output type) you want to get the cluster from
          required: false
          type: string
          default: Private Graph
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
      responses:
        '200':
          examples:
            value:
              version: '1'
              xidsClusterHistory:
                - xid: '27064814400205787570627663430729680462'
                  clusterHistory:
                    - clusterId: 4c686f23-0871-41c2-b4f4-adef89f6bd2c
                      cRecordedTS: '1504741401382'
                    - clusterId: 29bf066c-971a-11e7-abc4-cec278b6b50a
                      cRecordedTS: '1502063001629'
                    - clusterId: aeb2f60c-b0f1-446a-91dd-d28ab6a44ff9
                      cRecordedTS: '1499384601763'
              unprocessedXids: '[cb0665db616f49758713252d8a335c1e]'
          description: OK
          schema:
            $ref: '#/definitions/ClusterHistory'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The IMS Org ABC123@AdobeOrg is not provisioned for private device graph.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/clusters/history:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    post:
      tags:
        - Cluster
      summary: 'Given a set of XIDs, return all corresponding cluster association statistics'
      description: ''
      operationId: getListOfClusterHistory
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: List of ID's for which we need to find related cluster IDs
          required: true
          schema:
            $ref: '#/definitions/ListOfIdentity'
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          examples:
            value:
              version: '1'
              xidsClusterHistory:
                - xid: '27064814400205787570627663430729680462'
                  clusterHistory:
                    - clusterId: 4c686f23-0871-41c2-b4f4-adef89f6bd2c
                      cRecordedTS: '1504741401382'
                    - clusterId: 29bf066c-971a-11e7-abc4-cec278b6b50a
                      cRecordedTS: '1502063001629'
                    - clusterId: aeb2f60c-b0f1-446a-91dd-d28ab6a44ff9
                      cRecordedTS: '1499384601763'
                - xid: WTCpVgAAAFq14FMF
                  clusterHistory:
                    - clusterId: 4c686f23-0871-41c2-b4f4-adef89f6bd2c
                      cRecordedTS: '1504741401937'
              unprocessedXids: '[cb0665db616f49758713252d8a335c1e]'
          description: OK
          schema:
            $ref: '#/definitions/ClusterHistory'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The IMS Org ABC123@AdobeOrg is not provisioned for private device graph.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/mapping:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Mappings
      summary: 'Given an identity and target namespace, returns the linked identity'
      description: 'Given an XID, returns all XID mappings in the requested namespace (targetNs). It is required to pass either xid or (namespace/nsid & id) pair to get mappings in required namespace.'
      operationId: getMappings
      produces:
        - application/json
      parameters:
        - name: xid
          in: query
          description: Identity string as returned by /identity GET api
          type: string
          default: '2521328045094711779817'
        - name: nsid
          in: query
          description: namespace id
          required: false
          type: integer
          default: 411
        - name: namespace
          in: query
          description: namespace code
          required: false
          type: string
          default: 'adcloud'
        - name: id
          in: query
          description: Id in given namespace
          required: false
          type: string
          default: '2521328045094711779817'
        - name: targetNs
          in: query
          required: true
          description: The namespace you want to get the mappings from
          type: integer
          default: 411
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
      responses:
        '200':
          examples:
            value:
              version: 1
              mappings:
                - xid: CAESEPl1uYyma1kMDWxx7dhbwGo
                  mapping:
                    - xid: '81218968060697815473313992060878182012'
                      lastAssociationTime: '1493310475047'
                  regions:
                    - regionId: 10
                      lastAssociationTime: '1493310475047'
              unprocessedXids: cb0665db616f49758713252d8a335c1e
          description: OK
          schema:
            $ref: '#/definitions/mappingResponse'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The provided xid=CAESEPl1uYyma1kMDWxx7dhbwGo is invalid. Please provide a valid xid in your request.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
  /identity/mappings:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    post:
      tags:
        - Mappings
      summary: 'Given set of identities and target namespace, returns the corresponding linked identities.'
      description: |
        Given an identity, returns all identity mappings in requested namespace (target namespace).
      operationId: getListOfMappings
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: List of identities for which we need to find related mappings
          required: true
          schema:
            $ref: '#/definitions/ListOfMappings'
        - name: x-uis-cst-ctx
          in: header
          description: Customer context to be used for stub response
          required: false
          type: string
          default: stub
        - name: Accept
          in: header
          description: The version of the resource's representation.
          required: false
          type: string
          default: application/vnd.adobe.identity+json;version=1.2
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          examples:
            value:
              version: 1
              mappings:
                - xid: CAESEPl1uYyma1kMDWxx7dhbwGo
                  mapping:
                    - xid: '81218968060697815473313992060878182012'
                      lastAssociationTime: '1493310475047'
                  regions:
                    - regionId: 10
                      lastAssociationTime: '1493310475047'
                - xid: VtZu9QAABVHLXi37
                  mapping:
                    - xid: '21684852643374208863181383242303716482'
                      lastAssociationTime: '1493310475047'
                  regions:
                    - regionId: 9
                      lastAssociationTime: '1499463357424'
              unprocessedXids: '[cb0665db616f49758713252d8a335c1e]'
          description: OK
          schema:
            $ref: '#/definitions/mappingResponse'
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache
        '400':
          description: Bad Request from the client
          schema:
            type: object
            properties:
              title:
                type: string
                example: InvalidInput
              status:
                type: integer
                example: 400
              description:
                type: string
                example: The provided xid=CAESEPl1uYyma1kMDWxx7dhbwGo is invalid. Please provide a valid xid in your request.
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '401':
          description: IMS token is missing required scope.
          schema:
            type: object
            properties:
              title:
                type: string
                example: UnauthorizedAccessInvalidScope
              status:
                type: integer
                example: 401
              description:
                type: string
                example:  Token does not have valid scope. Either 'acp_core_identity' scope or 'acp_foundation' scope is required
          headers:
            content-type:
              description: Response is a JSON document with UTF-8 encoding
              type: string
              default: application/vnd.adobe.identity+json;version=1.2;charset=utf-8
            cache-control:
              description: caching policy for response
              type: string
              default: no-cache

        '500':
          description: Unexpected Internal application error
          schema:
            type: object
            properties:
              title:
                type: string
                example: InternalServerError
              status:
                type: integer
                example: 500
              description:
                type: string
                example:  An unexpected internal error occurred in the server. This might indicate a problem with the request, or might indicate a problem in the server side code.

        '429':
          description: Request rate is large
          schema:
            type: object
            properties:
              title:
                type: string
                example: RequestRateTooLarge
              status:
                type: integer
                example: 429
              description:
                type: string
                example:  Request rate is large. Please try again later.
        '503':
          description: The service is unavailable
          schema:
            $ref: '#/definitions/ServiceErrorStatus'

  /idnamespace/identities:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Identity Namespace
      produces:
        - application/json
      summary: Lists all namespaces available to the client `x-gw-ims-org-id`
      operationId: ListAvailableDataSourcesByOrg
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401
        '404':
          description: Namespace does not exist or it is not available for the given imsorg
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 404
              title:
                type: string
                example: Call to backend failed with status-code 404
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Namespace does not exist or it is not available for the given imsorg.
                  code:
                    type: string
                    example: 404
        '422':
          description: Unexpected error from the backend
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occurred. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Identity Namespace
      parameters:
        - in: body
          required: true
          name: namespace_to_create
          description: Namespace details as a JSON input
          schema:
            $ref: '#/definitions/NamespaceForCreate'
        - $ref: '#/parameters/json-header'
      consumes:
        - application/json
      produces:
        - application/json
      summary: Create namespace under `x-gw-ims-org-id` IMS Org .
      operationId: CreateNameSpace
      responses:
        '201':
          description: Created. Namespace created successfully.
          schema:
            $ref: '#/definitions/Namespace'

        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401

        '400':
          description: Creation of namespace failed because of a data-issue
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 400
              title:
                type: string
                example: Call to backend failed with status-code 400
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Incorrect property or type in json passed to server. Incorrect type found for fields [idType]. Value not one of declared Enum instance names [MOBILE, COOKIE, CROSS_DEVICE].'
                  code:
                    type: string
                    example: CANNOT_MAP_JSON
        '422':
           description: Unexpected error from the backend
           schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '409':
          description: Creation of namespace failed because of a data-issue
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 409
              title:
                type: string
                example: Call to backend failed with status-code 409
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Data Source Test Namespace [DPID:56099] already exists with the same integration code under this company.'
                  code:
                    type: string
                    example: INTEGRATION_CODE_EXISTS

        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occured. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /idnamespace/identities/{id}:
    parameters:
      - in: path
        name: id
        type: integer
        required: true
        description: The numeric value of the namespace-id (Example - 771)
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Identity Namespace
      produces:
        - application/json
      summary: 'List details of a single namespace identified by `{id}` if it is accessible to `x-gw-ims-org-id`'
      operationId: ListNameSpaceByID
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401
        '404':
          description: Namespace does not exist or it is not available for the given imsorg
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 404
              title:
                type: string
                example: Call to backend failed with status-code 404
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Namespace does not exist or it is not available for the given IMS Org.
                  code:
                    type: string
                    example: 404
        '422':
          description: Unexpected error from the backend
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occured. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Identity Namespace
      parameters:
        - in: body
          required: true
          name: namespace_to_create
          description: Namespace details as a json input
          schema:
            $ref: '#/definitions/NamespaceForCreate'
        - $ref: '#/parameters/json-header'
      consumes:
        - application/json
      produces:
        - application/json
      summary: Update namespace owned by `x-gw-ims-org-id` and having the given `id`.
      operationId: UpdateDataSourcesByDPID
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401
        '404':
          description: Namespace does not exist or it is not available for the given imsorg
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 404
              title:
                type: string
                example: Call to backend failed with status-code 404
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Namespace does not exist or it is not available for the given IMS Org.
                  code:
                    type: string
                    example: 404
        '422':
          description: Unexpected error from the backend
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occured. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'

  /idnamespace/orgs/{imsorg}/identities:
    parameters:
      - in: path
        name: imsorg
        type: string
        required: true
        description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg")
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Identity Namespace
      produces:
        - application/json
      summary: 'Lists shared namespaces for the given `{imsorg}` or all owned if `{imsorg}` == `x-gw-ims-org-id`'
      operationId: ListDataSourcesByOrg
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401
        '404':
          description: Namespace does not exist or it is not available for the given imsorg
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 404
              title:
                type: string
                example: Call to backend failed with status-code 404
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Namespace does not exist or it is not available for the given IMS Org.
                  code:
                    type: string
                    example: 404
        '422':
          description: Unexpected error from the backend
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occured. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /idnamespace/orgs/{imsorg}/identities/{id}:
    parameters:
      - in: path
        name: imsorg
        type: string
        required: true
        description: The IMS Org ID (Example - "09A55EBC5639E6017F000101@AdobeOrg" )
      - in: path
        name: id
        type: integer
        required: true
        description: The Namespace ID (Example - 123)
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Identity Namespace
      produces:
        - application/json
      summary: 'List details of a single namespace identified by `{id}` if it is accessible to `x-gw-ims-org-id`'
      operationId: ListDataSourcesByDPID
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Namespace'
        '401':
          description: Authentication failure for invalid IMS token or the given IMS Org is missing required product context acp or dma.
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 401
              title:
                type: string
                example: Call to backend failed with status-code 401
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Authorization failed - No acp or dma product context for IMSOrg A55EBC@AdobeOrg.
                  code:
                    type: string
                    example: 401
        '404':
          description: Namespace does not exist or it is not available for the given imsorg
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 404
              title:
                type: string
                example: Call to backend failed with status-code 404
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Namespace does not exist or it is not available for the given IMS Org.
                  code:
                    type: string
                    example: 404
        '422':
          description: Unexpected error from the backend
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 422
              title:
                type: string
                example: Call to backend failed with status-code 422
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Unexpected error from the backend
                  code:
                    type: string
                    example: 422
        '500':
          description: Internal server error
          schema:
            type: object
            properties:
              type:
                type: string
                example: 'http://ns.adobe.com/adobecloud/problem/namespacevalidation'
              status:
                type: integer
                example: 500
              title:
                type: string
                example: Call to backend failed with status-code 500
              report:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error occured. Please try at a later time.
                  code:
                    type: string
                    example: 500
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header
definitions:
  Id:
    type: object
    properties:
      xid:
        type: string
  identityTimestamp:
    type: object
    properties:
      xid:
        $ref: '#/definitions/Id'
      lastAssociationTime:
        type: string
  region:
    type: object
    properties:
      regionId:
        type: integer
      lastAssociationTime:
        type: string
  Cluster:
    type: object
    properties:
      xid:
        $ref: '#/definitions/Id'
      xidsInCluster:
        type: array
        items:
          $ref: '#/definitions/Id'
  ListOfIdentity:
    type: object
    properties:
      xids:
        type: array
        items:
          $ref: '#/definitions/Id'
      graph-type:
        type: string
      version:
        type: string
  clusterInfo:
    type: object
    properties:
      clusterId:
        type: string
      cRecordedTS:
        type: string
        format: date-time
  xidClusterHistory:
    type: object
    properties:
      xid:
        $ref: '#/definitions/Id'
      clusterHistory:
        type: array
        items:
          $ref: '#/definitions/clusterInfo'
  ClusterHistory:
    type: object
    properties:
      xidsClusterHistory:
        type: array
        items:
          $ref: '#/definitions/xidClusterHistory'
      unprocessedXids:
        type: array
        items:
          $ref: '#/definitions/Id'
      version:
        type: string
  ClusterMembers:
    type: object
    properties:
      clusters:
        type: array
        items:
          $ref: '#/definitions/Cluster'
      unprocessedXids:
        type: array
        items:
          $ref: '#/definitions/Id'
      version:
        type: string
  mapping:
    type: object
    properties:
      identity:
        $ref: '#/definitions/Id'
      identityTimestamps:
        type: array
        items:
          $ref: '#/definitions/identityTimestamp'
      regions:
        type: array
        items:
          $ref: '#/definitions/region'
  ListOfMappings:
    type: object
    properties:
      xids:
        type: array
        items:
          $ref: '#/definitions/Id'
      targetNs:
        type: integer
      version:
        type: string
  mappingResponse:
    type: object
    properties:
      mappings:
        type: array
        items:
          $ref: '#/definitions/mapping'
      unprocessedXids:
        type: array
        items:
          $ref: '#/definitions/Id'
      version:
        type: integer
  legacyHistoryRequest:
    type: object
    properties:
      partnerId:
        type: integer
        default: 1166
      imsOrgId:
        type: string
        default: 20C8B4E354AFE3E10A4C98A5@AdobeOrg
      ids:
        type: array
        items:
          type: object
          properties:
            dataSourceId:
              type: integer
            uuids:
              type: array
              items:
                default: [11122334455, 112567889]
      lookupDataSourceIds:
        type: array
        items:
          default: [85670]

      latestOnly:
        type: boolean
        default: true
  ServiceErrorStatus:
    type: object
    properties:
      title:
        type: string
        description: 'A short, human-readable summary of the problem type'
      status:
        type: integer
        description: HTTP error code describing the problem
      detail:
        type: string
        description: A human-readable explanation specific to this occurrence of the problem
  Namespace:
    type: object
    properties:
      shared:
        type: boolean
      custom:
        type: boolean
      createTime:
        type: integer
        format: int64
      description:
        type: string
      idType:
        type: string
      code:
        type: string
      name:
        type: string
      id:
        type: integer
        format: int64
      status:
        type: string
      updateTime:
        type: integer
        format: int64
  NamespaceForCreate:
    type: object
    properties:
      shared:
        type: boolean
      description:
        type: string
      idType:
        type: string
        enum: [COOKIE, MOBILE]
      code:
        type: string
      name:
        type: string
  Error:
    type: object
    properties:
      code:
        type: string
      detail:
        type: string
      message:
        type: string