swagger: "2.0"
info:
  title: "Observability Insights"
  description: <p>The Observability Insights Service is used to collect and expose metrics data from various components of Observability. It listens to events broadcasting on the data pipeline and collects metrics on resources and statistics on data ingestion.</p><p><strong>Related Documentation:</strong><br/><ul><li><a href="https://www.adobe.io/apis/experienceplatform/home/services/observability.html">Observability Insights API Overview</a></li></ul></p><p><strong>Notes:</strong><br/><ul><li>PLATFORM Gateway URL:<span> https://platform.adobe.io</li><li>Base path for this API:<span> /data/infrastructure/observability/insights</li><li>Example of a complete path for making a call to "/metrics":<span> https://platform.adobe.io/data/infrastructure/observability/insights/metrics</ul></p>
    
  version: "1.0.0"
host: "platform.adobe.io"
tags:
  - name: "Metrics"
    description: "Observability metrics are parameters used to gain statistical insights into actions being performed in Adobe Experience Platform. These insights include counts of available Platform resources and statistics on data ingestion."
paths:
  /metrics:
    get:
      tags:
        - Metrics
      summary: "List metrics data."
      operationId: "get-observabilty-insights"
      produces:
        - "application/json"
        - "application/problem+json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/metric'
        - $ref: '#/parameters/id'
        - $ref: '#/parameters/dateRange'
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/observability.insights.response"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/observability.insights.error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/observability.insights.error"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/observability.insights.error"
        500:
          description: "Could not process the request. Please check logs for details."
          schema:
            $ref: "#/definitions/observability.insights.error"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/observability.insights.error"
definitions:
  observability.insights.response:
    type: "object"
    properties:
      id:
        type: "string"
        description: "ID associated with the id associated with the resourceType in the metric."
      imsOrgId:
        type: "string"
        description: "Unique Identifier for your IMS Organization ({IMS_ORG})"
      timeseries:
        $ref: "#/definitions/observability.insights.timeseries.response"
      stats:
        type: "object"
        description: "Single Stat metrics exposed by the API. Example - {'stats.ingestion.dataset.count': 1000000}"
        additionalProperties:
          type: string
  observability.insights.timeseries.response:
    type: "object"
    properties:
      granularity:
        type: "string"
        description: "Granularity for the metrics"
      items:
        $ref: "#/definitions/observability.insights.items.response"
      _page:
        $ref: "#/definitions/observability.insights.page.response"
      _links:
        $ref: "#/definitions/observability.insights.links.response"
  observability.insights.items.response:
    type: "array"
    items:
      type: "object"
      properties:
        timestamp:
          type: "string"
          format: "date-time"
          description: "Timestamp in ISO 8601 format"
        metrics:
          type: "object"
          description: "Metrics for each timestamp"
          additionalProperties:
            type: string
  observability.insights.page.response:
    type: "object"
    properties:
      start:
        type: "integer"
      count:
        type: "integer"
      limit:
        type: "integer"
  observability.insights.links.response:
    type: "object"
    properties:
      next:
        type: "object"
        properties:
          href:
            type: "string"
  observability.insights.error:
    type: "object"
    properties:
      errorCode:
        type: "string"
        description: "Service specific error code generated by the servier for this probelm"
      httpStatus:
        type: "integer"
        description: "The HTTP status code generated by the server for this occurrence of the problem."
      title:
        type: "string"
        description: "A short, human-readable summary of the problem type."
      details:
        type: "string"
        description: "A human-readable explanation specific to this occurrence of the problem."
parameters:
  authorization:
    name: Authorization
    description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: "x-gw-ims-org-id"
    description: "Unique Identifier for your IMS Organization ({IMS_ORG})" 
    required: true
    type: "string"
    in: "header"
  x-api-key:
    name: "x-api-key"
    description: "Your specific API key for your unique Platform configuration ({API_KEY})"
    required: true
    type: "string"
    in: "header"
  metric:
    name: "metric"
    in: "query"
    required: true
    type: "array"
    minItems: 1
    maxItems: 6
    uniqueItems: true
    collectionFormat: multi
    description: "Metrics you wish the API to return insights from"
    items:
      type: string
  id:
    name: "id"
    in: "query"
    required: false
    type: "string"
    description: "ID associated with the resourceType in the metric."
  dateRange:
    name: "dateRange"
    in: "query"
    required: false
    type: "string"
    description: "Date Range in ISO 8601 format. For TimeSeries, defaults to 30 days if not present. For SingleStat, defaults to last day"
