swagger: "2.0"
info:
  title: "Observability Insights"

  description: >-
    The Observability Insights Service is used to collect and expose metrics data from various components of Observability. It listens to events broadcasting on the data pipeline and collects metrics on resources and statistics on data ingestion.


    Related documentation:
      * [Observability Insights documentation](https://docs.adobe.com/content/help/en/experience-platform/observability/home.html)

    Visualize API calls with Postman (a free, third-party software):
      * [Observability Insights Service API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Observability%20Insights.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/infrastructure/observability/insights
      * Example of a complete path: https://<span>platform.adobe.io/data/infrastructure/observability/insights/metrics

    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://docs.adobe.com/content/help/en/experience-platform/tutorials/authentication.html).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://docs.adobe.com/content/help/en/experience-platform/sandbox/home.html) for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.
  
    
  version: "1.0.0"
basePath: /data/infrastructure/observability/insights
host: platform.adobe.io
tags:
  - name: "Metrics"
    description: "Observability metrics are parameters used to gain statistical insights into actions being performed in Adobe Experience Platform. These insights include counts of available Platform resources and statistics on data ingestion."
paths:
  /metrics:
    get:
      tags:
        - Metrics
      summary: "List metrics data."
      operationId: "get-observabilty-insights"
      produces:
        - "application/json"
        - "application/problem+json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/metric'
        - $ref: '#/parameters/id'
        - $ref: '#/parameters/dateRange'
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/observability.insights.response"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/observability.insights.error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/observability.insights.error"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/observability.insights.error"
        500:
          description: "Could not process the request. Please check logs for details."
          schema:
            $ref: "#/definitions/observability.insights.error"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/observability.insights.error"
definitions:
  observability.insights.response:
    type: "object"
    properties:
      id:
        type: "string"
        description: "ID associated with the id associated with the resourceType in the metric."
      imsOrgId:
        type: "string"
        description: "Unique Identifier for your IMS Organization ({IMS_ORG})"
      timeseries:
        $ref: "#/definitions/observability.insights.timeseries.response"
      stats:
        type: "object"
        description: "Single Stat metrics exposed by the API. Example - {'stats.ingestion.dataset.count': 1000000}"
        additionalProperties:
          type: string
  observability.insights.timeseries.response:
    type: "object"
    properties:
      granularity:
        type: "string"
        description: "Granularity for the metrics"
      items:
        $ref: "#/definitions/observability.insights.items.response"
      _page:
        $ref: "#/definitions/observability.insights.page.response"
      _links:
        $ref: "#/definitions/observability.insights.links.response"
  observability.insights.items.response:
    type: "array"
    items:
      type: "object"
      properties:
        timestamp:
          type: "string"
          format: "date-time"
          description: "Timestamp in ISO 8601 format"
        metrics:
          type: "object"
          description: "Metrics for each timestamp"
          additionalProperties:
            type: string
  observability.insights.page.response:
    type: "object"
    properties:
      start:
        type: "integer"
      count:
        type: "integer"
      limit:
        type: "integer"
  observability.insights.links.response:
    type: "object"
    properties:
      next:
        type: "object"
        properties:
          href:
            type: "string"
  observability.insights.error:
    type: "object"
    properties:
      errorCode:
        type: "string"
        description: "Service specific error code generated by the server for this problem"
      httpStatus:
        type: "integer"
        description: "The HTTP status code generated by the server for this occurrence of the problem."
      title:
        type: "string"
        description: "A short, human-readable summary of the problem type."
      details:
        type: "string"
        description: "A human-readable explanation specific to this occurrence of the problem."
parameters:
  authorization:
    name: Authorization
    description: The access token provided after authorization in the format "Bearer {ACCESS_TOKEN}"
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: "x-gw-ims-org-id"
    description: "Unique Identifier for your IMS Organization ({IMS_ORG})" 
    required: true
    type: "string"
    in: "header"
  x-api-key:
    name: "x-api-key"
    description: "Your specific API key for your unique Platform configuration ({API_KEY})"
    required: true
    type: "string"
    in: "header"
  x-sandbox-name:
    name: x-sandbox-name
    description: 'The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://docs.adobe.com/content/help/en/experience-platform/sandbox/home.html) for more information.'
    required: true
    type: string
    in: header
  metric:
    name: "metric"
    in: "query"
    required: true
    type: "array"
    minItems: 1
    maxItems: 6
    uniqueItems: true
    collectionFormat: multi
    description: "Metrics you wish the API to return insights from"
    items:
      type: string
  id:
    name: "id"
    in: "query"
    required: false
    type: "string"
    description: "ID associated with the resourceType in the metric."
  dateRange:
    name: "dateRange"
    in: "query"
    required: false
    type: "string"
    description: "Date Range in ISO 8601 format. For TimeSeries, defaults to 30 days if not present. For SingleStat, defaults to last day"
