swagger: '2.0'
info:
  description: >- 
    Use this API to export profile segment audience members to a dataset where they can be used by Adobe Experience Platform solutions.
    
    
    Related documentation:

      * [Real-time Customer Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Create segments using Experience Platform APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)
      * [Access Real-time Customer Profile data using APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/consuming_unified_profile_data/consuming_unified_profile_data.md#accessing-an-exported-segment)


    Notes:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/core/ups/export
      * Example of a complete path: https://<span>platform.adobe.io/data/core/ups/export/jobs
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
      to obtain these, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

  version: '1.0'
  title: Real-time Customer Profile Export API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups/export
tags:
  - name: Jobs
    description: "Export jobs are asynchronous processes that are used to persist audience segment members to datasets."
paths:
  /jobs:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Jobs
      summary: Retrieve a list of all export jobs.
      description: ''
      operationId: getScanJobsRoute
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: Page size
          required: false
          type: integer
        - name: offset
          in: query
          description: Page offset
          required: false
          type: string
      responses:
        '200':
          description: List of export jobs returned
          schema:
            $ref: '#/definitions/ScanJobsPageResponse'
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
        - Jobs
      summary: Create a new export job.
      description: ''
      operationId: postScanJobRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: false
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/json-header'
        - in: body
          name: body
          description: '<ul><li><strong>fields</strong> - [Optional] Column filters (comma-separated list of columns in dot notation). If not provided, all fields are exported. </li><li><strong>mergePolicy</strong> - [Optional] Takes the ID and version of an existing merge policy as nested parameters. If not provided, it takes the same value as the segmentId or snapshotName</li><li><strong>filter</strong> - [Optional]<ul><li><strong>segments</strong> - Array of segments, identified either by segmentId or snapshotName.</li><li><strong>fromIngestTimestamp</strong> - Filters the resulting profiles to those that have been updated after the provided timestamp. Value is provided in RFC 3339 format.</li></ul></li><li><strong>additionalFields</strong> - [Optional] Additional profile fields that need to be exported.<ul><li><strong>eventList</strong> - Used if ExperienceEvents need to be exported with profiles.<ul><li><strong>fields</strong> - Comma-separated list of ExperienceEvent fields to be included in the export. If not provided, all ExperienceEvent fields are exported.</li><li><strong>filter</strong> - Filters ExperienceEvents based on the parameters below. If not provided, all events corresponding to the resulting profiles will be exported.<ul><li><strong>fromIngestTimestamp</strong> - Filters ExperienceEvents to those that have been updated after the provided timestamp. Value is provided in RFC 3339 format.</li></ul></li></ul></li></ul></li><li><strong>destination</strong> - [Required] The ID of the dataset where the exported data will be stored.</li><li><strong>schema</strong> - [Required] The name of the schema associated with the profile data.</li></ul>'
          required: true
          schema:
            $ref: '#/definitions/ScanJobEntityRequest'
      responses:
        '200':
          description: Export job successfully created
          schema:
            $ref: '#/definitions/ScanJobResponse'
          headers:
            X-Location:
              type: string
              description: HREF to the export job
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  '/jobs/{exportJobId}':
    parameters:
      - name: exportJobId
        in: path
        description: Export job ID
        required: true
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Jobs
      summary: Lookup an export job by ID.
      description: ''
      operationId: getScanJobRoute
      produces:
        - application/json
      responses:
        '200':
          description: Export job successfully Returned
          schema:
            $ref: '#/definitions/ScanJobResponse'
        '403':
          description: Forbidden
        '404':
          description: Export job not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Jobs
      summary: Cancel or delete an export job by ID.
      description: ''
      operationId: cancelScanJobRoute
      produces:
        - application/json
      responses:
        '200':
          description: Export job cancelled successfully
          schema:
            $ref: '#/definitions/MessageResponse'
        '403':
          description: Forbidden
        '404':
          description: Export job not found
        '503':
          description: Service Unavailable
definitions:
  AdditionalFields:
    type: object
    properties:
      eventList:
        description: Name of additional field to be exported
        type: object
        properties:
          fields:
            type: string
            description: Fields filter for Event List
          filter:
            description: Filter values for exporting Event List.
            type: object
            properties:
              fromIngestTimestamp:
                type: string
                example: '2018-01-01T00:00:00Z'
                description: Filters experience events ingested after the given timestamp; RFC_3339 format
    description: Additional fields that need to be exported
  FeedbackMetrics:
    type: object
    properties:
      startTimeInMs:
        type: number
        example: 123456789000
        description: Start time in ms
      endTimeInMs:
        type: number
        example: 123456799000
        description: End time in ms
      totalTimeInMs:
        type: number
        example: 10000
        description: Total time in ms (End time - Start time)
    description: Feedback Metrics
  Filter:
    type: object
    properties:
      segments:
        type: array
        description: Array of filter values for an export job.
        items:
          type: object
          properties:
            segmentId:
              type: string
              example: 52c26d0d-45f2-47a2-ab30-ed06abc981ff
              description: Segment Id.
            segmentNs:
              type: string
              example: ups
              description: Segment Namespace (default "ups" if not provided).
          description: Segment values for filter.
      fromIngestTimestamp:
        type: string
        example: '2018-01-01T00:00:00Z'
        description: Filters profiles and experience events updated after the given timestamp; RFC_3339 format
    description: Array of filter values for a job to export profiles.
  MergePolicyObject:
    type: object
    properties:
      id:
        type: string
        example: timestampOrdered-none-mp
        description: Merge policy ID.
      version:
        type: number
        example: 1
        description: 'Version for the given merge policy ID; Default value: Latest.'
    description: Merge policy ID and version.
  ScanJobResponse:
    type: object
    properties:
      id:
        type: number
        example: 100
        description: ID of the export job
      jobType:
        type: string
        example: BATCH
        description: 'Job type: batch or streaming.'
      destination:
        description: Destination for export job results.
        type: object
        properties:
          datasetId:
            type: string
            example: 5b7c86968f7b6501e21ba9df
            description: Dataset ID of the destination.
          batchId:
            type: string
            example: da5cfb4de32c4b93a09f7e37fa53ad52
            description: Batch ID of the destination.
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters.
      schema:
        description: Schema name.
        type: object
        properties:
          name:
            type: string
            example: _xdm.context.profile
            description: Schema name.
      imsOrgId:
        type: string
        example: "{IMS_ORG}"
        description: ImsOrgId provided.
      status:
        type: string
        example: FAILED
        description: NEW/PROCESSING/SUCCEEDED/FAILED.
      filter:
        $ref: '#/definitions/Filter'
      additonalFields:
        $ref: '#/definitions/AdditionalFields'
      mergePolicy:
        $ref: '#/definitions/MergePolicyObject'
      profileInstanceId:
        type: string
        example: ups
        description: Profile Instance ID provided.
      errors:
        type: array
        description: Errors in case of failure
        items:
          type: object
          properties:
            code:
              type: string
              example: '0100000003'
            msg:
              type: string
              example: Error in export job
            callStack:
              type: string
              example: com.adobe.aep.unifiedprofile.common.logging.Logger
      metrics:
        description: Metrics for the job
        type: object
        properties:
          totalTime:
            $ref: '#/definitions/FeedbackMetrics'
          profileExportTime:
            $ref: '#/definitions/FeedbackMetrics'
          aCPDatasetWriteTime:
            $ref: '#/definitions/FeedbackMetrics'
      computeGatewayJobId:
        description: Compute Gateway job ID for Export and Push Job
        type: object
        properties:
          exportJob:
            type: string
            example: f3058161-7349-4ca9-807d-212cee2c2e94
            description: Compute Gateway job ID for export job
          pushJob:
            type: string
            example: feaeca05-d137-4605-aa4e-21d19d801fc6
            description: Compute Gateway job ID for Push Job
      creationTime:
        type: integer
        format: int64
        example: 1538615973895
        description: The creation time of the job.
      updateTime:
        type: integer
        format: int64
        example: 1538616233239
        description: The updated time for the job.
      requestId:
        type: string
        example: d995479c-8a08-4240-903b-af469c67be1f
        description: Tracing ID for the job.
    description: The information after submitting an export job (for example, job ID).
  ScanJobEntityRequest:
    type: object
    properties:
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters (comma separated dot notation of columns)
      mergePolicy:
        $ref: '#/definitions/MergePolicyObject'
      filter:
        $ref: '#/definitions/Filter'
      additionalFields:
        $ref: '#/definitions/AdditionalFields'
      destination:
        description: DatasetId where the exported data will be stored
        type: object
        properties:
          datasetId:
            type: string
            example: 5b7c86968f7b6501e21ba9df
            description: Dataset ID of the destination.
      schema:
        description: Schema name for the data
        type: object
        properties:
          name:
            type: string
            example: _xdm.context.profile
            description: Schema name.
    description: Request for POST export job.
  ScanJobsPageResponse:
    type: object
    properties:
      records:
        type: array
        description: The list of Scan Job records.
        items:
          $ref: '#/definitions/ScanJobResponse'
      page:
        description: The page information of the current response entity.
        type: object
        properties:
          sortField:
            type: string
            example: createdTime
            description: The order records are sorted. By default is creation time.
          sort:
            type: string
            example: desc
            description: The sorting order. By default is descending order.
          pageOffset:
            type: string
            example: '1540974701302_96'
            description: The offset of the page. By default is the creation time and job ID for the last record on this page.
          pageSize:
            type: integer
            format: int32
            example: 10
            description: The total number of records of this page.
      link:
        description: The HREF links.
        type: object
        properties:
          next:
            type: string
            description: The HREF link to the next page of the records. Empty if no more records.
  MessageResponse:
    type: object
    properties:
      status:
        type: boolean
        example: true
        description: Status of the request.
      message:
        type: string
        example: Export job has been marked for cancelling
        description: Message.
    description: Response for cancel export job call

parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header    