swagger: '2.0'
info:
  description: >-
    Once your segment has been built, use Unified Profile Segment Jobs to build the resulting audience which then can be exported to a dataset.
    
    
    For more information, see [Unified Profile Overview](https://www.adobe.io/apis/cloudplatform/dataservices/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md).


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups
      * All requests with a payload in the request body (i.e., POST, PUT, and PATCH calls) must include the header 'Content-Type: application/json'.

  version: 18.11.1
  title: Unified Profile Segment Jobs API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups
tags:
- name: segmentjobs
paths:
  /segment/jobs:
    get:
      tags:
        - segmentjobs
      summary: Get a list of Segment Job Request
      description: ''
      operationId: getSJRsRoute
      produces:
        - application/json
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: southwest@adobe.com
        - name: x-api-key
          in: header
          description: Service API Key
          required: true
          type: string
          x-example: aep_api_key
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: snapshot.name
          in: query
          description: The snapshot name
          required: false
          type: string
          x-example: inUS
        - name: start
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: integer
          format: int64
          x-example: 109103839
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: status
          in: query
          description: The job status
          required: false
          type: string
          x-example: PROCESSING/FAILED/SUCCEEDED
      responses:
        '200':
          description: List of Segment Job Request returned
          schema:
            $ref: '#/definitions/RichSJR'
        '403':
          description: Forbidden
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service Unavailable
    post:
      tags:
        - segmentjobs
      summary: Post a Segment Job Request
      description: ''
      operationId: postSJRRoute
      produces:
        - application/json
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: southwest@adobe.com
        - name: x-api-key
          in: header
          description: Service API Key
          required: true
          type: string
          x-example: aep_api_key
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: List of segment jobs. Each should be in Json format.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SJEntityRequest'
      responses:
        '200':
          description: Segment Job Request successfully posted
          schema:
            $ref: '#/definitions/RichSJR'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Too many segmentation jobs in processing at the moment. Please try again at a later time!
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service Unavailable
  '/segment/jobs/{segmentJobsRequestId}':
    get:
      tags:
        - segmentjobs
      summary: Return the Segment Job Request by id
      description: ''
      operationId: getSJRRoute
      produces:
        - application/json
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: southwest@adobe.com
        - name: x-api-key
          in: header
          description: Service API Key
          required: true
          type: string
          x-example: aep_api_key
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: segmentJobsRequestId
          in: path
          description: Segment Jobs Request Id
          required: true
          type: string
          x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      responses:
        '200':
          description: Segment Job Request successfully returned
          schema:
            $ref: '#/definitions/RichSJR'
        '403':
          description: Forbidden
        '404':
          description: Segment Job Request not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - segmentjobs
      summary: Cancel a Segment Job Request by id
      description: ''
      operationId: cancelSJRRoute
      produces:
        - application/json
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: southwest@adobe.com
        - name: x-api-key
          in: header
          description: Service API Key
          required: true
          type: string
          x-example: aep_api_key
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: segmentJobsRequestId
          in: path
          description: Segment Jobs Request Id
          required: true
          type: string
          x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      responses:
        '200':
          description: Segment Job Request has been marked for cancelling
          schema:
            $ref: '#/definitions/StandardResponse'
        '403':
          description: Forbidden
        '404':
          description: Segment Job Request not found
        '503':
          description: Service Unavailable
securityDefinitions: {}
definitions:
  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        example: 0080000018
        description: batch segmentation job error code
      msg:
        type: string
        example: 'com.microsoft.azure.documentdb.DocumentClientException: Message: {"Errors":["Request rate is large"]}'
        description: batch segmentation job error message
      callStack:
        type: string
        description: call stack
    description: Error response from the batch job
  FeedbackMetrics:
    type: object
    properties:
      startTimeInMs:
        type: number
        example: 123456789000
        description: Start time in ms
      endTimeInMs:
        type: number
        example: 123456799000
        description: End time in ms
      totalTimeInMs:
        type: number
        example: 10000
        description: Total time in ms (End time - Start time)
    description: Feedback Metrics
  RichSJR:
    type: object
    required:
      - errors
      - metrics
      - segments
    properties:
      id:
        type: string
        example: 468eeefd-95a2-45a1-8bfc-b806dafce7ee
        description: Segment job request id
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: IMS org id
      profileInstanceId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: Profile instance id
      status:
        type: string
        example: PROCESSING
        description: Job status
        enum:
          - PROCESSING
          - FAILED
          - SUCCEEDED
      computeJobId:
        type: integer
        format: int64
        example: 1
        description: Compute job id
      computeGatewayJobId:
        type: string
        example: c3505859-d256-45d0-a6f3-c25f8f8508f5
        description: 'Compute gateway job id, which can be use to get the job status from compute gateway API'
      creationTime:
        type: integer
        format: int64
        example: 1233456789000
        description: 'Unix timestamp when the job is created, in milliseconds'
      updateTime:
        type: integer
        format: int64
        example: 1233456789000
        description: 'Unix timestamp when the job is updated, in milliseconds'
      segments:
        type: array
        items:
          $ref: '#/definitions/SJResponse'
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorResponse'
      metrics:
        $ref: '#/definitions/SJRMetricResponse'
      requestId:
        type: string
        example: cc3d3381-8682-41d4-93bd-566e378624d3
        description: 'Request id, which can be used to trace the request along multiple components'
      modelName:
        type: string
        example: _xdm.context.profile
        description: model name
      _links:
        type: object
        description: Useful links to get the job status or cancel a submitted job.
        additionalProperties:
          type: number
  SJExpression:
    type: object
    properties:
      type:
        type: string
        example: PQL
        description: expression type
        enum:
          - PQL
          - ARL
      format:
        type: string
        example: pql/text
        description: expression format
        enum:
          - pql/text
          - pql/json
      value:
        type: string
        example: workAddress.country = "US"
        description: PQL query string
    description: 'segment expression, part of a segment meta data response'
  SJMergePolicy:
    type: object
    properties:
      id:
        type: string
        example: ups-default
        description: merge policy id
      version:
        type: integer
        format: int32
        example: 1
        description: merge policy version
    description: 'merge policy, part of a segment meta data response'
  SJRMetricResponse:
    type: object
    required:
      - profileSegmentationTime
      - totalTime
    properties:
      totalTime:
        $ref: '#/definitions/FeedbackMetrics'
      profileSegmentationTime:
        $ref: '#/definitions/FeedbackMetrics'
    description: Segment job request metrics
  SJResponse:
    type: object
    required:
      - segment
      - snapshot
    properties:
      segmentId:
        type: string
        example: 7863c010-e092-41c8-ae5e-9e533186752e
        description: segment id
      segment:
        $ref: '#/definitions/SJSegment'
      snapshot:
        $ref: '#/definitions/SJSnapshot'
    description: Segment Job Response
  SJSegment:
    type: object
    required:
      - expression
      - mergePolicy
    properties:
      id:
        type: string
        example: 7863c010-e092-41c8-ae5e-9e533186752e
        description: segment id
      version:
        type: integer
        format: int32
        example: 1
        description: segment version
      expression:
        $ref: '#/definitions/SJExpression'
      mergePolicy:
        $ref: '#/definitions/SJMergePolicy'
    description: Segment meta data in a segment job response
  SJSnapshot:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: inUS
        description: snapshot name
      ttlInDays:
        type: integer
        format: int32
        example: 10
        description: TTL in days
    description: Snapshot has not been supported yet. Do not use!!!
  StandardResponse:
    type: object
    properties:
      code:
        type: string
        example: '200'
        description: standard response code
      message:
        type: string
        example: Segment job with id '468eeefd-95a2-45a1-8bfc-b806dafce7ee' has been deleted
        description: response message
    description: Standard Response
  SJEntityRequest:
    type: object
    required:
      - segmentId
    properties:
      segmentId:
        type: string
        example: 7863c010-e092-41c8-ae5e-9e533186752e
        description: segment id
      snapshot:
        description: snapshot info
        $ref: '#/definitions/SJSnapshot'