swagger: '2.0'
info:
  description: >- 
    Use this API to export profile segment audience members to a dataset where they can be used by Adobe Experience Platform solutions.
    
    
    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Creating segments in Experience Platform](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)
      * [Accessing an exported segment](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/consuming_unified_profile_data/consuming_unified_profile_data.md#accessing-an-exported-segment)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups/export
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
      to obtain these, visit the documentation covering making API calls in the [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html)

  version: 0.0.1
  title: Unified Profile Export API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups/export
tags:
  - name: Jobs
paths:
  /jobs:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Jobs
      summary: Get list of all profile export jobs
      description: ''
      operationId: getScanJobsRoute
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: offset
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: string
          x-example: '109103839'
      responses:
        '200':
          description: List of Profile export jobs returned
          schema:
            $ref: '#/definitions/ScanJobsPageResponse'
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
        - Jobs
      summary: Posts a Profile Export Job
      description: ''
      operationId: postScanJobRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: x-profile-instance-id
          in: header
          description: Profile Instance Id
          required: false
          type: string
          x-example: ups
        - in: body
          name: body
          description: |2-
             fields - Column filters (comma separated dot notation of columns)

            mergePolicy - Takes id and version as nested parameters, if not provided, will take the same value as in segmentId or snapshotName

            filter - Array of segments with either segmentId or snapshotName

            additionalFields: Additional fields that need to be exported

            destination - DatasetId where the exported data will be stored

            schema - Schema name for the data
          required: true
          schema:
            $ref: '#/definitions/ScanJobEntityRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: Profile Export Job successfully Posted
          schema:
            $ref: '#/definitions/ScanJobResponse'
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Export Job
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  '/jobs/{exportJobId}':
    parameters:
      - name: exportJobId
        in: path
        description: Export Job Id
        required: true
        type: string
        x-example: '12345678'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Jobs
      summary: Returns the Profile Export Job
      description: ''
      operationId: getScanJobRoute
      produces:
        - application/json
      responses:
        '200':
          description: Profile Export Job successfully Returned
          schema:
            $ref: '#/definitions/ScanJobResponse'
        '403':
          description: Forbidden
        '404':
          description: Profile Export Job not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Jobs
      summary: Cancel Profile Export Job
      description: ''
      operationId: cancelScanJobRoute
      produces:
        - application/json
      responses:
        '200':
          description: Profile Export Job cancelled successfully
          schema:
            $ref: '#/definitions/MessageResponse'
        '403':
          description: Forbidden
        '404':
          description: Profile Export Job not found
        '503':
          description: Service Unavailable
definitions:
  AdditionalFields:
    type: object
    properties:
      eventList:
        example: eventList
        description: Name of additional field to be exported
        type: object
        properties:
          fields:
            type: string
            description: Fields filter for Event List
          filter:
            description: Filter values for exporting Event List.
            type: object
            properties:
              fromIngestTimestamp:
                type: string
                example: '2018-01-01T00:00:00Z'
                description: Filters experience events ingested after the given timestamp; RFC_3339 format
    description: Additional fields that need to be exported
  FeedbackMetrics:
    type: object
    properties:
      startTimeInMs:
        type: number
        example: 123456789000
        description: Start time in ms
      endTimeInMs:
        type: number
        example: 123456799000
        description: End time in ms
      totalTimeInMs:
        type: number
        example: 10000
        description: Total time in ms (End time - Start time)
    description: Feedback Metrics
  Filter:
    type: object
    properties:
      segments:
        type: array
        description: Array of filter values for Export Job.
        items:
          type: object
          properties:
            segmentId:
              type: string
              example: 52c26d0d-45f2-47a2-ab30-ed06abc981ff
              description: Segment Id.
            snapshotName:
              type: string
              example: peopleInCA
              description: Snapshot name from a successful segmentation job.
          description: Segment values for filter.
      fromIngestTimestamp:
        type: string
        example: '2018-01-01T00:00:00Z'
        description: Filters profiles and experience events updated after the given timestamp; RFC_3339 format
      fromTimestamp:
        type: string
        example: '2018-01-01T00:00:00Z'
        description: '[Deprecated] Filters profiles and experience events updated after the given timestamp; RFC_3339 format'
    description: Array of filter values for Export Job to export Profiles.
  MergePolicyObject:
    type: object
    properties:
      id:
        type: string
        example: timestampOrdered-none-mp
        description: Merge policy id.
      version:
        type: number
        example: 1
        description: 'Version for the given merge policy Id; Default value: Latest.'
    description: Merge Policy id and version.
  ScanJobResponse:
    type: object
    properties:
      id:
        type: number
        example: 100
        description: Id of the export job
      jobType:
        type: string
        example: BATCH
        description: 'Job type: batch or streaming.'
      destination:
        description: Destination for Export Job results.
        type: object
        properties:
          datasetId:
            type: string
            example: 5b7c86968f7b6501e21ba9df
            description: Dataset Id of the destination.
          batchId:
            type: string
            example: da5cfb4de32c4b93a09f7e37fa53ad52
            description: Batch Id of the destination.
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters.
      schema:
        description: Schema name.
        type: object
        properties:
          name:
            type: string
            example: _xdm.context.profile
            description: Schema name.
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: ImsOrgId provided.
      status:
        type: string
        example: FAILED
        description: NEW/PROCESSING/SUCCEEDED/FAILED.
      filter:
        $ref: '#/definitions/Filter'
      additonalFields:
        $ref: '#/definitions/AdditionalFields'
      mergePolicy:
        $ref: '#/definitions/MergePolicyObject'
      profileInstanceId:
        type: string
        example: ups
        description: Profile Instance Id provided.
      errors:
        type: array
        description: Errors in case of failure
        items:
          type: object
          properties:
            code:
              type: string
              example: '0100000003'
            msg:
              type: string
              example: Error in Export Job
            callStack:
              type: string
              example: com.adobe.aep.unifiedprofile.common.logging.Logger
      metrics:
        description: Metrics for the job
        type: object
        properties:
          totalTime:
            $ref: '#/definitions/FeedbackMetrics'
          profileExportTime:
            $ref: '#/definitions/FeedbackMetrics'
          aCPDatasetWriteTime:
            $ref: '#/definitions/FeedbackMetrics'
      computeGatewayJobId:
        description: Compute Gateway job Id for Export and Push Job
        type: object
        properties:
          exportJob:
            type: string
            example: f3058161-7349-4ca9-807d-212cee2c2e94
            description: Compute Gateway job Id for Export Job
          pushJob:
            type: string
            example: feaeca05-d137-4605-aa4e-21d19d801fc6
            description: Compute Gateway job Id for Push Job
      creationTime:
        type: integer
        format: int64
        example: 1538615973895
        description: The creation time of the job.
      updateTime:
        type: integer
        format: int64
        example: 1538616233239
        description: The updated time for the job.
      requestId:
        type: string
        example: d995479c-8a08-4240-903b-af469c67be1f
        description: Tracing Id for the job.
    description: The information after submitting a export job eg. job id.
  ScanJobEntityRequest:
    type: object
    properties:
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters (comma separated dot notation of columns)
      mergePolicy:
        description: 'Takes id and version as nested parameters, if not provided, will take the same value as in segmentId or snapshotName'
        $ref: '#/definitions/MergePolicyObject'
      filter:
        description: Array of segments with either segmentId or snapshotName
        $ref: '#/definitions/Filter'
      additionalFields:
        description: Additional fields that needs to be exported
        $ref: '#/definitions/AdditionalFields'
      destination:
        description: DatasetId where the exported data will be stored
        type: object
        properties:
          datasetId:
            type: string
            example: 5b7c86968f7b6501e21ba9df
            description: Dataset Id of the destination.
      schema:
        description: Schema name for the data
        type: object
        properties:
          name:
            type: string
            example: _xdm.context.profile
            description: Schema name.
    description: Request for POST export job.
  ScanJobsPageResponse:
    type: object
    properties:
      records:
        type: array
        description: The list of Scan Job records.
        items:
          $ref: '#/definitions/ScanJobResponse'
      page:
        description: The page information of the current response entity.
        type: object
        properties:
          sortField:
            type: string
            example: createdTime
            description: The order records are sorted. By default is creation time.
          sort:
            type: string
            example: desc
            description: The sorting order. By default is descending order.
          pageOffset:
            type: string
            example: '1540974701302_96'
            description: The offset of the page. By default is the creation time and job id for the last record on this page.
          pageSize:
            type: integer
            format: int32
            example: 10
            description: The total number of records of this page.
      link:
        description: The href links.
        type: object
        properties:
          next:
            type: string
            description: The href link to the next page of the records. Empty if no more records.
  MessageResponse:
    type: object
    properties:
      status:
        type: boolean
        example: true
        description: Status of the request.
      message:
        type: string
        example: Export Job has been marked for cancelling
        description: Message.
    description: Response for Cancel Export Job call

parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header    