swagger: "2.0"
info:
  description: >-
    Segment Definition Service allows you to define rules which provide criteria for a
    marketable subset of your user profiles in Unified Profile. These rules are defined
    using the proprietary PQL (Predicate Query Language).
    
  
    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Creating segments in Experience Platform](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups/segment
      * All requests with a payload in the request body (i.e., POST, PUT, and PATCH calls) must include the header 'Content-Type: application/json'.

  version: 18.11.1
  title: Unified Profile Segment Definition API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups/segment
tags:
- name: "definitions"
- name: "health-detailed"
- name: "health"
- name: "ping"
- name: "version"
paths:
  "/definitions":
    get:
      tags:
      - segment
      summary: Get a list of Profile Segment Definitions
      description: ''
      operationId: getSegmentsRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: start
        in: query
        description: Page Offset - As per created Time of resource
        required: false
        type: integer
        format: int64
        x-example: 109103839
      - name: limit
        in: query
        description: Page Size
        required: false
        type: integer
        x-example: 10
      - name: page
        in: query
        description: Page Number
        required: false
        type: integer
        x-example: 0
      - name: sort
        in: query
        description: Sort parameters
        required: false
        type: string
        x-example: sort=name:asc,internalId:desc
      responses:
        '200':
          description: List of Profile segment definitions returned
          schema:
            "$ref": "#/definitions/SegmentsResponse"
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
      - segment
      summary: Post a Profile Segment Definition
      description: ''
      operationId: postSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - in: body
        name: body
        description: |-
          name - Name of the segment

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

           schema - schema object with name and id

           ttlInDays - number
        required: true
        schema:
          "$ref": "#/definitions/SegmentEntityRequest"
      responses:
        '200':
          description: Profile Segment Definition successfully posted
          schema:
            "$ref": "#/definitions/SegmentStoreEntity"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '422':
          description: Profile Segment Definition already exists. Please do patch
            to update.
        '503':
          description: Service Unavailable
  "/definitions/{segmentId}":
    get:
      tags:
      - segment
      summary: Returns the Profile Segment Definition
      description: ''
      operationId: getSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: segmentId
        in: path
        description: Segment Definition Id
        required: true
        type: string
        x-example: b9f6c339-f7f4-4141-b6c7-b562079da47c
      responses:
        '200':
          description: Profile Segment Definition successfully returned
          schema:
            "$ref": "#/definitions/SegmentEntity"
        '403':
          description: Forbidden
        '404':
          description: Profile Segment Definition not found
        '503':
          description: Service Unavailable
    delete:
      tags:
      - segment
      summary: Delete the segment given an id
      description: ''
      operationId: deleteSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: segmentId
        in: path
        description: Segment Definition Id
        required: true
        type: string
        x-example: b9f6c339-f7f4-4141-b6c7-b562079da47c
      responses:
        '200':
          description: Profile Segment Definition deleted successfully
          schema:
            "$ref": "#/definitions/MessageResponse"
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    patch:
      tags:
      - segment
      summary: Overwrites a Profile Segment Definition
      description: ''
      operationId: patchSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: segmentId
        in: path
        description: Segment Definition Id
        required: true
        type: string
        x-example: b9f6c339-f7f4-4141-b6c7-b562079da47c
      - in: body
        name: body
        description: |-
          name - Name of the segment

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

           schema - schema object with name and id
        required: true
        schema:
          "$ref": "#/definitions/SegmentEntityUpdate"
      responses:
        '200':
          description: Profile Segment Definition successfully updated
          schema:
            "$ref": "#/definitions/SegmentEntity"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  "/conversion":
    post:
      tags:
      - segment
      summary: Converts a Profile Segment Definition from pql/text to pql/json or vice versa
      description: ''
      operationId: postSegmentConversionRoute
      produces:
      - application/json
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: IMS Organization ID
        required: true
        type: string
        x-example: southwest@adobe.com
      - name: x-api-key
        in: header
        description: API Key
        required: true
        type: string
        x-example: your_org_api_key
      - name: Authorization
        in: header
        description: Authorization token
        required: true
        type: string
        x-example: "Bearer <replace with your token>"
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - in: body
        name: body
        description: |-
          name - Name of the segment

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

           schema - schema object with name and id

           ttlInDays - number
        required: true
        schema:
          "$ref": "#/definitions/SegmentEntityRequest"
      responses:
        '200':
          description: Profile Segment Definition successfully converted
          schema:
            "$ref": "#/definitions/SegmentResponse"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '503':
          description: Service Unavailable
definitions:
  SegmentStoreEntity:
    type: object
    required:
    - creationTime
    - description
    - expression
    - id
    - imsOrgId
    - mergePolicy
    - name
    - namespace
    - schemaId
    - schemaName
    - ttlInDays
    - updateTime
    - version
    properties:
      internalId:
        type: number
      id:
        type: string
      version:
        type: integer
        format: int32
      imsOrgId:
        type: string
      namespace:
        type: string
      name:
        type: string
      mergePolicy:
        type: string
      description:
        type: string
      expression:
        type: string
      schemaId:
        type: string
      schemaName:
        type: string
      ttlInDays:
        type: integer
        format: int32
      creationTime:
        type: integer
        format: int64
      updateTime:
        type: integer
        format: int64
  SegmentEntityRequest:
    type: object
    required:
    - expression
    - schema
    properties:
      name:
        type: string
      mergePolicy:
        type: object
        additionalProperties:
          type: number
      description:
        type: string
      expression:
        type: object
        additionalProperties:
          type: number
      schema:
        type: object
        additionalProperties:
          type: number
      ttlInDays:
        type: number
  SegmentEntity:
    type: object
    required:
    - creationTime
    - description
    - expression
    - id
    - imsOrgId
    - mergePolicy
    - name
    - namespace
    - requestId
    - schemaId
    - schemaName
    - ttlInDays
    - updateTime
    - version
    properties:
      internalId:
        type: number
      id:
        type: string
      version:
        type: integer
        format: int32
      imsOrgId:
        type: string
      namespace:
        type: string
      name:
        type: string
      mergePolicy:
        type: string
      description:
        type: string
      expression:
        type: string
      schemaId:
        type: string
      schemaName:
        type: string
      ttlInDays:
        type: integer
        format: int32
      creationTime:
        type: integer
        format: int64
      updateTime:
        type: integer
        format: int64
      requestId:
        type: string
  SegmentEntityUpdate:
    type: object
    properties:
      imsOrgId:
        type: string
      name:
        type: string
      mergePolicy:
        type: object
        additionalProperties:
          type: number
      description:
        type: string
      expression:
        type: object
        additionalProperties:
          type: number
      ttlInDays:
        type: number
  ExpressionEntity:
    type: object
    required:
    - format
    - meta
    - type
    - value
    properties:
      type:
        type: string
      format:
        type: string
      value:
        type: string
      meta:
        type: string
  Link:
    type: object
    properties:
      next:
        type: string
        description: The href link to the next page of the segments. Empty if no more
          segments.
    description: The link information.
  MergePolicyEntity:
    type: object
    required:
    - id
    - internalId
    - version
    properties:
      internalId:
        type: integer
        format: int64
      id:
        type: string
      version:
        type: integer
        format: int32
  Page:
    type: object
    properties:
      sortField:
        type: string
        description: The segments are sorted by default by updateTime.
      sort:
        type: string
        description: The sorting order. Default is ascending order.
      pageOffset:
        type: string
        description: The offset of the page. By default is the internal segmentId for the first segment.
      pageSize:
        type: integer
        format: int32
        description: The total number of segments of this page.
      totalPages:
        type: integer
        format: int32
        description: The total number of pages of segments.
    description: The page information of the segments response.
  SegmentResponse:
    type: object
    required:
    - creationTime
    - description
    - expression
    - id
    - imsOrgId
    - internalId
    - mergePolicy
    - name
    - namespace
    - schema
    - ttlInDays
    - updateTime
    - version
    properties:
      internalId:
        type: integer
        format: int64
      id:
        type: string
      version:
        type: integer
        format: int32
      imsOrgId:
        type: string
      namespace:
        type: string
      name:
        type: string
      description:
        type: string
      ttlInDays:
        type: integer
        format: int32
      schema:
        "$ref": "#/definitions/XDMSchema"
      expression:
        "$ref": "#/definitions/ExpressionEntity"
      mergePolicy:
        "$ref": "#/definitions/MergePolicyEntity"
      creationTime:
        type: integer
        format: int64
      updateTime:
        type: integer
        format: int64
  SegmentsResponse:
    type: object
    properties:
      segments:
        type: array
        description: The list of segments.
        items:
          "$ref": "#/definitions/SegmentResponse"
      page:
        description: The page information of the current response entity.
        "$ref": "#/definitions/Page"
      link:
        description: The href links.
        "$ref": "#/definitions/Link"
    description: The Segments response, with current page information and next page
      link.
  XDMSchema:
    type: object
    required:
    - fqn
    - id
    - name
    properties:
      id:
        type: string
      name:
        type: string
      version:
        type: string
      fqn:
        type: string
  MessageResponse:
    type: object
    required:
    - message
    - status
    properties:
      status:
        type: boolean
      message:
        type: string