swagger: '2.0'
info:
  description: >-
    Work with event types on Adobe Experience Platform using Unified Profile Event Types API.
 

    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)

    
    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups/config
      * All requests with a payload in the request body (i.e., POST, PUT, and PATCH calls) must include the header 'Content-Type: application/json'.
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
      to obtain these, visit the documentation covering making API calls in the [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html)

  version: 19.3.1
  title: Profile Event Types API
  termsOfService: ''
host: platform.adobe.io
basePath: /data/core/ups/config
tags:
  - name: Event types
paths:
  /eventTypes:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Event types
      summary: Get a list of event types
      description: ''
      operationId: getMany
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: start
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: string
          x-example: K1JJRDpFaWc5QUpZWHY1c2JBQUFBQUFBQUFBPT0jUlQ6MSNUUkM6MiNGUEM6QWdFQUFBQldBQkVBQVBnaFFQLzM4VUIvL2tKQi8rLysvMUpBLzMrMi8wRkFmLzR4UUwvL0VrRC85em4zRTBEcmNmYi92Kzh4UUwvL05rQVgzRi8rMStqNS80WHQwN2NhUUVzQUFBUUFleGpLQ1JnVXRVcEFCQUFFQVBBRA==
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: orderBy
          in: query
          description: model attribute which will be using for ordering
          required: false
          type: string
          x-example: value
      responses:
        '200':
          description: a list of event types returned
          schema:
            $ref: '#/definitions/EventTypesResponse'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      tags:
        - Event types
      summary: Post an event type
      description: ''
      operationId: post
      produces:
        - application/json
      parameters:
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: event type object
          required: true
          schema:
            $ref: '#/definitions/EventType'
      responses:
        '200':
          description: Event Type successfully created
          schema:
            $ref: '#/definitions/EventType'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/eventTypes/{eventTypeId}':
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Event types
      summary: Return the event type by id
      description: ''
      operationId: getById
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: eventTypeId
          in: path
          description: Event Type Id
          required: true
          type: string
          x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      responses:
        '200':
          description: Event Type successfully returned
          schema:
            $ref: '#/definitions/EventType'
        '403':
          description: Forbidden
        '404':
          description: EventType not found
        '503':
          description: Service Unavailable
    put:
      tags:
      - Event types
      summary: Overwrite an event type
      description: ''
      operationId: put
      produces:
      - application/json
      parameters:
      - name: x-profile-instance-id
        in: header
        description: Profile Instance ID
        required: true
        type: string
        x-example: ups
      - name: x-request-id
        in: header
        description: Request Id
        required: false
        type: string
        x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      - name: eventTypeId
        in: path
        description: Event Type Id
        required: true
        type: string
        x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      - in: body
        name: body
        description: event type object
        required: true
        schema:
          $ref: '#/definitions/EventType'
      responses:
        '200':
          description: Event Type successfully updated
          schema:
            $ref: '#/definitions/EventType'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    patch:
      tags:
      - Event types
      summary: Update en event type
      description: ''
      operationId: patch
      produces:
      - application/json
      parameters:
      - name: x-profile-instance-id
        in: header
        description: Profile Instance ID
        required: true
        type: string
        x-example: ups
      - name: x-request-id
        in: header
        description: Request Id
        required: false
        type: string
        x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      - name: eventTypeId
        in: path
        description: Event Type Id
        required: true
        type: string
        x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      - in: body
        name: body
        description: a list of patch operation
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchOperation'
      responses:
        '200':
          description: Event Type successfully updated
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Event types
      summary: Delete an event type by id
      description: ''
      operationId: delete
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: eventTypeId
          in: path
          description: Event Type Id
          required: true
          type: string
          x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      responses:
        '200':
          description: EventType deleted successfully
        '403':
          description: Forbidden
        '404':
          description: EventType not found
        '503':
          description: Service Unavailable
parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header
definitions:
  EventTypesResponse:
    type: object
    required:
      - _page
      - children
    properties:
      _page:
        $ref: '#/definitions/Page'
      children:
        type: array
        items:
          $ref: '#/definitions/EventType'
  Page:
    type: object
    required:
      - count
    properties:
      count:
        type: number
        example: 100
        description: number of marcos per page
      next:
        type: string
        example: K1JJRDpFaWc5QUwyZFgtMEpBQUFBQUFBQUFBPT0jUlQ6MSNUUkM6MiNGUEM6QWdFQUFBQVFBQWZBQUg0Ly9yL25PcmpmZndEZUR3QT0=
        description: page offset
  EventType:
    type: object
    properties:
      id:
        type: string
        example: ups-default
        description: event type id
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: ims org id
      title:
        type: string
        example: Click
        description: event type title
      description:
        type: string
        example: Web page clicks
        description: event type description
      global:
        type: boolean
        example: false
        description: global flag
      updateEpoch:
        type: integer
        example: 1234567890
        description: update timestamp
    description: 'event type'
  PatchOperation:
    type: object
    required:
    - op
    - path
    - value
    properties:
      op:
        type: string
        example: add
        description: op
        enum:
        - add
      path:
        type: string
        example: /description
        description: path of the attribute need to be updated
      value:
        type: string
        example: Web page clicks
        description: the new value used to update the specified attribute
    description: Patch operation