swagger: '2.0'
info:
  description: >- 
    Use this API to export profile segment audience members to a dataset where they can be used by Adobe Experience Platform solutions.
    
    
    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Creating segments in Experience Platform](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)
      * [Accessing an exported segment](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/consuming_unified_profile_data/consuming_unified_profile_data.md#accessing-an-exported-segment)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups/export
      * All requests with a payload in the request body (i.e., POST, PUT, and PATCH calls) must include the header 'Content-Type: application/json'.

  version: 0.0.1
  title: Unified Profile Export API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups/export
tags:
  - name: jobs
  - name: health-detailed
  - name: health
  - name: ping
  - name: version
paths:
  /jobs:
    get:
      tags:
        - jobs
      summary: Get list of all Profile export jobs
      description: ''
      operationId: getScanJobsRoute
      produces:
        - application/json
      parameters:
        - name: x-api-key
          in: header
          description: API Key
          required: true
          type: string
          x-example: unified-profile
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: 1BD6382559DF0C130A49422D@AdobeOrg
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: offset
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: string
          x-example: '109103839'
      responses:
        '200':
          description: List of Profile export jobs returned
          schema:
            $ref: '#/definitions/ScanJobsPageResponse'
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
        - jobs
      summary: Posts a Profile Export Job
      description: ''
      operationId: postScanJobRoute
      produces:
        - application/json
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: 1BD6382559DF0C130A49422D@AdobeOrg
        - name: x-api-key
          in: header
          description: API Key
          required: true
          type: string
          x-example: unified-profile
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: x-profile-instance-id
          in: header
          description: Profile Instance Id
          required: false
          type: string
          x-example: ups
        - in: body
          name: body
          description: |2-
             fields - Column filters (comma separated dot notation of columns)

            mergePolicy - Takes id and version as nested parameters, if not provided, will take the same value as in segmentId or snapshotName

            filter - Array of segments with either segmentId or snapshotName

            destination - DatasetId where the exported data will be stored

            schema - Schema name for the data
          required: true
          schema:
            $ref: '#/definitions/ScanJobEntityRequest'
      responses:
        '200':
          description: Profile Export Job successfully Posted
          schema:
            $ref: '#/definitions/ScanJobResponse'
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Export Job
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  '/jobs/{exportJobId}':
    get:
      tags:
        - jobs
      summary: Returns the Profile Export Job
      description: ''
      operationId: getScanJobRoute
      produces:
        - application/json
      parameters:
        - name: x-api-key
          in: header
          description: API Key
          required: true
          type: string
          x-example: unified-profile
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: 1BD6382559DF0C130A49422D@AdobeOrg
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: exportJobId
          in: path
          description: Export Job Id
          required: true
          type: string
          x-example: '12345678'
      responses:
        '200':
          description: Profile Export Job successfully Returned
          schema:
            $ref: '#/definitions/ScanJobResponse'
        '403':
          description: Forbidden
        '404':
          description: Profile Export Job not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - jobs
      summary: Cancel Profile Export Job
      description: ''
      operationId: cancelScanJobRoute
      produces:
        - application/json
      parameters:
        - name: x-api-key
          in: header
          description: API Key
          required: true
          type: string
          x-example: unified-profile
        - name: x-gw-ims-org-id
          in: header
          description: IMS Organization ID
          required: true
          type: string
          x-example: 1BD6382559DF0C130A49422D@AdobeOrg
        - name: Authorization
          in: header
          description: Authorization token
          required: true
          type: string
          x-example: "Bearer <replace with your token>"
        - name: exportJobId
          in: path
          description: Export Job Id
          required: true
          type: string
          x-example: '12345678'
      responses:
        '200':
          description: Profile Export Job cancelled successfully
          schema:
            $ref: '#/definitions/MessageResponse'
        '403':
          description: Forbidden
        '404':
          description: Profile Export Job not found
        '503':
          description: Service Unavailable
definitions:
  ComputeGatewayJobId:
    type: object
    properties:
      exportJob:
        type: string
        example: f3058161-7349-4ca9-807d-212cee2c2e94
        description: Compute Gateway job Id for Export Job
      pushJob:
        type: string
        example: feaeca05-d137-4605-aa4e-21d19d801fc6
        description: Compute Gateway job Id for Push Job
  DestinationResponse:
    type: object
    properties:
      datasetId:
        type: string
        example: 5b7c86968f7b6501e21ba9df
        description: Dataset Id of the destination.
      batchId:
        type: string
        example: da5cfb4de32c4b93a09f7e37fa53ad52
        description: Batch Id of the destination.
    description: The destination information for Exported data
  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        example: '0100000003'
      msg:
        type: string
        example: Error in Export Job
      callStack:
        type: string
        example: com.adobe.aep.unifiedprofile.common.logging.Logger
  FeedbackMetrics:
    type: object
    properties:
      startTimeInMs:
        type: number
        example: 123456789000
        description: Start time in ms
      endTimeInMs:
        type: number
        example: 123456799000
        description: End time in ms
      totalTimeInMs:
        type: number
        example: 10000
        description: Total time in ms (End time - Start time)
    description: Feedback Metrics
  Filter:
    type: object
    properties:
      segments:
        type: array
        description: Array of filter values for Export Job.
        items:
          $ref: '#/definitions/SegmentValues'
      fromTimestamp:
        type: string
        example: '2018-01-01T00:00:00Z'
        description: Filters profiles and experience events updated after the given timestamp; RFC_3339 format
    description: Array of filter values for Export Job.
  MergePolicyObject:
    type: object
    properties:
      id:
        type: string
        example: timestampOrdered-none-mp
        description: Merge policy id.
      version:
        type: number
        example: 1
        description: 'Version for the given merge policy Id; Default value: Latest.'
    description: Merge Policy id and version.
  ScanJobMetrics:
    type: object
    properties:
      totalTime:
        description: 'Total time '
        $ref: '#/definitions/FeedbackMetrics'
      profileExportTime:
        description: 'Profile Export time '
        $ref: '#/definitions/FeedbackMetrics'
      aCPDatasetWriteTime:
        description: 'ACP Dataset Write time '
        $ref: '#/definitions/FeedbackMetrics'
    description: Metrics parameter for Export Job
  ScanJobResponse:
    type: object
    properties:
      id:
        type: number
        example: 100
        description: Id of the export job
      jobType:
        type: string
        example: BATCH
        description: 'Job type: batch or streaming.'
      destination:
        description: Destination for Export Job results.
        $ref: '#/definitions/DestinationResponse'
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters.
      schema:
        description: Schema name.
        $ref: '#/definitions/Schema'
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: ImsOrgId provided.
      status:
        type: string
        example: FAILED
        description: NEW/PROCESSING/SUCCEEDED/FAILED.
      filter:
        description: Filter.
        $ref: '#/definitions/Filter'
      mergePolicy:
        description: Merge Policy Id.
        $ref: '#/definitions/MergePolicyObject'
      profileInstanceId:
        type: string
        example: ups
        description: Profile Instance Id provided.
      errors:
        type: array
        description: Errors in case of failure
        items:
          $ref: '#/definitions/ErrorResponse'
      metrics:
        description: Metrics for the job
        $ref: '#/definitions/ScanJobMetrics'
      computeGatewayJobId:
        description: Compute Gateway job Id for Export and Push Job
        $ref: '#/definitions/ComputeGatewayJobId'
      creationTime:
        type: integer
        format: int64
        example: 1538615973895
        description: The creation time of the job.
      updateTime:
        type: integer
        format: int64
        example: 1538616233239
        description: The updated time for the job.
      requestId:
        type: string
        example: d995479c-8a08-4240-903b-af469c67be1f
        description: Tracing Id for the job.
    description: The information after submitting a export job eg. job id.
  Schema:
    type: object
    properties:
      name:
        type: string
        example: _xdm.context.profile
        description: Schema name.
    description: Schema value.
  SegmentValues:
    type: object
    properties:
      segmentId:
        type: string
        example: 52c26d0d-45f2-47a2-ab30-ed06abc981ff
        description: Segment Id.
      snapshotName:
        type: string
        example: peopleInCA
        description: Snapshot name from a successful segmentation job.
    description: Segment values for filter.
  Destination:
    type: object
    properties:
      datasetId:
        type: string
        example: 5b7c86968f7b6501e21ba9df
        description: Dataset Id of the destination.
    description: Destination values for exported data.
  ScanJobEntityRequest:
    type: object
    properties:
      fields:
        type: string
        example: 'identities.id,personalEmail.address'
        description: Column filters (comma separated dot notation of columns)
      mergePolicy:
        description: 'Takes id and version as nested parameters, if not provided, will take the same value as in segmentId or snapshotName'
        $ref: '#/definitions/MergePolicyObject'
      filter:
        description: Array of segments with either segmentId or snapshotName
        $ref: '#/definitions/Filter'
      destination:
        description: DatasetId where the exported data will be stored
        $ref: '#/definitions/Destination'
      schema:
        description: Schema name for the data
        $ref: '#/definitions/Schema'
    description: Request for POST export job.
  Link:
    type: object
    properties:
      next:
        type: string
        description: The href link to the next page of the records. Empty if no more records.
    description: The link information.
  ScanJobPage:
    type: object
    properties:
      sortField:
        type: string
        example: createdTime
        description: The order records are sorted. By default is creation time.
      sort:
        type: string
        example: desc
        description: The sorting order. By default is descending order.
      pageOffset:
        type: string
        example: '1540974701302_96'
        description: The offset of the page. By default is the creation time and job id for the last record on this page.
      pageSize:
        type: integer
        format: int32
        example: 10
        description: The total number of records of this page.
    description: The page information of the response entity.
  ScanJobsPageResponse:
    type: object
    properties:
      records:
        type: array
        description: The list of Scan Job records.
        items:
          $ref: '#/definitions/ScanJobResponse'
      page:
        description: The page information of the current response entity.
        $ref: '#/definitions/ScanJobPage'
      link:
        description: The href links.
        $ref: '#/definitions/Link'
  MessageResponse:
    type: object
    properties:
      status:
        type: boolean
        example: true
        description: Status of the request.
      message:
        type: string
        example: Export Job has been marked for cancelling
        description: Message.
    description: Response for Cancel Export Job call