swagger: "2.0"
info:
  description: >-
    Segment Definition Service allows you to define rules which provide criteria for a
    marketable subset of your user profiles in Unified Profile. These rules are defined
    using the proprietary PQL (Predicate Query Language).
    
  
    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Creating segments in Experience Platform](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
    to obtain these, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html)

  version: 19.5.1
  title: Profile Segment Definition API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups
tags:
- name: "Definitions"
  description: "A definition includes a PQL statement defining the rules for the segment."
- name: "Conversions"
  description: "Convert PQL formatting between pql/json and pql/text."
paths:
  "/segment/definitions":
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
      - Definitions
      summary: Get a list of Profile Segment Definitions
      description: ''
      operationId: getSegmentsRoute
      produces:
      - application/json
      parameters:
      - name: x-request-id
        in: header
        description: Unique ID per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: start
        in: query
        description: Page Offset - As per created Time of resource
        required: false
        type: integer
        format: int64
        x-example: 109103839
      - name: limit
        in: query
        description: Page Size
        required: false
        type: integer
        x-example: 10
      - name: page
        in: query
        description: Page Number
        required: false
        type: integer
        x-example: 0
      - name: sort
        in: query
        description: Sort parameters
        required: false
        type: string
        x-example: sort=name:asc,internalId:desc
      responses:
        '200':
          description: List of Profile segment definitions returned
          schema:
            "$ref": "#/definitions/SegmentDefinition"
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
      - Definitions
      summary: Post a Profile Segment Definition
      description: ''
      operationId: postSegmentRoute
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/json-header'
      - name: x-request-id
        in: header
        description: Unique ID per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - in: body
        name: body
        description: |-
          name - Name of the segment which must be unique

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

          schema - schema object with a name field

          ttlInDays - number
        required: true
        schema:
          "$ref": "#/definitions/SegmentDefinition"
      responses:
        '200':
          description: Profile Segment Definition successfully posted
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '422':
          description: Profile Segment Definition already exists. Please do patch
            to update.
        '503':
          description: Service Unavailable
  "/segment/definitions/{segmentId}":
    parameters:
      - name: segmentId
        in: path
        description: Segment Definition ID
        required: true
        type: string
        x-example: b9f6c339-f7f4-4141-b6c7-b562079da47c
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
      - Definitions
      summary: Returns the Profile Segment Definition
      description: ''
      operationId: getSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-request-id
        in: header
        description: Unique ID per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      responses:
        '200':
          description: Profile Segment Definition successfully returned
          schema:
            "$ref": "#/definitions/SegmentDefinition"
        '403':
          description: Forbidden
        '404':
          description: Profile Segment Definition not found
        '503':
          description: Service Unavailable
    delete:
      tags:
      - Definitions
      summary: Delete the segment given an id
      description: ''
      operationId: deleteSegmentRoute
      produces:
      - application/json
      parameters:
      - name: x-request-id
        in: header
        description: Unique id per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - name: segmentId
        in: path
        description: Segment Definition Id
        required: true
        type: string
        x-example: b9f6c339-f7f4-4141-b6c7-b562079da47c
      responses:
        '200':
          description: Profile Segment Definition deleted successfully
          schema:
            "$ref": "#/definitions/MessageResponse"
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    patch:
      tags:
      - Definitions
      summary: Overwrites a Profile Segment Definition
      description: ''
      operationId: patchSegmentRoute
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/json-header'
      - name: x-request-id
        in: header
        description: Unique ID per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - in: body
        name: body
        description: |-
          name - Name of the segment which must be unique

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

          schema - schema object with a name field
        required: true
        schema:
          "$ref": "#/definitions/SegmentDefinition"
      responses:
        '200':
          description: Profile Segment Definition successfully updated
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  "/segment/conversion":
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    post:
      tags:
      - Conversions
      summary: Converts a Profile Segment Definition from pql/text to pql/json or vice versa
      description: ''
      operationId: postSegmentConversionRoute
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/json-header'
      - name: x-request-id
        in: header
        description: Unique ID per request
        required: true
        type: string
        x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      - in: body
        name: body
        description: |-
          name - Name of the segment which must be unique

          description - Description of the segment

          expression - PQL expression of type PQL, format pql/json or pql/text and value containing the actual query

          schema - schema object with a name field

          ttlInDays - number
        required: true
        schema:
          "$ref": "#/definitions/SegmentDefinition"
      responses:
        '200':
          description: Profile Segment Definition successfully converted
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile Segment Definition
        '400':
          description: Invalid profile segment
        '503':
          description: Service Unavailable
definitions:
  SegmentDefinition:
    type: object
    required:
    - expression
    - name
    - schema
    - ttlInDays
    properties:
      id:
        type: string
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
      name:
        type: string
        description: Unique name for the segment definition
        example: People who ordered in the last 30 days
      mergePolicyId:
        type: string
        example: 5ed35fd8-6eeb-4ad2-bed9-43e695b8ac0b
      profileInstanceId:
        type: string
        example: ups
      description:
        type: string
        example: Last 30 days
      expression:
        type: object
        "$ref": "#/definitions/Expression"
      schema:
        type: object
        "$ref": "#/definitions/SchemaClass"
      payloadSchema:
        type: string
      ttlInDays:
        type: integer
        format: int32
        example: 60
      creationTime:
        type: integer
        format: int64
      updateTime:
        type: integer
        format: int64
      updateEpoch:
        type: integer
        format: int64
  Expression:
    type: object
    required:
    - format
    - type
    - value
    properties:
      type:
        type: string
        enum: [PQL, ARL]
      format:
        type: string
        enum: [pql/text. pql/json]
      value:
        type: string
        example: workAddress.country="US"
      meta:
        type: string
  Link:
    type: object
    properties:
      next:
        type: string
        description: The href link to the next page of the segments. Empty if no more
          segments.
    description: The link information.
  Page:
    type: object
    properties:
      sortField:
        type: string
        description: The segments are sorted by default by updateTime.
      sort:
        type: string
        description: The sorting order. Default is ascending order.
      pageOffset:
        type: string
        description: The offset of the page. By default is the page 0 for the first segment.
      pageSize:
        type: integer
        format: int32
        description: The total number of segments of this page.
      totalPages:
        type: integer
        format: int32
        description: The total number of pages of segments.
      totalCount:
        type: integer
        format: int32
        description: The total number of segments across all pages.
    description: The page information of the segments response.
  SegmentsResponse:
    type: object
    properties:
      segments:
        type: array
        description: The list of segments.
        items:
          "$ref": "#/definitions/SegmentDefinition"
      page:
        description: The page information of the current response entity.
        "$ref": "#/definitions/Page"
      link:
        description: The href links.
        "$ref": "#/definitions/Link"
    description: The Segments response, with current page information and next page
      link.
  SchemaClass:
    type: object
    required:
    - name
    properties:
      name:
        type: string
        example: "_xdm.context.profile"
  MessageResponse:
    type: object
    required:
    - message
    - status
    properties:
      status:
        type: boolean
      message:
        type: string
parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header    