
swagger: '2.0'
info:
  description: >-
    Use this API to control the manner by which Real-time Customer Profile merges Experience Data Model (XDM) schema objects on Adobe Experience Platform. 


    Related documentation:

      * [Real-time Customer Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Configuring Real-time Customer Profile](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/configuring_up_tutorial/configuring_up_tutorial.md)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups/config
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
    to obtain these, visit the
    [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).
  version: 18.10.1
  title: Real-time Customer Profile Configuration API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: platform.adobe.io
basePath: /data/core/ups/config
tags:
  - name: Merge policies
    description: "A merge policy is a set of configurations controlling aspects of identity stitching and data fragment merging. Merge policies are specific to a single schema, and can only be used to access entities adhering to that schema."
paths:
  /mergePolicies:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Merge policies
      summary: Get a list of merge policies
      description: ''
      operationId: getMany
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: start
          in: query
          description: Page offset - As per created time of resource
          required: false
          type: string
          x-example: K1JJRDpFaWc5QUpZWHY1c2JBQUFBQUFBQUFBPT0jUlQ6MSNUUkM6MiNGUEM6QWdFQUFBQldBQkVBQVBnaFFQLzM4VUIvL2tKQi8rLysvMUpBLzMrMi8wRkFmLzR4UUwvL0VrRC85em4zRTBEcmNmYi92Kzh4UUwvL05rQVgzRi8rMStqNS80WHQwN2NhUUVzQUFBUUFleGpLQ1JnVXRVcEFCQUFFQVBBRA==
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: orderBy
          in: query
          description: Model attribute which will be using for ordering
          required: false
          type: string
          x-example: value
        - name: schema.name
          in: query
          description: Schema class ID
          required: false
          type: string
          x-example: _xdm.context.profile
        - name: default
          in: query
          description: default flag
          required: false
          type: boolean
          x-example: true
      responses:
        '200':
          description: List of merge policies returned
          schema:
            $ref: '#/definitions/MergePoliciesResponse'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      tags:
        - Merge policies
      summary: Post a MergePolicy
      description: ''
      operationId: post
      produces:
        - application/json
      parameters:
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: merge policy object
          required: true
          schema:
            $ref: '#/definitions/MergePolicy'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: Merge Policy successfully created
          schema:
            $ref: '#/definitions/MergePolicy'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/mergePolicies/{mergePolicyId}':
    parameters:
      - name: mergePolicyId
        in: path
        description: MergePolicy Id
        required: true
        type: string
        x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Merge policies
      summary: Return the Merge Policy by id
      description: ''
      operationId: getById
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA

      responses:
        '200':
          description: MergePolicy successfully returned
          schema:
            $ref: '#/definitions/MergePolicy'
        '403':
          description: Forbidden
        '404':
          description: MergePolicy not found
        '503':
          description: Service Unavailable
    put:
      tags:
      - Merge policies
      summary: Overwrite a merge policy
      description: ''
      operationId: put
      produces:
      - application/json
      parameters:
      - name: x-profile-instance-id
        in: header
        description: Profile Instance ID
        required: true
        type: string
        x-example: ups
      - name: x-request-id
        in: header
        description: Request Id
        required: false
        type: string
        x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      - in: body
        name: body
        description: merge policy object
        required: true
        schema:
          $ref: '#/definitions/MergePolicy'
      responses:
        '200':
          description: Merge Policy successfully updated
          schema:
            $ref: '#/definitions/MergePolicy'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    patch:
      tags:
      - Merge policies
      summary: Update a merge policy
      description: ''
      operationId: patch
      produces:
      - application/json
      parameters:
      - name: x-profile-instance-id
        in: header
        description: Profile Instance ID
        required: true
        type: string
        x-example: ups
      - name: x-request-id
        in: header
        description: Request Id
        required: false
        type: string
        x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      - in: body
        name: body
        description: a list of patch operation
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchOperation'
      responses:
        '200':
          description: Merge Policy successfully updated
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Merge policies
      summary: Delete a merge policy by id
      description: ''
      operationId: delete
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      responses:
        '200':
          description: Merge Policy deleted successfully
        '403':
          description: Forbidden
        '404':
          description: MergePolicy not found
        '503':
          description: Service Unavailable
definitions:
  MergePoliciesResponse:
    type: object
    required:
      - _page
      - children
    properties:
      _page:
        $ref: '#/definitions/Page'
      children:
        type: array
        items:
          $ref: '#/definitions/MergePolicy'
  Page:
    type: object
    required:
      - count
    properties:
      count:
        type: number
        example: 100
        description: number of merge policies per page
      next:
        type: string
        example: K1JJRDpFaWc5QUwyZFgtMEpBQUFBQUFBQUFBPT0jUlQ6MSNUUkM6MiNGUEM6QWdFQUFBQVFBQWZBQUg0Ly9yL25PcmpmZndEZUR3QT0=
        description: page offset
  MergePolicy:
    type: object
    required:
      - schema
      - identityGraph
      - attributeMerge
    properties:
      id:
        type: string
        example: ups-default
        description: macro id
      name:
        type: string
        example: 5c48b93a53214114cf85e378
        description: merge policy name
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: ims org id
      schema:
        $ref: '#/definitions/SchemaClass'
      version:
        type: integer
        example: 1
        description: merge policy version
      default:
        type: boolean
        example: false
        description: default flag
      identityGraph:
        $ref: '#/definitions/IdentityGraph'
      attributeMerge:
        $ref: '#/definitions/AttributeMerge'
      updateEpoch:
        type: integer
        example: 1234567890
        description: update timestamp
    description: 'merge policy'
  SchemaClass:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: _xdm.context.profile
        description: schema class id
    description: schema class
  IdentityGraph:
    type: object
    required:
    - type
    properties:
      type:
        type: string
        example: Private Graph
        description: identity graph type
        enum:
        - None
        - Private Graph
    description: identity graph
  AttributeMerge:
    type: object
    required:
    - type
    properties:
      type:
        type: string
        example: timestampOrdered
        description: attribute merge type
        enum:
        - timestampOrdered
        - dataSetPrecedence
      order:
        type: array
        items:
          type: string
    description: attribute merge
  PatchOperation:
    type: object
    required:
    - op
    - path
    - value
    properties:
      op:
        type: string
        example: add
        description: op
        enum:
        - add
      path:
        type: string
        example: /identityGraph.type
        description: path of the attribute need to be updated
      value:
        type: string
        example: Private Graph
        description: the new value used to update the specified attribute
    description: Patch operation
parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header