swagger: '2.0'
info:
  description: >-
    Unified Profile segment jobs process a previously built and persisted segment definition against your
    profile store to generate a segment audience. The artifact of a complete and successful run of a profile
    segment job cannot be used directly and is instead exported to a dataset as a separate step.
    

    Related documentation:

      * [Unified Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Creating segments in Experience Platform](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)


    Notes:
      * PLATFORM Gateway URL: https://platform.adobe.io/
      * Base path for this API: /data/core/ups
      * All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how 
      to obtain these, visit the documentation covering making API calls in the [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html)

  version: 18.11.1
  title: Unified Profile Segment Jobs API
  termsOfService: 'https://www.adobe.com/legal/terms.html'
host: "platform.adobe.io"
basePath: /data/core/ups/segment/jobs
tags:
- name: Segment jobs
paths:
  /segment/jobs:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Segment jobs
      summary: Get a list of Segment Job Request
      description: ''
      operationId: get
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: snapshot.name
          in: query
          description: The snapshot name
          required: false
          type: string
          x-example: inUS
        - name: start
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: integer
          format: int64
          x-example: 109103839
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: status
          in: query
          description: The job status
          required: false
          type: string
          x-example: PROCESSING
      responses:
        '200':
          description: List of Segment Job Request returned
          schema:
            $ref: '#/definitions/SegmentJob'
        '403':
          description: Forbidden
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service Unavailable
    post:
      tags:
        - Segment jobs
      summary: Post a Segment Job Request
      description: ''
      operationId: postSJRRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: List of segment jobs. Each should be in Json format.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SegmentJobRequest'
        - $ref: '#/parameters/json-header'
      responses:
        '200':
          description: Segment Job Request successfully posted
          schema:
            $ref: '#/definitions/SegmentJob'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Too many segmentation jobs in processing at the moment. Please try again at a later time!
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service Unavailable
  '/segment/jobs/{segmentJobId}':
    parameters:
      - name: segmentJobId
        in: path
        description: Segment Jobs Request Id
        required: true
        type: string
        x-example: ca8fe8a8-0f38-478a-9905-fd515d1d2988
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
    get:
      tags:
        - Segment jobs
      summary: Return the segment job request by id
      description: ''
      operationId: getById
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      responses:
        '200':
          description: Segment Job Request successfully returned
          schema:
            $ref: '#/definitions/SegmentJob'
        '403':
          description: Forbidden
        '404':
          description: Segment Job Request not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Segment jobs
      summary: Cancel a Segment Job Request by id
      description: ''
      operationId: cancel
      produces:
        - application/json
      parameters:
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA

      responses:
        '200':
          description: Segment Job Request has been marked for cancelling
          schema:
            $ref: '#/definitions/StandardResponse'
        '403':
          description: Forbidden
        '404':
          description: Segment Job Request not found
        '503':
          description: Service Unavailable

definitions:
  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        example: 0080000018
        description: batch segmentation job error code
      msg:
        type: string
        example: 'com.microsoft.azure.documentdb.DocumentClientException: Message: {"Errors":["Request rate is large"]}'
        description: batch segmentation job error message
      callStack:
        type: string
        description: call stack
    description: Error response from the batch job
  FeedbackMetrics:
    type: object
    properties:
      startTimeInMs:
        type: number
        example: 123456789000
        description: Start time in ms
      endTimeInMs:
        type: number
        example: 123456799000
        description: End time in ms
      totalTimeInMs:
        type: number
        example: 10000
        description: Total time in ms (End time - Start time)
    description: Feedback Metrics
  SegmentJob:
    type: object
    required:
      - errors
      - metrics
      - segments
    properties:
      id:
        type: string
        example: 468eeefd-95a2-45a1-8bfc-b806dafce7ee
        description: Segment job request id
      imsOrgId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: IMS org id
      profileInstanceId:
        type: string
        example: 1BD6382559DF0C130A49422D@AdobeOrg
        description: Profile instance id
      status:
        type: string
        example: PROCESSING
        description: Job status
        enum:
          - NEW
          - PROCESSING
          - CANCELLING
          - CANCELLED
          - FAILED
          - SUCCEEDED
      computeJobId:
        type: integer
        format: int64
        example: 1
        description: Compute job id
      computeGatewayJobId:
        type: string
        example: c3505859-d256-45d0-a6f3-c25f8f8508f5
        description: 'Compute gateway job id, which can be use to get the job status from compute gateway API'
      creationTime:
        type: integer
        format: int64
        example: 1233456789000
        description: 'Unix timestamp when the job is created, in milliseconds'
      updateTime:
        type: integer
        format: int64
        example: 1233456789000
        description: 'Unix timestamp when the job is updated, in milliseconds'
      segments:
        type: array
        items:
          $ref: '#/definitions/SegmentInfo'
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorResponse'
      metrics:
        type: object
        required:
        - profileSegmentationTime
        - totalTime
        properties:
          totalTime:
            $ref: '#/definitions/FeedbackMetrics'
          profileSegmentationTime:
            $ref: '#/definitions/FeedbackMetrics'
        description: Segment job request metrics
      requestId:
        type: string
        example: cc3d3381-8682-41d4-93bd-566e378624d3
        description: 'Request id, which can be used to trace the request along multiple components'
      modelName:
        type: string
        example: _xdm.context.profile
        description: model name
      _links:
        type: object
        description: Useful links to get the job status or cancel a submitted job.
        additionalProperties:
          type: number
  Expression:
    type: object
    properties:
      type:
        type: string
        example: PQL
        description: expression type
        enum:
          - PQL
          - ARL
      format:
        type: string
        example: pql/text
        description: expression format
        enum:
          - pql/text
          - pql/json
      value:
        type: string
        example: workAddress.country = "US"
        description: PQL query string
    description: 'segment expression, part of a segment meta data response'
  SegmentInfo:
    type: object
    required:
      - segment
      - snapshot
    properties:
      segmentId:
        type: string
        example: 7863c010-e092-41c8-ae5e-9e533186752e
        description: segment id
      segment:
        type: object
        required:
        - expression
        - mergePolicy
        properties:
          id:
            type: string
            example: 7863c010-e092-41c8-ae5e-9e533186752e
            description: segment id
          version:
            type: integer
            format: int32
            example: 1
            description: segment version
          expression:
            $ref: '#/definitions/Expression'
          mergePolicy:
            type: object
            properties:
              id:
                type: string
                example: ups-default
                description: merge policy id
              version:
                type: integer
                format: int32
                example: 1
                description: merge policy version
            description: 'merge policy, part of a segment meta data response'
        description: Segment meta data in a segment job response
      snapshot:
        $ref: '#/definitions/SegmentSnapshot'
    description: Segment Job Response
  SegmentSnapshot:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: inUS
        description: snapshot name
      ttlInDays:
        type: integer
        format: int32
        example: 10
        description: TTL in days
    description: Snapshot has not been supported yet. Do not use!!!
  StandardResponse:
    type: object
    properties:
      code:
        type: string
        example: '200'
        description: standard response code
      message:
        type: string
        example: Segment job with id '468eeefd-95a2-45a1-8bfc-b806dafce7ee' has been deleted
        description: response message
    description: Standard Response
  SegmentJobRequest:
    type: object
    required:
      - segmentId
    properties:
      segmentId:
        type: string
        example: 7863c010-e092-41c8-ae5e-9e533186752e
        description: segment id
      snapshot:
        description: snapshot info
        $ref: '#/definitions/SegmentSnapshot'
parameters:
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". 
    For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The Organization ID which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how 
    to obtain this value, visit the documentation covering making API calls in the 
    [Adobe Experience Platform Overview](https://www.adobe.io/apis/experienceplatform/home/overview.html).'
    required: true
    type: string
    in: header
  json-header:
    name: Content-Type
    description: 'application/json'
    required: true
    type: string
    in: header    