swagger: '2.0'
info:
  version: '1.0'
  title: Reactor API
  description: >- 
    The Reactor API is used to programmatically manage resources and develop tag extensions in Adobe Experience Platform.
  
  
    Related documentation:
      * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)
      * [Reactor API documentation](https://developer.adobelaunch.com/api/)
  
    API paths:
      * Reactor Gateway URL: https://<span>reactor.adobe.io
      * Example of a complete path for making a call to "/properties": https://<span>reactor.adobe.io/properties
    
    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
      * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be "application/vnd.api+json;revision=#" (where "#" is the revision number of the resource you want to retrieve, e.g. "1").
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.
host: reactor.adobe.io
tags:
  - name: "Companies"
    description: A company represents the organization of a tags user, typically a business. These companies match 1:1 with IMS Organization IDs. API users will only have visibility into the companies to which they have access. Nearly all API usage is performed using an Adobe I/O integration which is scoped to a single IMS Org, and therefore the /companies endpoint is not a major part of most workflows. Most use cases start with a property instead.
  - name: "Properties"
    description: "A property is a container that holds most of the other resources available within the Reactor API. The only resources that are not owned by a property are audit events, companies, extension packages, and profiles. A property belongs to exactly one company, and a company can have many properties."
  - name: "Data elements"
    description: A data element functions as a variable which points to an important piece of data within your application. Data elements are used within rules and extension configurations. When the rule is triggered at runtime in a browser or an application, the value of the data element is resolved and used within the rule.
  - name: "Rules"
    description: Rules control the behavior of the resources contained in a deployed library. A rule is a group of one or more rule components, and exists to tie the rule components together in a logical way.
  - name: "Rule components"
    description: "Rule components are the individual items that make up a rule. Rule components have three basic types: events (what triggers a rule), conditions (what the rule checks to determine an action), and actions (what the rule executes depending on whether the condition is met). A rule component must belong to exactly one rule."
  - name: "Extension packages"
    description: An extension package represents a grouping of individual capabilities that can be made available to a tags user. Most commonly these capabilities come in the form of rule components (events, conditions, and actions) and data elements, but can also include main modules and shared modules. The capabilities provided by an extension package are installed as an extension when it is included in a library.
  - name: "Extensions"
    description: An extension represents the installed instance of an extension package. An extension makes the features defined by an extension package available to a property. These features are leveraged when creating data elements and rule components.
  - name: "Libraries"
    description: A Library is a collection of resources (extensions, rules, and data elements) that represent the desired behavior of a property. Libraries are compiled into builds, and those builds are assigned to different environments as they move down the publishing flow from testing to production.
  - name: "Builds"
    description: A tag library is compiled into a build in order for it to be assigned to an environment for testing and deployment. The contents of a build varies depending on the resources included in the library, the configuration of the environment to which the build is assigned, and the platform of the property that the build belongs to.
  - name: "Environments"
    description: An environment indicates the specific host where a build can be deployed, and whether the build should be deployed as a set of files or compressed in an archive format. In the Reactor API, Environments are separate from hosts themselves, which are managed by the /hosts endpoint.
  - name: "Hosts"
    description: A host represents a hosted destination where a library build can be delivered and ultimately deployed. Hosts can be either Akamai or SFTP servers.
  - name: "App configurations"
    description: App configurations allow credentials to be stored and retrieved for later use.
  - name: "Audit events"
    description: An audit event is a record of a specific change to another tag resource, generated at the time the change is made. These are system events which can be subscribed to through the use of a callback function.
  - name: "Callbacks"
    description: A callback is a message that Platform sends to a URL host whenever a new audit event is generated.
  - name: "Notes"
    description: Notes are textual annotations that you can add to certain tag resources, such as data elements, extensions, libraries, properties, rules, and rule components.
  - name: "Profiles"
    description: A profile represents a tags user. Platform does not maintain its own database of users and permissions, it instead relies on Adobe IDs managed by Adobe’s company-wide Identity Management System (IMS). A profile contains all the information about the logged-in user, including all the Adobe Orgs to which they belong, the product profiles they belong to within each Org, and the rights they have from each product profile.
  - name: "Search"
    description: The search endpoint provides a way to find resources matching a desired criteria, expressed as a query. All queries are scoped to your current company and accessible properties. 
consumes:
  - application/vnd.api+json;revision=1
produces:
  - application/vnd.api+json;revision=1
paths:
  '/companies':
    get:
      tags:
        - Companies
      summary: "Retrieve a list of companies."
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/org_id'
        - $ref: '#/parameters/token'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of companies, including their IDs and attributes.
          schema:
            example:
              "data":
                - "id": "COdb0cd64ad4524440be94b8496416ec7d"
                  "type": "companies"
                  "attributes":
                    "created_at": "2020-08-13T17:13:30.667Z"
                    "name": "Example Organization"
                    "org_id": "{IMS_ORG}"
                    "updated_at": "2020-08-13T17:13:30.667Z"
                    "token": "d5a4f682bbae"
                    "cjm_enabled": false
                    "edge_enabled": false
                    "edge_events_allotment": null
                    "edge_fanout_ratio": null
                  "relationships":
                    "properties":
                      "links":
                        "related": "https://reactor.adobe.io/companies/COdb0cd64ad4524440be94b8496416ec7d/properties"
                  "links":
                    "self": "https://reactor.adobe.io/companies/COdb0cd64ad4524440be94b8496416ec7d"
                    "properties": "https://reactor.adobe.io/companies/COdb0cd64ad4524440be94b8496416ec7d/properties"
                  "meta":
                    "rights":
                      - "develop_extensions"
                      - "manage_properties"
                    "platform_rights":
                      "web":
                        - "develop_extensions"
                        - "manage_properties"
                      "mobile":
                        - "develop_extensions"
                        - "manage_properties"
                - "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "type": "companies"
                  "attributes":
                    "created_at": "2020-08-13T17:13:30.711Z"
                    "name": "Reactor QE"
                    "org_id": "{IMS_ORG}"
                    "updated_at": "2020-08-13T17:13:30.711Z"
                    "token": "f9fd106ab399"
                    "cjm_enabled": true
                    "edge_enabled": false
                    "edge_events_allotment": null
                    "edge_fanout_ratio": null
                  "relationships":
                    "properties":
                      "links":
                        "related": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                  "links":
                    "self": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                    "properties": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                  "meta":
                    "rights":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
                    "platform_rights":
                      "web":
                        - "develop_extensions"
                        - "manage_properties"
                        - "manage_app_configurations"
                      "mobile":
                        - "develop_extensions"
                        - "manage_properties"
                        - "manage_app_configurations"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 2
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/companies/{COMPANY_ID}':
    get:
      tags:
        - Companies
      summary: "Look up a company by ID."
      parameters:
        - name: COMPANY_ID
          in: "path"
          required: true
          description: "The ID of the company you want to look up."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns the details of the company.
          schema:
            example:
              "data":
                "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                "type": "companies"
                "attributes":
                  "created_at": "2020-08-13T17:13:30.711Z"
                  "name": "Reactor QE"
                  "org_id": "{IMS_ORG}"
                  "updated_at": "2020-08-13T17:13:30.711Z"
                  "token": "f9fd106ab399"
                  "cjm_enabled": true
                  "edge_enabled": false
                  "edge_events_allotment": null
                  "edge_fanout_ratio": null
                "relationships":
                  "properties":
                    "links":
                      "related": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "links":
                  "self": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "properties": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "meta":
                  "rights":
                    - "develop_extensions"
                    - "manage_properties"
                    - "manage_app_configurations"
                  "platform_rights":
                    "web":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
                    "mobile":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/companies/{COMPANY_ID}/properties':
    get:
      tags:
        - Companies
        - Properties
      summary: "Retrieve a list of properties owned by a company."
      parameters:
        - name: "COMPANY_ID"
          in: "path"
          required: true
          description: "The ID of the company whose properties you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/app_id'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/copying'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/platform'
        - $ref: '#/parameters/token'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array, listing the properties belonging to the specified company.
          schema:
            example:
              "data":
                - "id": "PR29e066628dcf4ba0a16780b2e339821c"
                  "type": "properties"
                  "attributes":
                    "created_at": "2020-12-14T17:51:28.215Z"
                    "enabled": true
                    "name": "Kessel Example Property"
                    "updated_at": "2020-12-14T17:51:28.215Z"
                    "platform": "web"
                    "development": false
                    "token": "30a138ca7f5b"
                    "domains":
                      - "example.com"
                    "undefined_vars_return_empty": false
                    "rule_component_sequencing_enabled": false
                  "relationships":
                    "company":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/company"
                      "data":
                        "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                        "type": "companies"
                    "callbacks":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/callbacks"
                    "hosts":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/hosts"
                    "environments":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/environments"
                    "libraries":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/libraries"
                    "data_elements":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/data_elements"
                    "extensions":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/extensions"
                    "rules":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/rules"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/notes"
                  "links":
                    "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                    "data_elements": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/data_elements"
                    "environments": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/environments"
                    "extensions": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/extensions"
                    "rules": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c/rules"
                    "self": "https://reactor.adobe.io/properties/PR29e066628dcf4ba0a16780b2e339821c"
                  "meta":
                    "rights":
                      - "approve"
                      - "develop"
                      - "manage_environments"
                      - "manage_extensions"
                      - "publish"
                - "id": "PR0c559a62480142a7b9be4a118d1a0448"
                  "type": "properties"
                  "attributes":
                    "created_at": "2020-08-14T15:29:34.241Z"
                    "enabled": true
                    "name": "Example Property"
                    "updated_at": "2020-08-14T15:29:34.241Z"
                    "platform": "web"
                    "development": true
                    "token": "b6cee01dedb7"
                    "domains":
                      - "google.com"
                    "undefined_vars_return_empty": false
                    "rule_component_sequencing_enabled": false
                  "relationships":
                    "company":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/company"
                      "data":
                        "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                        "type": "companies"
                    "callbacks":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/callbacks"
                    "hosts":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/hosts"
                    "environments":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/environments"
                    "libraries":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/libraries"
                    "data_elements":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/data_elements"
                    "extensions":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/extensions"
                    "rules":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/rules"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/notes"
                  "links":
                    "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                    "data_elements": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/data_elements"
                    "environments": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/environments"
                    "extensions": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/extensions"
                    "rules": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448/rules"
                    "self": "https://reactor.adobe.io/properties/PR0c559a62480142a7b9be4a118d1a0448"
                  "meta":
                    "rights":
                      - "approve"
                      - "develop"
                      - "manage_environments"
                      - "manage_extensions"
                      - "publish"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 2
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Companies
        - Properties
      summary: "Create a new property for a company."
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: "COMPANY_ID"
          in: "path"
          required: true
          description: "The ID of the company that you want to define the property under."
          type: "string"
        - name: "body"
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "Kessel Example Property"
                  "domains":
                    - "example.com"
                  "platform": "web"
                "type": "properties"
      responses:
        201:
          description: A successful response returns the details of the newly created property.
          schema:
            example:
              "data":
                "id": "PR505e39de0d0042d1b22321e7767edb4d"
                "type": "properties"
                "attributes":
                  "created_at": "2020-12-14T17:31:31.579Z"
                  "enabled": true
                  "name": "Kessel Example Property"
                  "updated_at": "2020-12-14T17:31:31.579Z"
                  "platform": "web"
                  "development": false
                  "token": "a969ffc6f872"
                  "domains":
                    - "example.com"
                  "undefined_vars_return_empty": false
                  "rule_component_sequencing_enabled": false
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                  "callbacks":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/callbacks"
                  "hosts":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/hosts"
                  "environments":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/environments"
                  "libraries":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/libraries"
                  "data_elements":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/data_elements"
                  "extensions":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/extensions"
                  "rules":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/rules"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/notes"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "data_elements": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/data_elements"
                  "environments": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/environments"
                  "extensions": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/extensions"
                  "rules": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d/rules"
                  "self": "https://reactor.adobe.io/properties/PR505e39de0d0042d1b22321e7767edb4d"
                "meta":
                  "rights":
                    - "approve"
                    - "develop"
                    - "manage_environments"
                    - "manage_extensions"
                    - "publish"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/companies/{COMPANY_ID}/app_configurations':
    get:
      tags:
        - Companies
        - App configurations
      summary: "Retrieve a list of app configurations owned by a company."
      parameters:
        - name: "COMPANY_ID"
          in: "path"
          required: true
          description: "The ID of the company whose app configurations you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/app_id'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/key_type'
        - $ref: '#/parameters/messaging_service'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/platform'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array, listing the app configurations belonging to the specified company.
          schema:
            example:
              "data":
                - "id": "AC40c339ab80d24c958b90d67b698602eb"
                  "type": "app_configurations"
                  "attributes":
                    "created_at": "2020-12-14T17:31:10.626Z"
                    "updated_at": "2020-12-14T17:31:10.626Z"
                    "app_id": "com.adobe.test_app"
                    "name": "Kessel Apns App"
                    "platform": "mobile"
                    "messaging_service": "apns"
                    "key_type": "p8_file"
                  "relationships":
                    "company":
                      "links":
                        "related": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb/company"
                      "data":
                        "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                        "type": "companies"
                  "links":
                    "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                    "self": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 3
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Companies
        - App configurations
      summary: "Create a new app configuration for a company."
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: "COMPANY_ID"
          in: "path"
          required: true
          description: "The ID of the company that you want to define the app configuration under."
          type: "string"
        - name: "body"
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "Kessel Apns App"
                  "app_id": "com.adobe.test_app"
                  "platform": "mobile"
                  "messaging_service": "apns"
                  "key_type": "p8_file"
                  "push_credential":
                    "bundleId": "com.adobe.test_app"
                    "keyId": "key_id"
                    "p8": "<secret>"
                    "teamId": "team_id"
                "type": "app_configurations"
      responses:
        201:
          description: A successful response returns the details of the newly created app configuration.
          schema:
            example:
              "data":
                "id": "AC40c339ab80d24c958b90d67b698602eb"
                "type": "app_configurations"
                "attributes":
                  "created_at": "2020-12-14T17:31:10.626Z"
                  "updated_at": "2020-12-14T17:31:10.626Z"
                  "app_id": "com.adobe.test_app"
                  "name": "Kessel Apns App"
                  "platform": "mobile"
                  "messaging_service": "apns"
                  "key_type": "p8_file"
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "self": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/properties/{PROPERTY_ID}':
    get:
      tags:
        - Properties
      summary: "Look up a property by ID."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property you want to look up."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns the details of the property.
          schema:
            example:
              "data":
                "id": "PR48ade10e6acf4385ba96214e9f5d31e1"
                "type": "properties"
                "attributes":
                  "created_at": "2020-12-14T17:51:18.725Z"
                  "enabled": true
                  "name": "Kessel Example Property"
                  "updated_at": "2020-12-14T17:51:18.725Z"
                  "platform": "web"
                  "development": false
                  "token": "c54ba5e843e6"
                  "domains":
                    - "example.com"
                  "undefined_vars_return_empty": false
                  "rule_component_sequencing_enabled": false
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                  "callbacks":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/callbacks"
                  "hosts":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/hosts"
                  "environments":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/environments"
                  "libraries":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/libraries"
                  "data_elements":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/data_elements"
                  "extensions":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/extensions"
                  "rules":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/rules"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/notes"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "data_elements": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/data_elements"
                  "environments": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/environments"
                  "extensions": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/extensions"
                  "rules": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1/rules"
                  "self": "https://reactor.adobe.io/properties/PR48ade10e6acf4385ba96214e9f5d31e1"
                "meta":
                  "rights":
                    - "approve"
                    - "develop"
                    - "manage_environments"
                    - "manage_extensions"
                    - "publish"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    patch:
      tags:
        - Properties
      summary: "Update a property by ID."
      description: >-
        **Note**:

        
        When updating a property, its ID must be provided in both the request path and the request payload, as shown in the example below. These IDs must match in order for the call to be successful.
        

        The following attributes can be edited for a property:

        * `development`


        * `domains`

        * `name`

        * `platform`

        * `privacy`

        * `rule_component_sequencing_enabled`

        * `ssl_enabled`

        * `undefined_vars_return_empty`
      parameters:
      - name: "PROPERTY_ID"
        in: "path"
        required: true
        description: "The ID of the property you want to update."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/content-type'
      - name: body
        in: body
        required: true
        schema:
          example:
            "data":
              "attributes":
                "name": "Kessel Property B"
                "domains":
                  - "example.com"
              "id": "PR541dbb24bad54dceb04710d7a9e7a740"
              "type": "properties"
      responses:
        200:
          description: A successful response returns the details of the updated property.
          schema:
            example:
              "data":
                "id": "PR541dbb24bad54dceb04710d7a9e7a740"
                "type": "properties"
                "attributes":
                  "created_at": "2020-12-14T17:51:37.386Z"
                  "enabled": true
                  "name": "Kessel Property B"
                  "updated_at": "2020-12-14T17:51:43.062Z"
                  "platform": "web"
                  "development": false
                  "token": "3f2d8630a8d3"
                  "domains":
                    - "example.com"
                  "undefined_vars_return_empty": false
                  "rule_component_sequencing_enabled": false
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                  "callbacks":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/callbacks"
                  "hosts":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/hosts"
                  "environments":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/environments"
                  "libraries":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/libraries"
                  "data_elements":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/data_elements"
                  "extensions":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/extensions"
                  "rules":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/rules"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/notes"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "data_elements": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/data_elements"
                  "environments": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/environments"
                  "extensions": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/extensions"
                  "rules": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740/rules"
                  "self": "https://reactor.adobe.io/properties/PR541dbb24bad54dceb04710d7a9e7a740"
                "meta":
                  "rights":
                    - "approve"
                    - "develop"
                    - "manage_environments"
                    - "manage_extensions"
                    - "publish"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    delete:
      tags:
        - Properties
      summary: "Delete a property by ID."
      parameters:
      - name: "PROPERTY_ID"
        in: "path"
        required: true
        description: "The ID of the property you want to delete."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/app_configurations/{CONFIG_ID}':
    get:
      tags:
      - App configurations
      summary: "Look up an app configuration by ID."
      parameters:
      - name: "CONFIG_ID"
        in: "path"
        required: true
        description: "The ID of the app configuration you want to look up."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/accept'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns the details of the app configuration.
          schema:
            type: object
            example:
              "data":
                "id": "AC40c339ab80d24c958b90d67b698602eb"
                "type": "app_configurations"
                "attributes":
                  "created_at": "2020-12-14T17:31:10.626Z"
                  "updated_at": "2020-12-14T17:31:10.626Z"
                  "app_id": "com.adobe.test_app"
                  "name": "Kessel Apns App"
                  "platform": "mobile"
                  "messaging_service": "apns"
                  "key_type": "p8_file"
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "self": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    patch:
      tags:
        - App configurations
      summary: "Update an app configuration by ID."
      description: >-
        **Note**: When updating an app configuration, its ID must be provided in both the request path and the request payload, as shown in the example below. These IDs must match in order for the call to be successful.
      parameters:
      - name: "CONFIG_ID"
        in: "path"
        required: true
        description: "The ID of the app configuration you want to update."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/content-type'
      - name: body
        in: body
        required: true
        schema:
          example:
            "data":
              "attributes":
                "app_id": "com.adobe.test_app_2"
              "id": "AC40c339ab80d24c958b90d67b698602eb"
              "type": "app_configurations"
      responses:
        200:
          description: A successful response returns the details of the updated app configuration.
          schema:
            example:
              "data":
                "id": "AC40c339ab80d24c958b90d67b698602eb"
                "type": "app_configurations"
                "attributes":
                  "created_at": "2020-12-14T17:31:10.626Z"
                  "updated_at": "2020-12-14T17:31:21.787Z"
                  "app_id": "com.adobe.test_app_2"
                  "name": "Kessel Apns App"
                  "platform": "mobile"
                  "messaging_service": "apns"
                  "key_type": "p8_file"
                "relationships":
                  "company":
                    "links":
                      "related": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb/company"
                    "data":
                      "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                      "type": "companies"
                "links":
                  "company": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "self": "https://reactor.adobe.io/app_configurations/AC40c339ab80d24c958b90d67b698602eb"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    delete:
      tags:
        - App configurations
      summary: "Delete an app configuration by ID."
      parameters:
      - name: "CONFIG_ID"
        in: "path"
        required: true
        description: "The ID of the app configuration you want to delete."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/app_configurations/{CONFIG_ID}/company':
    get:
      tags:
        - App configurations
      summary: "Look up the details of the company that owns a specified app configuration."
      parameters:
      - name: "CONFIG_ID"
        in: "path"
        required: true
        description: "The ID of the app configuration whose company you want to look up."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        200:
          description: A successful response returns the details of the company that owns the app configuration.
          schema:
            example:
              "data":
                "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                "type": "companies"
                "attributes":
                  "created_at": "2020-08-13T17:13:30.711Z"
                  "name": "Reactor QE"
                  "org_id": "{IMS_ORG}"
                  "updated_at": "2020-08-13T17:13:30.711Z"
                  "token": "f9fd106ab399"
                  "cjm_enabled": true
                  "edge_enabled": false
                  "edge_events_allotment": null
                  "edge_fanout_ratio": null
                "relationships":
                  "properties":
                    "links":
                      "related": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "links":
                  "self": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "properties": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "meta":
                  "rights":
                    - "develop_extensions"
                    - "manage_properties"
                    - "manage_app_configurations"
                  "platform_rights":
                    "web":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
                    "mobile":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred." 
  '/properties/{PROPERTY_ID}/company':
    get:
      tags:
        - Properties
      summary: "Look up the details of the company that owns a specified property."
      parameters:
      - name: "PROPERTY_ID"
        in: "path"
        required: true
        description: "The ID of the property whose company you want to look up."
        type: "string"
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        200:
          description: A successful response returns the details of the company that owns the property.
          schema:
            example:
              "data":
                "id": "CO2bf094214ffd4785bb4bcf88c952a7c1"
                "type": "companies"
                "attributes":
                  "created_at": "2020-08-13T17:13:30.711Z"
                  "name": "Reactor QE"
                  "org_id": "{IMS_ORG}"
                  "updated_at": "2020-08-13T17:13:30.711Z"
                  "token": "f9fd106ab399"
                  "cjm_enabled": true
                  "edge_enabled": false
                  "edge_events_allotment": null
                  "edge_fanout_ratio": null
                "relationships":
                  "properties":
                    "links":
                      "related": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "links":
                  "self": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1"
                  "properties": "https://reactor.adobe.io/companies/CO2bf094214ffd4785bb4bcf88c952a7c1/properties"
                "meta":
                  "rights":
                    - "develop_extensions"
                    - "manage_properties"
                    - "manage_app_configurations"
                  "platform_rights":
                    "web":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
                    "mobile":
                      - "develop_extensions"
                      - "manage_properties"
                      - "manage_app_configurations"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/properties/{PROPERTY_ID}/callbacks':
    get:
      tags:
        - Properties
        - Callbacks
      summary: "Retrieve a list of callbacks belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose callbacks you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of callbacks belonging to the specified property.
          schema:
            example:
              "data": 
                - "id": "CB26edef8d709243579589107bcda034da"
                  "type": "callbacks"
                  "attributes":
                    "created_at": "2020-12-14T17:34:47.082Z"
                    "subscriptions":
                      - "rule.created"
                    "updated_at": "2020-12-14T17:34:47.082Z"
                    "url": "https://www.example.com"
                  "relationships":
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/callbacks/CB26edef8d709243579589107bcda034da/property"
                      "data":
                        "id": "PR66a3356c73fc4aabb67ee22caae53d70"
                        "type": "properties"
                  "links":
                    "property": "https://reactor.adobe.io/properties/PR66a3356c73fc4aabb67ee22caae53d70"
                    "self": "https://reactor.adobe.io/callbacks/CB26edef8d709243579589107bcda034da"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Callbacks
      summary: "Create a new callback for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create a callback for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          description: "`subscriptions` and `url` are required."
          schema:
            example:
              "data":
                "attributes":
                  "url": "https://www.example.com"
                  "subscriptions":
                    - "rule.created"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created callback.
          schema:
            example:
              "data":
                "id": "CB32d8f23d5ee548278d32076af4c442a0"
                "type": "callbacks"
                "attributes":
                  "created_at": "2020-12-14T17:34:27.059Z"
                  "subscriptions":
                    - "rule.created"
                  "updated_at": "2020-12-14T17:34:27.059Z"
                  "url": "https://www.example.com"
                "relationships":
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/callbacks/CB32d8f23d5ee548278d32076af4c442a0/property"
                    "data":
                      "id": "PR5e22de986a7c4070965e7546b2bb108d"
                      "type": "properties"
                "links":
                  "property": "https://reactor.adobe.io/properties/PR5e22de986a7c4070965e7546b2bb108d"
                  "self": "https://reactor.adobe.io/callbacks/CB32d8f23d5ee548278d32076af4c442a0"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/properties/{PROPERTY_ID}/data_elements':
    get:
      tags:
        - Properties
        - Data elements
      summary: "Retrieve a list of data elements belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose data elements you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/revision_number'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of data elements belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "DE5d11b3ed301d4ce99b530a5121e392b2"
                  "type": "data_elements"
                  "attributes":
                    "created_at": "2020-12-14T17:36:09.045Z"
                    "deleted_at": null
                    "dirty": true
                    "enabled": true
                    "name": "My Data Element 2020-12-14 17:36:08 +0000"
                    "published": false
                    "published_at": null
                    "revision_number": 0
                    "updated_at": "2020-12-14T17:36:09.045Z"
                    "clean_text": false
                    "default_value": null
                    "delegate_descriptor_id": "kessel-test::dataElements::dom-attribute"
                    "force_lower_case": false
                    "review_status": "unsubmitted"
                    "storage_duration": null
                    "settings": "{\"elementProperty\":\"html\",\"elementSelector\":\".target-element\"}"
                  "relationships":
                    "libraries":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/libraries"
                    "revisions":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/revisions"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/notes"
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/property"
                      "data":
                        "id": "PR97d92a379a5f48758947cdf44f607a0d"
                        "type": "properties"
                    "origin":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/origin"
                      "data":
                        "id": "DE5d11b3ed301d4ce99b530a5121e392b2"
                        "type": "data_elements"
                    "extension":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/extension"
                      "data":
                        "id": "EX0348d463358c4c89afe726245576f112"
                        "type": "extensions"
                    "updated_with_extension_package":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/updated_with_extension_package"
                      "data":
                        "id": "EP75db2452065b44e2b8a38ca883ce369a"
                        "type": "extension_packages"
                    "updated_with_extension":
                      "links":
                        "related": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2/updated_with_extension"
                      "data":
                        "id": "EX1cc78b39339242da82a0e0752fa53375"
                        "type": "extensions"
                  "links":
                    "property": "https://reactor.adobe.io/properties/PR97d92a379a5f48758947cdf44f607a0d"
                    "origin": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2"
                    "self": "https://reactor.adobe.io/data_elements/DE5d11b3ed301d4ce99b530a5121e392b2"
                    "extension": "https://reactor.adobe.io/extensions/EX0348d463358c4c89afe726245576f112"
                  "meta":
                    "latest_revision_number": 0
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Data elements
      summary: "Create a new data element for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create a data element for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "My Data Element 2020-12-14 17:33:21 +0000"
                  "delegate_descriptor_id": "kessel-test::dataElements::dom-attribute"
                  "settings": "{\"elementSelector\":\".target-element\",\"elementProperty\":\"html\"}"
                "relationships":
                  "extension":
                    "data":
                      "id": "EX28788723a8e24a2f927fce1b55eb7ffc"
                      "type": "extensions"
                "type": "data_elements"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created data element.
          schema:
            example:
              "data":
                "id": "DE8667bc64ceba4b599e8458ea4ab58b8f"
                "type": "data_elements"
                "attributes":
                  "created_at": "2020-12-14T17:33:21.774Z"
                  "deleted_at": null
                  "dirty": true
                  "enabled": true
                  "name": "My Data Element 2020-12-14 17:33:21 +0000"
                  "published": false
                  "published_at": null
                  "revision_number": 0
                  "updated_at": "2020-12-14T17:33:21.774Z"
                  "clean_text": false
                  "default_value": null
                  "delegate_descriptor_id": "kessel-test::dataElements::dom-attribute"
                  "force_lower_case": false
                  "review_status": "unsubmitted"
                  "storage_duration": null
                  "settings": "{\"elementSelector\":\".target-element\",\"elementProperty\":\"html\"}"
                "relationships":
                  "libraries":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/libraries"
                  "revisions":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/revisions"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/notes"
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/property"
                    "data":
                      "id": "PR05ad70a8078f44c1a229ecf0da2802f2"
                      "type": "properties"
                  "origin":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/origin"
                    "data":
                      "id": "DE8667bc64ceba4b599e8458ea4ab58b8f"
                      "type": "data_elements"
                  "extension":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/extension"
                    "data":
                      "id": "EX28788723a8e24a2f927fce1b55eb7ffc"
                      "type": "extensions"
                  "updated_with_extension_package":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/updated_with_extension_package"
                    "data":
                      "id": "EP75db2452065b44e2b8a38ca883ce369a"
                      "type": "extension_packages"
                  "updated_with_extension":
                    "links":
                      "related": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f/updated_with_extension"
                    "data":
                      "id": "EXd6bf04b143e64fe0ae7efe55a6655fa9"
                      "type": "extensions"
                "links":
                  "property": "https://reactor.adobe.io/properties/PR05ad70a8078f44c1a229ecf0da2802f2"
                  "origin": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f"
                  "self": "https://reactor.adobe.io/data_elements/DE8667bc64ceba4b599e8458ea4ab58b8f"
                  "extension": "https://reactor.adobe.io/extensions/EX28788723a8e24a2f927fce1b55eb7ffc"
                "meta":
                  "latest_revision_number": 0
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred." 
  '/properties/{PROPERTY_ID}/environments':
    get:
      tags:
        - Properties
        - Environments
      summary: "Retrieve a list of environments belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose environments you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/stage'
        - $ref: '#/parameters/token'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of environments belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "ENbe322acb4fc64dfdb603254ffe98b5d3"
                  "type": "environments"
                  "attributes":
                    "archive": false
                    "created_at": "2020-12-14T17:38:51.047Z"
                    "library_path": "f9fd106ab399/cb29d726b35e"
                    "library_name": "tags-c0331746ae03-development.min.js"
                    "library_entry_points":
                      - "library_name": "tags-c0331746ae03-development.min.js"
                        "minified": true
                        "references":
                          - "f9fd106ab399/cb29d726b35e/tags-c0331746ae03-development.min.js"
                        "license_path": "f9fd106ab399/cb29d726b35e/tags-c0331746ae03-development.js"
                      - "library_name": "tags-c0331746ae03-development.js"
                        "minified": false
                        "references":
                          - "f9fd106ab399/cb29d726b35e/tags-c0331746ae03-development.js"
                    "name": "Development Environment A"
                    "path": "https://www.example.com"
                    "stage": "development"
                    "updated_at": "2020-12-14T17:38:51.047Z"
                    "status": "succeeded"
                    "token": "c0331746ae03"
                  "relationships":
                    "library":
                      "links":
                        "related": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3/library"
                      "data": null
                    "builds":
                      "links":
                        "related": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3/builds"
                    "host":
                      "links":
                        "related": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3/host"
                        "self": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3/relationships/host"
                      "data":
                        "id": "HTc5cae9ce1e3943aab185bdba939f98bd"
                        "type": "hosts"
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3/property"
                      "data":
                        "id": "PR06c9196bc57048dd8ff169c27baeeca8"
                        "type": "properties"
                  "links":
                    "property": "https://reactor.adobe.io/properties/PR06c9196bc57048dd8ff169c27baeeca8"
                    "self": "https://reactor.adobe.io/environments/ENbe322acb4fc64dfdb603254ffe98b5d3"
                  "meta":
                    "archive_encrypted": false
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Environments
      summary: "Create a new environment for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create an environment for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "Development Environment A"
                  "stage": "development"
                "relationships":
                  "host":
                    "data":
                      "id": "HT5d3fbe7bd34d4f65a46fad4598aefd4e"
                      "type": "hosts"
                "type": "environments"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created environment.
          schema:
            example:
              "data":
                "id": "EN867c480dc5ea4158be3ea68e5543bd85"
                "type": "environments"
                "attributes":
                  "archive": false
                  "created_at": "2020-12-14T17:31:57.857Z"
                  "library_path": "f9fd106ab399/bd007122e3e3"
                  "library_name": "tags-4d5a31f6ca53-development.min.js"
                  "library_entry_points":
                    - "library_name": "tags-4d5a31f6ca53-development.min.js"
                      "minified": true
                      "references":
                        - "f9fd106ab399/bd007122e3e3/tags-4d5a31f6ca53-development.min.js"
                      "license_path": "f9fd106ab399/bd007122e3e3/tags-4d5a31f6ca53-development.js"
                    - "library_name": "tags-4d5a31f6ca53-development.js"
                      "minified": false
                      "references":
                        - "f9fd106ab399/bd007122e3e3/tags-4d5a31f6ca53-development.js"
                  "name": "Development Environment A"
                  "path": "https://www.example.com"
                  "stage": "development"
                  "updated_at": "2020-12-14T17:31:57.857Z"
                  "status": "succeeded"
                  "token": "4d5a31f6ca53"
                "relationships":
                  "library":
                    "links":
                      "related": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85/library"
                    "data": null
                  "builds":
                    "links":
                      "related": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85/builds"
                  "host":
                    "links":
                      "related": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85/host"
                      "self": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85/relationships/host"
                    "data":
                      "id": "HT5d3fbe7bd34d4f65a46fad4598aefd4e"
                      "type": "hosts"
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85/property"
                    "data":
                      "id": "PRa41874e4d1604efd9c3c67d7a123f4c6"
                      "type": "properties"
                "links":
                  "property": "https://reactor.adobe.io/properties/PRa41874e4d1604efd9c3c67d7a123f4c6"
                  "self": "https://reactor.adobe.io/environments/EN867c480dc5ea4158be3ea68e5543bd85"
                "meta":
                  "archive_encrypted": false
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/properties/{PROPERTY_ID}/extensions':
    get:
      tags:
        - Properties
        - Extensions
      summary: "Retrieve a list of extensions belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose extensions you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/display_name'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
        - $ref: '#/parameters/version'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of extensions belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "EXd9d80c87afb6432ba823a58d3e78299b"
                  "type": "extensions"
                  "attributes":
                    "created_at": "2020-12-14T17:40:21.000Z"
                    "deleted_at": null
                    "dirty": false
                    "enabled": true
                    "name": "kessel-test"
                    "published": false
                    "published_at": null
                    "revision_number": 0
                    "updated_at": "2020-12-14T17:40:21.000Z"
                    "delegate_descriptor_id": null
                    "display_name": "Kessel Test"
                    "review_status": "unsubmitted"
                    "version": "1.2.0"
                    "settings": "{}"
                  "relationships":
                    "libraries":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/libraries"
                    "revisions":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/revisions"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/notes"
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/property"
                      "data":
                        "id": "PRee071cb5b7794f42b74c913e1ad2e325"
                        "type": "properties"
                    "origin":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/origin"
                      "data":
                        "id": "EXd9d80c87afb6432ba823a58d3e78299b"
                        "type": "extensions"
                    "updated_with_extension_package":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/updated_with_extension_package"
                      "data":
                        "id": "EP75db2452065b44e2b8a38ca883ce369a"
                        "type": "extension_packages"
                    "extension_package":
                      "links":
                        "related": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b/extension_package"
                      "data":
                        "id": "EP75db2452065b44e2b8a38ca883ce369a"
                        "type": "extension_packages"
                  "links":
                    "property": "https://reactor.adobe.io/properties/PRee071cb5b7794f42b74c913e1ad2e325"
                    "origin": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b"
                    "self": "https://reactor.adobe.io/extensions/EXd9d80c87afb6432ba823a58d3e78299b"
                    "extension_package": "https://reactor.adobe.io/extension_packages/EP75db2452065b44e2b8a38ca883ce369a"
                    "latest_extension_package": "https://reactor.adobe.io/extension_packages/EP75db2452065b44e2b8a38ca883ce369a"
                  "meta":
                    "latest_revision_number": 1
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Extensions
      summary: "Create a new extension for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create an extension for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                "relationships":
                  "extension_package":
                    "data":
                      "id": "EP75db2452065b44e2b8a38ca883ce369a"
                      "type": "extension_packages"
                "type": "extensions"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created extension.
          schema:
            example:
              "data":
                "id": "EX8ce7ced633f34bd48d33089ff8fad082"
                "type": "extensions"
                "attributes":
                  "created_at": "2020-12-14T17:32:56.137Z"
                  "deleted_at": null
                  "dirty": false
                  "enabled": true
                  "name": "kessel-test"
                  "published": false
                  "published_at": null
                  "revision_number": 0
                  "updated_at": "2020-12-14T17:32:56.137Z"
                  "delegate_descriptor_id": null
                  "display_name": "Kessel Test"
                  "review_status": "unsubmitted"
                  "version": "1.2.0"
                  "settings": "{}"
                "relationships":
                  "libraries":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/libraries"
                  "revisions":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/revisions"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/notes"
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/property"
                    "data":
                      "id": "PRcf1f3e4c218b4caab8191fab003a8355"
                      "type": "properties"
                  "origin":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/origin"
                    "data":
                      "id": "EX8ce7ced633f34bd48d33089ff8fad082"
                      "type": "extensions"
                  "updated_with_extension_package":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/updated_with_extension_package"
                    "data":
                      "id": "EP75db2452065b44e2b8a38ca883ce369a"
                      "type": "extension_packages"
                  "extension_package":
                    "links":
                      "related": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082/extension_package"
                    "data":
                      "id": "EP75db2452065b44e2b8a38ca883ce369a"
                      "type": "extension_packages"
                "links":
                  "property": "https://reactor.adobe.io/properties/PRcf1f3e4c218b4caab8191fab003a8355"
                  "origin": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082"
                  "self": "https://reactor.adobe.io/extensions/EX8ce7ced633f34bd48d33089ff8fad082"
                  "extension_package": "https://reactor.adobe.io/extension_packages/EP75db2452065b44e2b8a38ca883ce369a"
                  "latest_extension_package": "https://reactor.adobe.io/extension_packages/EP75db2452065b44e2b8a38ca883ce369a"
                "meta":
                  "latest_revision_number": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."    
  '/properties/{PROPERTY_ID}/hosts':
    get:
      tags:
        - Properties
        - Hosts
      summary: "Retrieve a list of hosts belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose hosts you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/display_name'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
        - $ref: '#/parameters/version'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of hosts belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "HT405b8d9306004eb38106e66c8a4afc09"
                  "type": "hosts"
                  "attributes":
                    "created_at": "2020-12-14T17:42:35.239Z"
                    "server": null
                    "name": "Example Akamai Host"
                    "path": null
                    "port": null
                    "status": "succeeded"
                    "type_of": "akamai"
                    "updated_at": "2020-12-14T17:42:35.239Z"
                    "username": null
                  "relationships":
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/hosts/HT405b8d9306004eb38106e66c8a4afc09/property"
                      "data":
                        "id": "PRd428c2a25caa4b32af61495f5809b737"
                        "type": "properties"
                  "links":
                    "property": "https://reactor.adobe.io/properties/PRd428c2a25caa4b32af61495f5809b737"
                    "self": "https://reactor.adobe.io/hosts/HT405b8d9306004eb38106e66c8a4afc09"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Hosts
      summary: "Create a new host for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create a host for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "Example SFTP Host"
                  "type_of": "sftp"
                  "username": "John Doe"
                  "encrypted_private_key": "-----BEGIN PGP MESSAGE-----\n\nhQIMAwB8kNQ7jtk8AQ/+IPE+jteweLyNgdkzkBWN4c+wpRfTP9ionSywdWzZsRZ2\ngpIHLidqCgM+iRw0CgbAKhdAmA1wVyWP4HCa0eJuNCVwj+NqJlWW8qWxCWeZi2KC\nhqsoaB5+xIbS3Jwt8S4Na+DgvyjSj88sALvG9Y/xqNexRvcuvv0KKFoVYPOeW/w9\n+6x+vUmZFrTWMaNtKH6X9kifo5l+05d3XngPLfml4cKzWmO1f3FEvTX0O4nJurQ7\nNc27dt2XAO5Y8bqCClQ6AHOFVrkKnTifHF79A3AhCB5E9wMY4FJ/EReZ6Uk0ixOn\n76XeGbkl1jidajM5G/gylwEwOXN8CVy5DQyvxGulhsaaqtri7GZxQC5HUTETIHwO\nxThAttH22uaBjhMmYiCvPzSL4Z9UNFZeGPfb17k5E1kauprR2ItUJX86+Cid/FnR\nW7QN/8J4Jnf6Ggp90VujV0uIvdyLYq3T0xe9WZmONJaQ5bDYDv5ZfkcapOvXw4zr\nxrL1vrpZ5Qfu8oLQ19JOT2o7e3p8Kh7lDPIL7RH2bYesinLJ7wdopmkpj4/4gpHK\njzlWalZd75PEsttsUJ+ODVSOXG7iVhx9EvkZagUo0oeZ3oY1Jy5oik/gvVp28wDO\n8T1uYK/jeCSiuslxCYxth8a+5Wgiy8Jw1vHCRudsNgU1x2zYuOJetJS14Z/CTETS\nTgGPh0J6fQEvzZTM6AEJpRs+cVZV1hnTspyo2S5wv/SdrbqMkVHhs8rlq/0PWpSB\nLhLNlh8kLPR0KOG0V79GEO20At0HL/yGny/GKrTyAw==\n=oRpa\n-----END PGP MESSAGE-----\n"
                  "server": "//example.com"
                  "path": "assets"
                  "port": 22
                "type": "hosts"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created host.
          schema:
            example:
              "data":
                "id": "HT69bfe634dead4a9a8c659f5d4d94cecd"
                "type": "hosts"
                "attributes":
                  "created_at": "2020-12-14T17:42:07.033Z"
                  "server": "//example.com"
                  "name": "Example SFTP Host"
                  "path": "assets"
                  "port": 22
                  "status": "pending"
                  "type_of": "sftp"
                  "updated_at": "2020-12-14T17:42:07.033Z"
                  "username": "John Doe"
                "relationships":
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/hosts/HT69bfe634dead4a9a8c659f5d4d94cecd/property"
                    "data":
                      "id": "PRb25a704c0b7c4562835ccdf96d3afd31"
                      "type": "properties"
                "links":
                  "property": "https://reactor.adobe.io/properties/PRb25a704c0b7c4562835ccdf96d3afd31"
                  "self": "https://reactor.adobe.io/hosts/HT69bfe634dead4a9a8c659f5d4d94cecd"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."    
  '/properties/{PROPERTY_ID}/libraries':
    get:
      tags:
        - Properties
        - Libraries
      summary: "Retrieve a list of libraries belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose libraries you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/stale'
        - $ref: '#/parameters/state'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of libraries belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "LBb174d60bdbd34f87a2e9466fadaacae0"
                  "type": "libraries"
                  "attributes":
                    "created_at": "2020-12-14T17:44:10.776Z"
                    "name": "My Library"
                    "published_at": null
                    "state": "development"
                    "updated_at": "2020-12-14T17:44:10.776Z"
                    "build_required": true
                  "relationships":
                    "builds":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/builds"
                    "environment":
                      "links":
                        "self": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/relationships/environment"
                      "data": null
                    "data_elements":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/data_elements"
                        "self": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/relationships/data_elements"
                    "extensions":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/extensions"
                        "self": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/relationships/extensions"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/notes"
                    "rules":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/rules"
                        "self": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/relationships/rules"
                    "upstream_library":
                      "data": null
                    "property":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/property"
                      "data":
                        "id": "PR4bc17fb09ed845b1acfb0f6600a1f3c0"
                        "type": "properties"
                    "last_build":
                      "links":
                        "related": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0/last_build"
                      "data": null
                  "links":
                    "property": "https://reactor.adobe.io/properties/PR4bc17fb09ed845b1acfb0f6600a1f3c0"
                    "self": "https://reactor.adobe.io/libraries/LBb174d60bdbd34f87a2e9466fadaacae0"
                  "meta":
                    "build_status": null
                    "build_required_detail": "No build found since last state change"
              "meta":
                "pagination":
                  "current_page": 1
                  "next_page": null
                  "prev_page": null
                  "total_pages": 1
                  "total_count": 1
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
    post:
      tags:
        - Properties
        - Libraries
      summary: "Create a new library for a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property that you want to create a library for."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            example:
              "data":
                "attributes":
                  "name": "My Library"
                "type": "libraries"
      produces:
      - application/vnd.api+json;revision=1
      responses:
        201:
          description: A successful response returns the details of the newly created library.
          schema:
            example:
              "data":
                "id": "LBdd2f55e9c3bb4ce0a582a0b0c586a6f5"
                "type": "libraries"
                "attributes":
                  "created_at": "2020-12-14T17:31:58.523Z"
                  "name": "My Library"
                  "published_at": null
                  "state": "development"
                  "updated_at": "2020-12-14T17:31:58.523Z"
                  "build_required": true
                "relationships":
                  "builds":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/builds"
                  "environment":
                    "links":
                      "self": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/relationships/environment"
                    "data": null
                  "data_elements":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/data_elements"
                      "self": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/relationships/data_elements"
                  "extensions":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/extensions"
                      "self": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/relationships/extensions"
                  "notes":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/notes"
                  "rules":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/rules"
                      "self": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/relationships/rules"
                  "upstream_library":
                    "data": null
                  "property":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/property"
                    "data":
                      "id": "PRa41874e4d1604efd9c3c67d7a123f4c6"
                      "type": "properties"
                  "last_build":
                    "links":
                      "related": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5/last_build"
                    "data": null
                "links":
                  "property": "https://reactor.adobe.io/properties/PRa41874e4d1604efd9c3c67d7a123f4c6"
                  "self": "https://reactor.adobe.io/libraries/LBdd2f55e9c3bb4ce0a582a0b0c586a6f5"
                "meta":
                  "build_status": null
                  "build_required_detail": "No build found since last state change"
        401:
          description: "Access is unauthorized."
        500:
          description: "An internal server error has ocurred."
  '/properties/{PROPERTY_ID}/rules':
    get:
      tags:
        - Properties
        - Rules
      summary: "Retrieve a list of rules belonging to a specific property."
      parameters:
        - name: PROPERTY_ID
          in: "path"
          required: true
          description: "The ID of the property whose rules you want to list."
          type: "string"
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/dirty'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
      produces:
      - application/vnd.api+json;revision=1
      responses:
        200:
          description: A successful response returns an array of rules belonging to the specified property.
          schema:
            example:
              "data":
                - "id": "RL8429f3fee98b44c68f7a538e68e21747"
                  "type": "rules"
                  "attributes":
                    "created_at": "2020-12-14T17:56:44.109Z"
                    "deleted_at": null
                    "dirty": true
                    "enabled": true
                    "name": "Example Rule"
                    "published": false
                    "published_at": null
                    "revision_number": 0
                    "updated_at": "2020-12-14T17:56:44.109Z"
                    "review_status": "unsubmitted"
                  "relationships":
                    "libraries":
                      "links":
                        "related": "https://reactor.adobe.io/rules/RL8429f3fee98b44c68f7a538e68e21747/libraries"
                    "revisions":
                      "links":
                        "related": "https://reactor.adobe.io/rules/RL8429f3fee98b44c68f7a538e68e21747/revisions"
                    "notes":
                      "links":
                        "related": "https://reactor.adobe.io/rules/RL8429f3fee98b44c68f7a538e68e21747/notes"
                    "property":
                      "links":
[...]
