swagger: '2.0'
info:
  version: '1.0'
  title: Real-time Customer Profile API
  description: >-
    Real-time Customer Profile enables you to drive coordinated, consistent, and relevant experiences for your customers no matter where or when they interact with your brand. Profile provides a holistic view of each individual customer that combines data from multiple channels, including online, offline, CRM, and third-party data.
    
    
    The Real-time Customer Profile API allows you to programmatically integrate Profile's various functionalities into your service, providing RESTful endpoints for merge policy configuration, segmentation, edge projections, and more.


    Related overview documentation:
      * [Real-time Customer Profile overview](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_architectural_overview.md)
      * [Profile Query Language (PQL)](https://www.adobe.io/apis/experienceplatform/home/profile-identity-segmentation/profile-identity-segmentation-services.html#!api-specification/markdown/narrative/technical_overview/unified_profile_architectural_overview/unified_profile_pql.md)
      
    Related tutorials:
      * [Configure Real-time Customer Profile using APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/configuring_up_tutorial/configuring_up_tutorial.md)
      * [Access Real-time Customer Profile data using APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/consuming_unified_profile_data/consuming_unified_profile_data.md)
      * [Work with merge policies using APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/configuring_up_tutorial/configuring_merge_policies_tutorial.md)
      * [Create segments using APIs](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/creating_a_segment_tutorial/creating_a_segment_tutorial.md)
      * [Evaluate and access segment results](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/segmentation/evaluate_segment.md)
      * [Configure and access computed attributes](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/computed_attributes/computed-attributes-tutorial.md)
      * [Delete a dataset or specific batch in a dataset](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/datasets/delete-dataset.md)

    Visualize API calls with Postman (a free, third-party software):
      * [Real-time Customer Profile API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Real-time%20Customer%20Profile%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/core/ups
      * Example of a complete path: https://<span>platform.adobe.io/data/core/ups/config/mergePolicies
      
    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/authenticate_to_acp_tutorial/authenticate_to_acp_tutorial.md).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://www.adobe.io/apis/experienceplatform/home/permissions-and-sandboxes/permissions-and-sandboxes.html#!api-specification/markdown/narrative/technical_overview/sandboxes/sandboxes-overview.md) for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

host: platform.adobe.io
basePath: /data/core/ups
tags:
  - name: Computed Attributes
    description: Computed attributes enable a field value to be automatically computed based on other values, calculations, and expressions.
  - name: Entities
    description: An entity is an Experience Data Model (XDM) object whose attributes and related time-series events have been merged from various sources to form an individual profile.
  - name: Estimates
    description: Estimates provide statistical information on a segment definition, such as the projected audience size and confidence interval.
  - name: Event types
    description: Event types are context descriptors for time series events within Real-time Customer Profile.
  - name: Export jobs
    description: Export jobs are asynchronous processes that are used to persist audience segment members to datasets.
  - name: Macros
    description: "Warning: The macros endpoint is deprecated."
  - name: Merge policies
    description: Merge policies are the rules that Platform uses to determine how data will be prioritized and what data will be combined to create an individual customer profile.
  - name: Previews
    description: Previews provide paginated lists of qualifying profiles for a segment definition.
  - name: PQL conversions
    description: Convert Profile Query Language (PQL) formatting between `pql/json` and `pql/text`.
  - name: Profile System Jobs
    description: Profile System Jobs allow you to delete profile fragments for a given dataset or batch.
  - name: Projection configurations
    description: Edge projection configurations determine what data should be projected to each edge.
  - name: Projection destinations
    description: Edge projection destinations define where to route a projection that has been created or changed.
  - name: Schedules
    description: Create a recurring schedule to automatically run export jobs. A schedule can run at most once daily.
  - name: Segment definitions
    description: A segment definition includes a Profile Query Language (PQL) statement that defines which profiles will be part of an audience segment.
  - name: Segment jobs
    description: Segment jobs process previously established segment definitions to generate an audience segment.

paths:
  '/config/computedAttributes':
    get:
      tags:
        - Computed Attributes
      summary: Retrieve a list of computed attributes.
      description: ''
      operationId: listComputedAttributes
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name' 
      responses:
        '200':
          description: Returns a list of computed attributes
          schema:
            $ref: '#/definitions/listComputedAttributes'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      tags:
        - Computed Attributes
      summary: Create a computed attribute.
      description: >- 
        In order to configure a computed attribute, you first need to identify the field that will hold the computed attribute value. This field can be created using a mixin to add a new field to an existing schema, or by selecting a field that you have already defined within a schema.


        **Note:** Computed attributes cannot be added to fields within Adobe-defined mixins, the field must be within the tenant namespace ({TENANT_ID}), meaning it must be a field that you define and add to a schema.


        In order to successfully define a computed attribute field, the schema must be enabled for Profile and appear as part of the union schema for the class upon which the schema is based. For more information, see the [tutorial for configuring and accessing computed attributes](https://www.adobe.io/apis/experienceplatform/home/tutorials/alltutorials.html#!api-specification/markdown/narrative/tutorials/computed_attributes/computed-attributes-tutorial.md).
      operationId: createComputedAttribute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/createComputedAttribute'
      responses:
        '200':
          description: Returns the details of the newly created computed attribute
          schema:
            $ref: '#/definitions/computedAttributeResponse'
        '400':
          description: >- 
            Bad Request. Common examples include:
              * "Function with the same name already exists for the specified schema or definedOn"
              * "Could not lookup schema of the computed attribute for the provided path"
              * "Return schema of the expression is not same as the schema of the computed attribute in the XDM schema".
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/config/computedAttributes/{ATTRIBUTE_ID}':
    get:
      tags:
        - Computed Attributes
      summary: Retrieve a specific computed attribute by its ID.
      description: ''
      operationId: lookupComputedAttribute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/attribute-id'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name' 
      responses:
        '200':
          description: Returns the details of the computed attribute
          schema:
            $ref: '#/definitions/computedAttributeResponse'
        '404':
          description: Computed attribute not found
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    patch:
      tags:
        - Computed Attributes
      summary: Update a computed attribute by its ID.
      description: ''
      operationId: updateComputedAttribute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/attribute-id'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name' 
        - $ref: '#/parameters/computedAttributeUpdate'
      responses:
        '204':
          description: Returns HTTP Status 204 (No Content) and an empty response body
        '404':
          description: Computed attribute not found
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Computed Attributes
      summary: Delete a computed attribute by its ID.
      description: ''
      operationId: deleteComputedAttribute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/attribute-id'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name' 
      responses:
        '200':
          description: Returns HTTP Status 200 (OK) and an empty response body
        '404':
          description: Computed attribute not found
        '422':
          description: Cannot perform delete as some other functions are dependent on this function.
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/config/mergePolicies':
    get:
      tags:
        - Merge policies
      summary: Retrieve a list of merge policies.
      description: ''
      operationId: getMany
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'      
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: start
          in: query
          description: Page offset - As per created time of resource
          required: false
          type: string
          x-example: 2
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: orderBy
          in: query
          description: Model attribute which will be using for ordering
          required: false
          type: string
          x-example: value
        - name: schema.name
          in: query
          description: Schema class ID
          required: false
          type: string
          x-example: _xdm.context.profile
        - name: default
          in: query
          description: default flag
          required: false
          type: boolean
          x-example: true
      responses:
        '200':
          description: List of merge policies returned
          schema:
            $ref: '#/definitions/MergePoliciesResponse'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      tags:
        - Merge policies
      summary: Create a new merge policy.
      description: ''
      operationId: post
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'           
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: merge policy object
          required: true
          schema:
            $ref: '#/definitions/MergePolicy'
      responses:
        '200':
          description: Merge Policy successfully created
          schema:
            $ref: '#/definitions/MergePolicy'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/config/mergePolicies/{mergePolicyId}':
    get:
      tags:
        - Merge policies
      summary: Lookup a merge policy by ID.
      description: ''
      operationId: getById
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/mergePolicyId'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      responses:
        '200':
          description: MergePolicy successfully returned
          schema:
            $ref: '#/definitions/MergePolicy'
        '403':
          description: Forbidden
        '404':
          description: MergePolicy not found
        '503':
          description: Service Unavailable
    put:
      tags:
      - Merge policies
      summary: Update a merge policy by ID.
      description: ''
      operationId: put
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/mergePolicyId'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: merge policy object
          required: true
          schema:
            $ref: '#/definitions/MergePolicy'
      responses:
        '200':
          description: Merge Policy successfully updated
          schema:
            $ref: '#/definitions/MergePolicy'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    patch:
      tags:
      - Merge policies
      summary: Update one or more attributes of a merge policy specified by ID.
      description: ''
      operationId: patch
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/mergePolicyId'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - name: x-profile-instance-id
        in: header
        description: Profile Instance ID
        required: true
        type: string
        x-example: ups
      - name: x-request-id
        in: header
        description: Request Id
        required: false
        type: string
        x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      - in: body
        name: body
        description: a list of patch operation
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchOperation'
      responses:
        '200':
          description: Merge Policy successfully updated
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Merge policies
      summary: Delete a merge policy by ID.
      description: ''
      operationId: delete
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/mergePolicyId'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      responses:
        '200':
          description: Merge Policy deleted successfully
        '403':
          description: Forbidden
        '404':
          description: MergePolicy not found
        '503':
          description: Service Unavailable
  '/access/entities':
    get:
      tags:
        - Entities
      summary: Lookup an entity by ID or namespace.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: schema.name
          in: query
          description: XED schema class name.
          type: string
          required: true
          x-example: "_xdm.context.profile"
        - name: relatedSchema.name
          in: query
          description: XDM schema class name that the ExperienceEvent is associated with. Used when looking up ExperienceEvents.
          type: string
          required: false
          x-example: "_xdm.context.profile"
        - name: entityId
          in: query
          description: 'ID of the entity. For Native XID lookup, use `entityId=<XID>` and leave `entityIdNS` absent; For ID:NS lookup, use both `entityId` and `entityIdNS` fields.'
          type: string
          required: false
          x-example: "GtghAUFkdGVzdDE"
        - name: entityIdNS
          in: query
          description: 'Identity Namespace code. Used for ID:NS lookup. If this field is used, `entityId` cannot be empty.'
          type: string
          required: false
          x-example: "UPS1"
        - name: relatedEntityId
          in: query
          description: 'ID of the entity that the ExperienceEvents are associated with. Used when looking up ExperienceEvents. For Native XID lookup, use `relatedEntityId=<XID>` and leave `relatedEntityIdNS` absent; For ID:NS lookup, use both `relatedEntityId` and `relatedEntityIdNS` fields.'
          type: string
          required: false
          x-example: "GtghAUFkdGVzdDE"
        - name: relatedEntityIdNS
          in: query
          description: 'Identity Namespace code of the related entity ID of ExperienceEvent. Used when looking up ExperienceEvents. If this field is used, `entityId` cannot be empty.'
          type: string
          required: false
          x-example: "UPS1"
        - name: fields
          in: query
          description: Fields for the model object. By default, all fields will be fetched. Separated by comma.
          required: false
          type: string
          x-example: "person.name.firstName,person.name.lastName"
        - name: mergePolicyId
          in: query
          description: 'ID of the merge policy. A merge policy includes information for Identity stitching and key-value XDM object merging. If not present, the default merge policy will be used.'
          required: false
          type: string
          x-example: 'example-mergePolicy'
        - name: startTime
          in: query
          description: 'Start time of Time range filter for ExperienceEvents. Should be at millisecond granularity. Included. Default: From beginning.'
          x-example: '1539838505'
          required: false
          type: number
        - name: endTime
          in: query
          description: 'End time of Time range filter for ExperienceEvents. Should be at millisecond granularity. Excluded. Default: To the end.'
          x-example: '1539838510'
          required: false
          type: number
        - name: limit
          in: query
          description: 'Number of records to return from the result. Only for time-series objects. Default: 1000'
          x-example: 10
          required: false
          type: number
        - name: orderby
          in: query
          description: 'The sort order of retrieved ExperienceEvents by timestamp. Syntax: (+/-)timestamp. Default: +timestamp'
          x-example: '-timestamp'
          required: false
          type: string
      responses:
        '200':
          description: XDM object(s) successfully returned.
          schema:
            $ref: '#/definitions/GetXDMObjectResponseEntity'
        '400':
          description: Bad Request.
          schema:
            $ref: '#/definitions/ResponseErrorContext'
        '422':
          description: Syntax is correct but Profile Access is not able to process your request.
          schema:
            $ref: '#/definitions/ResponseErrorContext'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ForbiddenError'
        '404':
          description: XDM objects not found.
          schema:
            $ref: '#/definitions/NotFoundError'
        '429':
          description: Too many requests. Please try again later.
          schema:
            type: array
            items:
              $ref: '#/definitions/TooManyRequestError'
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/ResponseInternalErrorContext'
    post:
      tags:
        - Entities
      summary: Lookup multiple entities by IDs or namespaces.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'        
        - in: body
          name: body
          description: XDM objects to be created. Each object should be in JSON format.
          required: true
          schema:
            $ref: '#/definitions/PostRequestBodyEntity'
      responses:
        '200':
          description: XDM objects successfully returned.
          schema:
            $ref: '#/definitions/GetXDMObjectResponseEntity'
        '207':
          description: Failed to get records for some recordIds.
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorResponseById'
        '400':
          description: Bad Request.
          schema:
            $ref: '#/definitions/ResponseErrorContext'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ForbiddenError'
        '404':
          description: XDM objects not found
          schema:
            $ref: '#/definitions/NotFoundError'
        '429':
          description: Too many requests. Please try again later.
          schema:
            type: array
            items:
              $ref: '#/definitions/TooManyRequestError'
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/ResponseInternalErrorContext'
    delete:
      tags:
        - Entities
      summary: Delete an entity by ID.
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: schema.name
          in: query
          description: Name of the associated XDM schema.
          required: true
          type: string
          x-example: '_xdm.context.profile'
        - name: entityId
          in: query
          description: 'ID of the entity. For Native XID, use `entityId=<XID>` and leave `entityIdNS` absent; For ID:NS, use both `entityId` and `entityIdNS` fields.'
          type: string
          required: false
          x-example: 'GtghAUFkdGVzdDE'
        - name: entityIdNS
          in: query
          description: 'Identity Namespace code. Used for ID:NS. If this field is used, `entityId` cannot be empty.'
          type: string
          required: false
          x-example: 'ECID'
        - name: mergePolicyId
          in: query
          description: 'ID of the merge policy. A merge policy includes information for Identity stitching and key-value XDM object merging. If not present, the default merge policy will be used.'
          required: false
          type: string
          x-example: '963d71a1-9875-4aea-a52b-c5c7a2504cae'
      responses:
        '202':
          description: Accepted
        '207':
          description: Failed to delete records with some IDs.
          schema:
            type: array
            items:
              $ref: '#/definitions/ErrorResponseById'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ResponseErrorContext'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenError'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/NotFoundError'
        '429':
          description: Too many requests. Please try again later.
          schema:
            type: array
            items:
              $ref: '#/definitions/TooManyRequestError'
        '500':
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/ResponseInternalErrorContext'
  '/export/jobs':
    get:
      tags:
        - Export jobs
      summary: Retrieve a list of all export jobs.
      description: ''
      operationId: getScanJobsRoute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: limit
          in: query
          description: Limit the number of export jobs returned in the list.
          required: false
          type: integer
        - name: offset
          in: query
          description: Offset the page of results returned (ordered by created time of resource)
          required: false
          type: string
        - name: status
          in: query
          description: Filter the export jobs returned by job status. Possible values are "NEW", "SUCCEEDED", and "FAILED".
          required: false
          type: string
      responses:
        '200':
          description: List of export jobs returned
          schema:
            $ref: '#/definitions/ScanJobsPageResponse'
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
    post:
      tags:
        - Export jobs
      summary: Create a new export job.
      description: ''
      operationId: postScanJobRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: false
          type: string
        - in: body
          name: body
          description: >- 
            * <strong>fields</strong> - [Optional] Column filters (comma-separated list of columns in dot notation). Limits the data fields to be included in the export to only those provided in this parameter. The same parameter is also available when creating a segment, therefore the fields in the segment may have already been filtered. Omitting this value will result in all fields being included in the exported data.
            
            * <strong>mergePolicy</strong> - [Optional] Specifies the merge policy to govern the exported data. Include this parameter when there are multiple segments being exported. Omitting this value will cause the Export Service to use the merge policy provided by the segmentId or snapshotName
                * <strong>id</strong> - The ID of the merge policy.
                * <strong>version</strong> - The specific version of the merge policy to use. Omitting this value will default to the most recent version.
            * <strong>filter</strong> - [Optional] Specifies one or more of the following filters to apply to the segment before export.
                * <strong>segments</strong> - [Optional] Specifies the segments to export. Omitting this value will result in all data from all profiles being exported. Accepts an array of segment objects, each containing the following fields:
                    * <strong>segmentId</strong> - <strong>[Required if specifying segments]</strong> Segment ID for profiles to be exported.
                    * <strong>segmentNs</strong> - [Optional] Segment namespace for the given segmentId.
                    * <strong>status</strong> - [Optional] An array of strings providing a status filter for the `segmentID`. By default, `status` will have the value `["realized", "existing"]` which represents all profiles that fall into the segment at the current time. Possible values include: `"realized"`, `"existing"`, and `"exited"`.
                * <strong>segmentQualificationTime</strong> - [Optional] Filter based on segment qualification time. The start time and/or end time can be provided.
                    * <strong>startTime</strong> - [Optional] Segment qualification start time for a segment ID for a given status. It not provided, there will be no filter on the start time for a segment ID qualification. The timestamp must be provided in [RFC 3339](https://tools.ietf.org/html/rfc3339) format.
                    * <strong>endTime</strong> - [Optional] Segment qualification end time for a segment ID for a given status. It not provided, there will be no filter on the end time for a segment ID qualification. The timestamp must be provided in [RFC 3339](https://tools.ietf.org/html/rfc3339) format.
                * <strong>fromIngestTimestamp</strong> - [Optional] Filters the resulting profiles to those that have been updated after the provided timestamp. Value is provided in RFC 3339 format. Supports `greater_than` operand.
                * <strong>emptyProfiles</strong> - [Optional] Boolean. Profiles can contain Profile records, ExperienceEvent records, or both. Profiles with no Profile records and only ExperienceEvent records are referred to as "emptyProfiles". To export all profiles in the Profile store, including the "emptyProfiles", set the value of "emptyProfiles" to `true`. If "emptyProfiles" is set to `false`, only profiles with Profile records in the store are exported. By default, if "emptyProfiles" attribute is not included, only profiles containing Profile records are exported.
            * <strong>additionalFields</strong> - [Optional] Additional profile fields that need to be exported.
                * <strong>eventList</strong> - Used if ExperienceEvents need to be exported with profiles.
                    * <strong>fields</strong> - Comma-separated list of ExperienceEvent fields to be included in the export. If not provided, all ExperienceEvent fields are exported.
                    * <strong>filter</strong> - Filters ExperienceEvents based on the parameters below. If not provided, all events corresponding to the resulting profiles will be exported.
                        * <strong>fromIngestTimestamp</strong> - Filters ExperienceEvents to those that have been updated after the provided timestamp. This is not the event time itself but the ingestion time for the events. Value is provided in RFC 3339 format.
            * <strong>destination</strong> - <strong>[Required]</strong> Destination information for the exported data.
                * <strong>datasetId</strong> - <strong>[Required]</strong> The ID of the dataset where data is to be exported.
                * <strong>segmentPerBatch</strong> [Optional] A Boolean value that, if not provided, defaults to false. A value of false exports all segment IDs into a single batch ID. A value of true exports one segment ID into one batch ID.
            * <strong>schema.name</strong> - <strong>[Required]</strong> The name of the schema associated with the dataset where data is to be exported.
          required: true
          schema:
            $ref: '#/definitions/ScanJobEntityRequest'
      responses:
        '200':
          description: Export job successfully created
          schema:
            $ref: '#/definitions/ScanJobResponse'
          headers:
            X-Location:
              type: string
              description: HREF to the export job
        '403':
          description: Forbidden
        '503':
          description: Service Unavailable
  '/export/jobs/{exportJobId}':
    get:
      tags:
        - Export jobs
      summary: Lookup an export job by ID.
      description: ''
      operationId: getScanJobRoute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: exportJobId
          in: path
          description: Export job ID
          required: true
          type: string
      responses:
        '200':
          description: Export job successfully Returned
          schema:
            $ref: '#/definitions/ScanJobResponse'
        '403':
          description: Forbidden
        '404':
          description: Export job not found
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Export jobs
      summary: Cancel or delete an export job by ID.
      description: ''
      operationId: cancelScanJobRoute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: exportJobId
          in: path
          description: Export job ID
          required: true
          type: string
      responses:
        '200':
          description: Export job cancelled successfully
          schema:
            $ref: '#/definitions/ExportMessageResponse'
        '403':
          description: Forbidden
        '404':
          description: Export job not found
        '503':
          description: Service Unavailable
  '/segment/definitions':
    get:
      tags:
      - Segment definitions
      summary: Retrieve a list of segment definitions.
      description: ''
      operationId: getSegmentsRoute
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
        - name: start
          in: query
          description: Page offset - As per created time of resource
          required: false
          type: integer
          format: int64
          x-example: 109103839
        - name: limit
          in: query
          description: Page size
          required: false
          type: integer
          x-example: 10
        - name: page
          in: query
          description: Page number
          required: false
          type: integer
          x-example: 0
        - name: sort
          in: query
          description: Sort parameters
          required: false
          type: string
          x-example: sort=name:asc,internalId:desc
      responses:
        '200':
          description: List of Profile segment definitions returned
          schema:
            "$ref": "#/definitions/SegmentDefinition"
        '403':
          description: Forbidden
        '503':
          description: Service unavailable
    post:
      tags:
      - Segment definitions
      summary: Create a new segment definition.
      description: ''
      operationId: postSegmentRoute
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
        - $ref: '#/parameters/segment-body'
      responses:
        '200':
          description: Profile segment definition successfully posted
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HRef to the Profile segment definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '422':
          description: Profile segment definition already exists. Please do patch
            to update.
        '503':
          description: Service unavailable
  '/segment/definitions/{segmentId}':
    get:
      tags:
      - Segment definitions
      summary: Lookup a segment definition by ID.
      description: ''
      operationId: getSegmentRoute
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/segmentId'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      responses:
        '200':
          description: Profile segment definition successfully returned
          schema:
            "$ref": "#/definitions/SegmentDefinition"
        '403':
          description: Forbidden
        '404':
          description: Profile segment definition not found
        '503':
          description: Service unavailable
    delete:
      tags:
      - Segment definitions
      summary: Delete a segment definition by ID.
      description: ''
      operationId: deleteSegmentRoute
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/segmentId'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
      responses:
        '200':
          description: Profile segment definition deleted successfully
          schema:
            "$ref": "#/definitions/MessageResponse"
        '403':
          description: Forbidden
        '503':
          description: Service unavailable
    patch:
      tags:
        - Segment definitions
      summary: Overwrite a segment definition.
      operationId: patchSegmentRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/segmentId'
        - $ref: '#/parameters/content-type'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
        - $ref: '#/parameters/segment-body'
      responses:
        '200':
          description: Profile segment definition successfully updated
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HREF to the segment definition
        '400':
          description: Invalid profile segment
        '403':
          description: Forbidden
        '503':
          description: Service unavailable
  '/segment/conversion':
    post:
      tags:
        - PQL conversions
      summary: Convert PQL formatting between pql/text and pql/json.
      operationId: postSegmentConversionRoute
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - name: x-request-id
          in: header
          description: Unique ID per request
          required: true
          type: string
          x-example: jRot0Q3pgFi2lmLecebqHGTfnApAwVnQ
        - $ref: '#/parameters/segment-body'
      responses:
        '200':
          description: Profile segment definition successfully converted
          schema:
            "$ref": "#/definitions/SegmentDefinition"
          headers:
            X-Location:
              type: string
              description: HREF to the Profile segment definition
        '400':
          description: Invalid profile segment
        '503':
          description: Service unavailable
  '/segment/jobs':
    get:
      tags:
        - Segment jobs
      summary: Retrieve a list of all segment job requests.
      description: ''
      operationId: get
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: snapshot.name
          in: query
          description: The snapshot name
          required: false
          type: string
          x-example: inUS
        - name: start
          in: query
          description: Page Offset - As per created Time of resource
          required: false
          type: integer
          format: int64
          x-example: 2
        - name: limit
          in: query
          description: Page Size
          required: false
          type: integer
          x-example: 10
        - name: status
          in: query
          description: The job status
          required: false
          type: string
          x-example: PROCESSING
      responses:
        '200':
          description: List of segment job requests returned
          schema:
            $ref: '#/definitions/SegmentJob'
        '403':
          description: Forbidden
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service unavailable
    post:
      tags:
        - Segment jobs
      summary: Create a new segment job request.
      operationId: postSJRRoute
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'        
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: List of segment jobs. Each should be in Json format.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SegmentJobRequest'
      responses:
        '200':
          description: Segment job request successfully posted
          schema:
            $ref: '#/definitions/SegmentJob'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Too many segmentation jobs in processing at the moment. Please try again at a later time!
        '500':
          description: There was issue reading the segment job from DB
        '503':
          description: Service unavailable
  '/segment/jobs/{segmentJobId}':
    get:
      tags:
        - Segment jobs
      summary: Lookup a segment job request by ID.
      description: ''
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/segmentJobId'
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
      responses:
        '200':
          description: Segment job request successfully returned
          schema:
            $ref: '#/definitions/SegmentJob'
        '403':
          description: Forbidden
        '404':
          description: Segment job request not found
        '503':
          description: Service unavailable
    delete:
      tags:
        - Segment jobs
      summary: Cancel or delete a segment job request by ID.
      description: ''
      operationId: cancel
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/segmentJobId'
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA

      responses:
        '200':
          description: Segment job request has been marked for cancelling
          schema:
            $ref: '#/definitions/StandardResponse'
        '403':
          description: Forbidden
        '404':
          description: Segment job request not found
        '503':
          description: Service unavailable
  '/preview':
    post:
      tags:
      - "Previews"
      summary: "Create a new preview job."
      operationId: "postSessionlessPreviewRoute"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - in: "body"
          name: "body"
          description: >- 
            `predicateExpression` - The predicate expression that is to be evaluated.
            
            `predicateType` - (Default: PQL) The only value that is available to use for this is PQL for now.
            
            `predicateModel` - (Default: xdm.model.profile) The model against which this predicate is to be evaluated. Please note that 'touchpoint' is not treated as model as it can be associated with any of the models like profile.
            
            `graphType` - The graph type that you want to get the cluster from. Possible values are "none" (perform no identity stitching) and "pdg" (perform identity stitching based on your private identity graph).
          required: true
          schema:
            $ref: "#/definitions/PreviewQuerySessionlessRequest"
      responses:
        201:
          description: "Profile Preview successfully posted"
          schema:
            $ref: "#/definitions/PreviewQueryResponse"
          headers:
            X-Location:
              type: "string"
              description: "HREF to the Profile Preview"
        403:
          description: "Forbidden"
        503:
          description: "Service unavailable"
  '/preview/{previewId}':
    get:
      tags:
      - "Previews"
      summary: "Lookup the results of a preview job by ID."
      description: ""
      operationId: "getSessionlessPreviewStatusRoute"
      produces:
      - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/previewId'
        - name: "offset"
          in: "query"
          description: "Page offset"
          required: false
          type: "string"
          x-example: "offset=10200"
        - name: "limit"
          in: "query"
          description: "How many entries should be present in a page. 1000 if not specified."
          required: false
          type: "integer"
          x-example: 100
      responses:
        200:
          description: "XDM model objects of given {jobId} successfully returned."
          schema:
            $ref: "#/definitions/EndCustomerEntityPageResponse"
        403:
          description: "You are forbidden to make this request."
        404:
          description: " Preview jobId {jobId} does not exist."
        503:
          description: "Service unavailable"
    delete:
      tags:
      - "Previews"
      summary: "Cancel or delete a preview job by ID."
      operationId: "deleteSessionLessPreviewStatusRoute"
      produces:
      - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/previewId'
      responses:
        200:
          description: "Job successfully cancelled"
          schema:
            $ref: "#/definitions/MessageResponse"
        403:
          description: "You are forbidden to make this request."
        404:
          description: "Preview jobId {jobId} does not exist."
        503:
          description: "Service unavailable"
  '/estimate/{previewId}':
    get:
      tags:
      - "Estimates"
      summary: "Lookup the results of an estimate job by ID."
      operationId: "getEstimateStatusRoute"
      produces:
      - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/previewId'      
      responses:
        200:
          description: "Estimate successfully retrieved."
          schema:
            $ref: "#/definitions/EstimateResponse"
        403:
          description: "You are forbidden to make this request."
        404:
          description: "Preview ID {previewId} does not exist."
        503:
          description: "Service unavailable"
  '/config/projections':
    get:
      tags:
        - Projection configurations
      summary: Retrieve a list of edge projection configurations. The latest definitions are returned.
      description: ''
      operationId: listProjectionConfigurations
      produces:
        - application/vnd.adobe.platform.projectionConfigList+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key'      
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - name: schemaName
          in: query
          description: XDM schema name
          required: false
          type: string
          x-example: Profile
        - name: name
          in: query
          description: projection name
          required: false
          type: string
          x-example: mobile_profile
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '200':
          description: The edge projection configuration is returned.
          schema:
            $ref: '#/definitions/ProjectionConfigurationList'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    post:
      tags:
        - Projection configurations
      summary: Create a new edge projection configuration.
      description: 'The API response is immediate, but the actual changes to the projections on the edges take place asynchronously. There is no guarantee that changes to the definition of the projection are reflected instantly on the edges. It is best to assume that there is a noticeable amount of time between the update of the definition of the projection and the update of the actual projection on any edge.'
      operationId: createProjectionConfiguration
      consumes:
        - application/vnd.adobe.platform.projectionConfig+json; version=1
      produces:
        - application/vnd.adobe.platform.projectionConfig+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key'  
        - name: schemaName
          in: query
          description: XDM schema name
          required: true
          type: string
          x-example: Profile
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/InputProjectionConfig'
          x-examples:
            properties: 'person.gender,addresses.city,phoneNumbers.number'
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '201':
          description: Creation was successful.
          schema:
            $ref: '#/definitions/ProjectionConfig'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '409':
          description: Projection config already exists.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
  '/config/projections/{projectionid}':
    get:
      tags:
        - Projection configurations
      summary: Lookup an edge projection configuration by ID. The latest definition is returned.
      description: ''
      operationId: getProjectionConfiguration
      produces:
        - application/vnd.adobe.platform.projectionConfig+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key'
        - name: projectionid
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '200':
          description: The edge projection configuration is returned.
          schema:
            $ref: '#/definitions/ProjectionConfig'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: The edge projection configuration has not yet been created.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    put:
      tags:
        - Projection configurations
      summary: Create or update an edge projection configuration by ID. Overwrites the entire configuration.
      description: 'The API response is immediate, but the actual changes to the projections on the edges take place asynchronously. There is no guarantee that changes to the definition of the projection are reflected instantly on the edges. It is best to assume that there is a noticeable amount of time between the update of the definition of the projection and the update of the actual projection on any edge.'
      operationId: updateProjectionConfiguration
      consumes:
        - application/vnd.adobe.platform.projectionConfig+json; version=1
      produces:
        - application/vnd.adobe.platform.projectionConfig+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key'      
        - name: projectionid
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/InputProjectionConfig'          
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '200':
          description: Update was successful.
          schema:
            $ref: '#/definitions/ProjectionConfig'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: Projection config not found.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    delete:
      tags:
        - Projection configurations
      summary: Delete an edge projection configuration by ID.
      description: 'API response is immediate, but the actual changes to the projections on the edges take place asynchronously. Eventually, the result is that the profile data for the given customer will be wiped from all edges.'
      operationId: deleteProjectionConfiguration
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key'      
        - name: projectionid
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '204':
          description: The edge projection configuration is successfully deleted.
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: The edge projection configuration has not yet been created.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
  '/config/destinations':
    get:
      tags:
        - Projection destinations
      summary: Retrieve a list of edge projection destinations. The latest definitions are returned.
      operationId: listProjectionDestinations
      produces:
        - application/vnd.adobe.platform.projectionDestinationList+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key' 
        - $ref: '#/parameters/x-request-id'
      responses:
        '200':
          description: The projection destination is returned.
          schema:
            $ref: '#/definitions/ProjectionDestinationRepresentation'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: The projection destination has not yet been created.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    post:
      tags:
        - Projection destinations
      summary: Create a new edge projection destination.
      description: 'The API response is immediate, but the actual changes to the projections on the edges take place asynchronously. There is no guarantee that changes to the definition of the projection are reflected instantly on the edges. It is best to assume that there is a noticeable amount of time between the update of the definition of the projection and the update of the actual projection on any edge.'
      operationId: createProjectionDestination
      consumes:
        - application/vnd.adobe.platform.projectionDestination+json; version=1
      produces:
        - application/vnd.adobe.platform.projectionDestination+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key' 
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/InputProjectionDestination'
          x-examples:
            type: EDGE          
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '201':
          description: Creation was successful.
          schema:
            $ref: '#/definitions/ProjectionDestinationRepresentation'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '409':
          description: Projection destination already exists.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
  '/config/destinations/{destinationId}':
    get:
      tags:
        - Projection destinations
      summary: Lookup an edge projection destination by ID. The latest definition is returned.
      description: ''
      operationId: getProjectionDestination
      produces:
        - application/vnd.adobe.platform.projectionDestination+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key' 
        - name: destinationId
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '200':
          description: The projection destination is returned.
          schema:
            $ref: '#/definitions/ProjectionDestinationRepresentation'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: The projection destination has not yet been created.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    put:
      tags:
        - Projection destinations
      summary: Create or update an edge projection destination by ID. Overwrites the entire configuration.
      description: 'The API response is immediate, but the actual changes to the projections on the edges take place asynchronously. There is no guarantee whatsoever that changes to the definition of the projection are reflected instantly on the edges – in fact, it''s best to assume that there is a noticeable amount of time between the update of the definition of the projection and the update of the actual projection on any edge.'
      operationId: putProjectionDestination
      consumes:
        - application/vnd.adobe.platform.projectionDestination+json; version=1
      produces:
        - application/vnd.adobe.platform.projectionDestination+json; version=1
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key' 
        - name: destinationId
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/InputProjectionDestination'
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '200':
          description: Update was successful.
          schema:
            $ref: '#/definitions/ProjectionDestinationRepresentation'
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: Projection destination not found.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
    delete:
      tags:
        - Projection destinations
      summary: Delete an edge projection destination by ID.
      description: 'API response is immediate, but the actual changes to the projections on the edges take place asynchronously. Eventually, the result is that the profile data for the given customer will be wiped from all edges.'
      operationId: deleteProjectionDestination
      parameters:
        - $ref: '#/parameters/authorization'        
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-api-key' 
        - name: destinationId
          in: path
          required: true
          type: string
          pattern: '[0-9a-zA-Z\-]+'
        - name: x-gw-ims-authorization
          in: header
          description: Gateway IMS service token.
          required: true
          type: string
          x-example: Bearer <token>
        - name: x-user-token
          in: header
          description: User access token.
          required: false
          type: string
          x-example: Bearer <token>
        - name: x-request-id
          in: header
          description: Optional header that may be used for debugging purposes when investigating issues with a client flow. The same ID can be used to identify a single request to the service from a flow. A new ID should be created for each request.
          required: false
          type: string
          x-example: d41ee840-0a10-4393-ab55-12fa54cb6172
      responses:
        '204':
          description: The edge projection destination is successfully deleted.
        '400':
          description: The request is malformed.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '401':
          description: The request has not been applied because it lacks valid authentication credentials for the target resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '403':
          description: The requester is not authorized to access the resource.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '404':
          description: The edge projection destination has not yet been created.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '405':
          description: Client sent a request using a HTTP method that the server doesn't support.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '406':
          description: Unacceptable content type. Client sent an Accept header for a content type which does not exist on the server.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '409':
          description: The projection destination is still referenced by a projection configuration
          schema:
            $ref: '#/definitions/ProblemDetail'
        '422':
          description: Client sent a correct request that contained invalid values for one or more parameters.
          schema:
            $ref: '#/definitions/ProblemDetail'
        '500':
          description: This is an indicator of a server-side error.
        '502':
          description: This is an indicator that the back-end service did not send a valid response.
        '503':
          description: This is an indicator of a potential server overload.
        '504':
          description: This is an indicator that the back-end service did not complete a response within an allowed time period.
  '/config/eventTypes':
    get:
      tags:
        - Event types
      summary: Retrieve a list of event types.
      description: ''
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-request-id'
        - name: start
          in: query
          description: Page offset for the response. Default is 0.
          required: false
          type: integer
          x-example: 2
        - name: limit
          in: query
          description: Page size
          required: false
          type: integer
          x-example: 10
        - name: orderBy
          in: query
          description: The model attribute to be used for ordering.
          required: false
          type: string
          x-example: value
      responses:
        '200':
          description: A list of event types returned.
          schema:
            $ref: '#/definitions/EventTypesResponse'
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
    post:
      tags:
        - Event types
      summary: Create a new event type.
      description: ''
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/x-profile-instance-id'
        - $ref: '#/parameters/x-request-id'
        - $ref: '#/parameters/event-type-body'
      responses:
        '200':
          description: Event type successfully created.
          schema:
            $ref: '#/definitions/EventType'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
  '/config/eventTypes/{eventTypeId}':
    get:
      tags:
        - Event types
      summary: Lookup an event type by ID.
      description: ''
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/eventTypeId'        
        - $ref: '#/parameters/x-request-id'
      responses:
        '200':
          description: Event type successfully returned.
          schema:
            $ref: '#/definitions/EventType'
        '403':
          description: Forbidden
        '404':
          description: Event type not found.
        '503':
          description: Service unavailable.
    put:
      tags:
      - Event types
      summary: Overwrite an event type by ID.
      description: ''
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/eventTypeId'
        - $ref: '#/parameters/x-profile-instance-id'
        - $ref: '#/parameters/x-request-id'
        - $ref: '#/parameters/event-type-body'
      responses:
        '200':
          description: Event Type successfully updated
          schema:
            $ref: '#/definitions/EventType'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    patch:
      tags:
      - Event types
      summary: Update one or more attributes of an event type by ID.
      description: ''
      produces:
      - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'      
        - $ref: '#/parameters/eventTypeId'
        - $ref: '#/parameters/x-profile-instance-id'
        - $ref: '#/parameters/x-request-id'
        - in: body
          name: body
          description: A list of patch operations
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/EventPatchOperation'
      responses:
        '200':
          description: Event Type successfully updated
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    delete:
      tags:
        - Event types
      summary: Delete an event type by ID.
      description: ''
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/eventTypeId'
        - $ref: '#/parameters/x-request-id'
      responses:
        '200':
          description: EventType deleted successfully
        '403':
          description: Forbidden
        '404':
          description: EventType not found
        '503':
          description: Service Unavailable
  '/config/macros':
    get:
      tags:
        - Macros
      summary: Retrieve a list of all macros for your organization.
      description: "Warning: The macros endpoint is deprecated."
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - name: start
          in: query
          description: Page offset (at the created time of resource)
          required: false
          type: string
          x-example: 2
        - name: limit
          in: query
          description: Maximum number of objects to display on each page.
          required: false
          type: integer
          x-example: 10
        - name: orderBy
          in: query
          description: Model attribute which will be using for ordering.
          required: false
          type: string
          x-example: value
        - name: dataSetId
          in: query
          description: Dataset ID.
          required: false
          type: string
          x-example: 5c48b93a53214114cf85e378
        - name: schemaClassId
          in: query
          description: Schema class ID.
          required: false
          type: string
          x-example: _xdm.context.profile
        - name: value
          in: query
          description: Event type value.
          required: false
          type: string
          x-example: click
      responses:
        '200':
          description: a list of macros returned
          schema:
            $ref: '#/definitions/MacrosResponse'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
    post:
      tags:
        - Macros
      summary: Create a new macro.
      description: "Warning: The macros endpoint is deprecated."
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: x-profile-instance-id
          in: header
          description: Profile Instance ID
          required: true
          type: string
          x-example: ups
        - name: x-request-id
          in: header
          description: Request ID
          required: false
          type: string
          x-example: q0gf6caRuRtX2s5khaN1Zgd1OoEXcPJA
        - in: body
          name: body
          description: macro object
          required: true
          schema:
            $ref: '#/definitions/Macro'
      responses:
        '200':
          description: Macro successfully created
          schema:
            $ref: '#/definitions/Macro'
        '400':
          description: Please double check your post body
        '403':
          description: Forbidden
        '429':
          description: Request rate too large!
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  '/config/macros/{macroId}':
    get:
      tags:
        - Macros
      summary: Lookup a macro by ID.
      description: "Warning: The macros endpoint is deprecated."
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/macroId'
        - name: x-request-id
          in: header
          description: Request Id
          required: false
          type: string
[...]
